/// @alias gap
///
/// @access public
///
/// @require {function} gap
///
/// @return {number}
@function pad($size:1) {
  @return gap($size);
}

$padding : $gaps !default;
$pad     : $gap  !default;
$pad0    : $gap0 !default;
$pad1    : $gap1 !default;
$pad2    : $gap2 !default;
$pad3    : $gap3 !default;
$pad4    : $gap4 !default;
$pad5    : $gap5 !default;
