@mixin input-style($settings : ()) {

  // ------------------------------------------------------------------------ //
  // Default settings that get merged in with the mass passed through.
  // ------------------------------------------------------------------------ //

  $default-settings : (
    note-font-size        : $font-size - 2px,
    note-text-colour      : $black,
    static-colour         : #a9a9a9,
    border-radius         : 0,
    error-colour          : $red,
    success-colour        : $green,
    bar-height            : 2px,
    border-width          : 1,
    carat-colour          : $black,
    border-style          : solid,
    input : (
      height    : 50px,
      font-size : $font-size + px,
      padding   : $gap0 $gap
    ),
    placeholder : (
      style     : halfway,
      padding   : 0 $gap0,
      offset    : $gap0,
      reduction : 0.1
    ),
    active : (
      background-colour  : $white,
      placeholder-colour : primary,
      asterisk-colour    : primary,
      text-colour        : $black,
      note-colour        : #a9a9a9,
      border-colour     : #a9a9a9,
    ),
    inactive : (
      background-colour  : col($white, 0.2),
      placeholder-colour : #a9a9a9,
      asterisk-colour    : #a9a9a9,
      text-colour        : $black,
      note-colour        : #a9a9a9,
      border-colour     : #a9a9a9,
    )
  );

  // ------------------------------------------------------------------------ //
  // All settings exposed
  // ------------------------------------------------------------------------ //

  $settings : map-merge($default-settings, $settings);

  $input-height           : add-unit(map-fetch($settings, input, height));
  $input-padding          : map-fetch($settings, input, padding);
  $input-font-size        : add-unit(map-fetch($settings, input, font-size));
  $input-padding-top      : add-unit(_get-padding($input-padding, top));
  $input-padding-right    : add-unit(_get-padding($input-padding, right));
  $input-padding-bottom   : add-unit(_get-padding($input-padding, bottom));
  $input-padding-left     : add-unit(_get-padding($input-padding, left));

  $placeholder-padding        : map-fetch($settings, placeholder, padding);
  $placeholder-style          : map-fetch($settings, placeholder, style);
  $placeholder-reduction      : map-fetch($settings, placeholder, reduction);
  $placeholder-offset           : add-unit(map-fetch($settings, placeholder, offset));
  $placeholder-padding-top    : add-unit(_get-padding($placeholder-padding, top));
  $placeholder-padding-right  : add-unit(_get-padding($placeholder-padding, right));
  $placeholder-padding-bottom : add-unit(_get-padding($placeholder-padding, bottom));
  $placeholder-padding-left   : add-unit(_get-padding($placeholder-padding, left));

  $note-font-size             : add-unit(map-get($settings, note-font-size));
  $note-text-colour           : map-get($settings, note-text-colour);
  $radius                     : add-unit(map-get($settings, border-radius));
  $form-background            : map-get($settings, form-background-colour);
  $error                      : map-get($settings, error-colour);
  $success                    : map-get($settings, success-colour);
  $carat-colour               : map-get($settings, carat-colour);
  $bar-height                 : map-get($settings, bar-height);
  $border-width               : add-unit(map-fetch($settings, border-width));
  $border-style               : map-fetch($settings, border-style);

  $active-background      : map-fetch($settings, active, background-colour);
  $active-placeholder     : map-fetch($settings, active, placeholder-colour);
  $active-asterisk        : map-fetch($settings, active, asterisk-colour);
  $active-text            : map-fetch($settings, active, text-colour);
  $active-border-colour   : map-fetch($settings, active, border-colour);

  $inactive-background    : map-fetch($settings, inactive, background-colour);
  $inactive-placeholder   : map-fetch($settings, inactive, placeholder-colour);
  $inactive-asterisk      : map-fetch($settings, inactive, asterisk-colour);
  $inactive-text          : map-fetch($settings, inactive, text-colour);
  $inactive-border-colour : map-fetch($settings, inactive, border-colour);

  // ------------------------------------------------------------------------ //
  // Input field styling
  // ------------------------------------------------------------------------ //

  display:block;
  position:relative;
  background-color:inherit;

  input, textarea, select {
    // Don't show the status bar or asterisk if this field is not required
    &:not(:required) ~ field-status-bar, &:not(:required) ~ sup { display:none; }
  }

  input, textarea {

    carat-color : $carat-colour;

    // If this field is not empty, not in focus, and is invalid... show the status bar;
    &:not([value=""]):not(:focus) {

      & ~ field-status-bar:before { width:100%; }

      &:invalid {
        & ~ field-status-bar:before {
          @include var(background-color,$error);
        }
      }
    }
  }

  select {
    &::-ms-expand { display: none; }
    &:invalid ~ field-status-bar:before {
      width:0%;
    }
    &:valid ~ field-status-bar:before {
      width:100%;
    }
  }

  label {
    width:100%;
    position:relative;
    display:block;
    background-color:inherit;
    field-placeholder, field-status-bar, field-asterisk {
      position:absolute;
    }
    > *:first-child {
      display:block;
      font-size:$input-font-size;
      padding:$input-padding-top $input-padding-right $input-padding-bottom $input-padding-left;
      border:$border-width $border-style $active-border-colour;
      width:100%; min-height:$input-height;
      @include var(background-color, $active-background);
      @include placeholder(transparent)
      @if strip($radius) != 0 { @include radius($radius); }
      @include transition(background-color border-color color);
      &:not(:required) ~ field-asterisk { display:none; }
      &:valid ~ field-asterisk {
        pointer-events:none;
        &:empty { opacity:0; }
        > svg { @include var(fill, $inactive-asterisk); }
      }

      // -------------------------------------------------------------------- //
      // Inactive
      // -------------------------------------------------------------------- //
      &:placeholder-shown:not(:focus) {
        border:$border-width $border-style $inactive-border-colour;
        @include var(background-color,$inactive-background);
        @include var(color, $inactive-text);
        & ~ field-placeholder {
          left:$input-padding-left;
          top:$input-height/2;
          @if ( $placeholder-style == outside ) {
            top:$input-height/2 - $placeholder-padding-top/2 + $placeholder-padding-bottom/2;
          }
          @include var(color, $inactive-placeholder);
          padding-left:0; padding-right:0;
          @include transform(y -50%, scale 1);
          &:before {
            opacity:0;
          }
          &:empty ~ field-asterisk {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' style='fill:#{_hash-fix(primary)}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M0,9.4l1.4-4.6c3.2,1.2,5.5,2.2,7,3.1C8,4.1,7.8,1.5,7.8,0h4.4c-0.1,2.1-0.3,4.8-0.7,7.9c2.1-1.1,4.5-2.1,7.1-3.1L20,9.4 c-2.6,0.9-5.1,1.5-7.5,1.8c1.2,1.1,3,3.2,5.2,6.1L14,20c-1.2-1.7-2.6-4-4.1-6.9c-1.5,3-2.8,5.3-3.9,6.9l-3.6-2.7 c2.3-3.1,4-5.1,5-6.1C4.8,10.7,2.3,10.1,0,9.4z'/%3E%3C/svg%3E"),
            linear-gradient(transparent 50%, $inactive-background calc(50% - #{$border-width}),$inactive-background calc(50% + #{$border-width}), transparent calc(50% + #{$border-width}));
          }
        }

        @if ( $placeholder-style == halfway ) {
          & ~ field-placeholder {
            background-color:transparent;
          }
        }
      }

      @include chrome() {
        // This forces the hover state of the autofill styling to respect the label styling
        &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
          // This tricks Chrome into repainting the styling on hover/focus
          & ~ field-placeholder { opacity:1; }
          @include var(-webkit-text-fill-color, $active-text);
          -webkit-box-shadow: 0 0 0px 1000px if(is-var($active-background), var($active-background), $active-background) inset;
        }
      }
      @content;
    }
  }

  @if ( $placeholder-style == outside ) {
    margin-top:$placeholder-padding-top; ;
  }

  // -------------------------------------------------------------------- //
  // Note
  // -------------------------------------------------------------------- //

  // Change the font colour if the input-field element has an 'error' class
  &.error field-note { color:$error; }

  field-note {
    display:block;
    position:relative;
    color:$note-text-colour;
    margin-top:$input-padding-top/2;
    padding-left:$input-padding-left;
    &:empty { display:none; }
  }

  // ------------------------------------------------------------------------ //
  // Status Bar - Solid block of colour
  // ------------------------------------------------------------------------ //
  field-status-bar {
    width:100%; height:100%;
    top:0; left:0; display:block;
    pointer-events: none;
    overflow:hidden;
    @include radius($radius);
    &:before {
      content:"";
      height:$bar-height;
      width:0%;
      position:absolute;
      bottom:$border-width; left:0;
      display:block;
      @include var(background-color, $success);
      @include transition(width);
    }
  }

  // ------------------------------------------------------------------------ //
  // Field Placeholder & Asterisk - The background line
  // ------------------------------------------------------------------------ //
  field-placeholder, field-asterisk {

    top:0;

    @include flex-container(center center);
    @include transition(transform background-color padding color opacity left top);

    @if ( $placeholder-style == halfway and strip($border-width) >= 1) {
      &:before {
        content:"";
        display:block;
        position:absolute;
        z-index:-1;
        width:100%;
        top:50%; left:0;
        background-color:$active-background;
        @include transition(opacity);
        @if $border-width == 1px {
          height : (1 * $placeholder-reduction) + 1 + px;
        } @elseif $border-width == 2px {
          height : (2 * $placeholder-reduction) + 2 + 1 + px;
        } @else {
          height : ($border-width * $placeholder-reduction + $border-width)
        }
      }
    }
  }

  // ------------------------------------------------------------------------ //
  // Placeholder
  // ------------------------------------------------------------------------ //
  field-placeholder {
    font-size:$input-font-size;
    left:$placeholder-offset;
    pointer-events:none;
    padding:$placeholder-padding-top $placeholder-padding-right $placeholder-padding-bottom $placeholder-padding-left;
    @include y(-50%);
    @include var(color, $active-placeholder);
    @include transform-origin(0 50%);
    @if ( $placeholder-style == halfway ) {
      @include transform(y -50%, scale (1 - $placeholder-reduction));
      left:($placeholder-offset * $placeholder-reduction + $placeholder-offset) + $radius/2;
      padding-right:($placeholder-padding-right * $placeholder-reduction + $placeholder-padding-right);
      padding-left:($placeholder-padding-left * $placeholder-reduction + $placeholder-padding-left);
    } @elseif $placeholder-style == outside {
      @include transform(y -100%, scale (1 - $placeholder-reduction));
    }
  }

  // ------------------------------------------------------------------------ //
  // Required Asterisk and Message
  // ------------------------------------------------------------------------ //
  field-asterisk {

    padding:0 $placeholder-padding-right 0 $placeholder-padding-left;
    font-size:add-unit((strip(to-number($input-font-size))) - (strip(to-number($input-font-size))*$placeholder-reduction)*2);
    @include var(color, $active-asterisk);

    @if ( $placeholder-style == outside ) {
      top:$placeholder-padding-top/2; right:$placeholder-padding-bottom/2;
    }
    @if ( $placeholder-style == halfway ) {
      @include y(-50%);
      top:0; right:$placeholder-padding-right + $radius;
    }

    // Styling if nothing was enetered. Fallback to a static colour inline SVG.
    &:empty {
      @include size(10 + $placeholder-padding-left + $placeholder-padding-right);
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' style='fill:#{_hash-fix(primary)}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M0,9.4l1.4-4.6c3.2,1.2,5.5,2.2,7,3.1C8,4.1,7.8,1.5,7.8,0h4.4c-0.1,2.1-0.3,4.8-0.7,7.9c2.1-1.1,4.5-2.1,7.1-3.1L20,9.4 c-2.6,0.9-5.1,1.5-7.5,1.8c1.2,1.1,3,3.2,5.2,6.1L14,20c-1.2-1.7-2.6-4-4.1-6.9c-1.5,3-2.8,5.3-3.9,6.9l-3.6-2.7 c2.3-3.1,4-5.1,5-6.1C4.8,10.7,2.3,10.1,0,9.4z'/%3E%3C/svg%3E"),
      linear-gradient(transparent 50%, $active-background calc(50% - #{$border-width}),$active-background calc(50% + #{$border-width}), transparent calc(50% + #{$border-width}));
      background-position:center center;
      background-repeat:no-repeat;
      background-size:calc(100% - #{$placeholder-padding-right*2}) calc(100% - #{$placeholder-padding-right*2}), 100% 100%;
      &:before { display:none; }
    }

    // Styling if an SVG icon is used (assume it's square)
    > svg {
      @include size(10);
      @include transition(fill);
      @include var(fill, $active-asterisk);
    }

    // The required message styling
    &:after {
      position:absolute;
      opacity:0;
      font-family:Arial;
      padding:$placeholder-padding-top/2 $placeholder-padding-right $placeholder-padding-bottom/2 $placeholder-padding-left;
      right:calc(100% - #{$placeholder-offset}); top:50%;
      @if ( $placeholder-style == halfway ) {
        @include var(background-color, $active-background);
      }
      @include flex-container(center center);
      @include transition(opacity);
      @include y(-50%);
      text-align:right;
      white-space:nowrap;
      content:attr(data-notice);
    }
    &:hover:after { opacity:1; }
  }

  // ------------------------------------------------------------------------ //
  // Password Icon
  // ------------------------------------------------------------------------ //

  $password-toggle-icon-size : 20px;
  password-toggle {
    display:block;
    position:absolute;
    top:50%; right:$input-padding-right;
    @include y(-50%);
    @include size($password-toggle-icon-size);
    &:hover {

    }
    &:empty {
      background-position:center center;
      background-size:center 100% ;
      background-repeat:no-repeat;
    }
  }
  &[data-type="password"] label > *:first-child {
    padding-right:$password-toggle-icon-size + $input-padding-right*2;
    &[type="text"] ~ password-toggle {
       &:empty {
         background-image: url("data:image/svg+xml;charset=utf8,%3Csvg style='fill:#{_hash-fix(primary)}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M272.702 359.139c-80.483-9.011-136.212-86.886-116.93-167.042l116.93 167.042zM288 392c-102.556 0-192.092-54.701-240-136 21.755-36.917 52.1-68.342 88.344-91.658l-27.541-39.343C67.001 152.234 31.921 188.741 6.646 231.631a47.999 47.999 0 0 0 0 48.739C63.004 376.006 168.14 440 288 440a332.89 332.89 0 0 0 39.648-2.367l-32.021-45.744A284.16 284.16 0 0 1 288 392zm281.354-111.631c-33.232 56.394-83.421 101.742-143.554 129.492l48.116 68.74c3.801 5.429 2.48 12.912-2.949 16.712L450.23 509.83c-5.429 3.801-12.912 2.48-16.712-2.949L102.084 33.399c-3.801-5.429-2.48-12.912 2.949-16.712L125.77 2.17c5.429-3.801 12.912-2.48 16.712 2.949l55.526 79.325C226.612 76.343 256.808 72 288 72c119.86 0 224.996 63.994 281.354 159.631a48.002 48.002 0 0 1 0 48.738zM528 256c-44.157-74.933-123.677-127.27-216.162-135.007C302.042 131.078 296 144.83 296 160c0 30.928 25.072 56 56 56s56-25.072 56-56l-.001-.042c30.632 57.277 16.739 130.26-36.928 171.719l26.695 38.135C452.626 346.551 498.308 306.386 528 256z'/%3E%3C/svg%3E");
       }
     }
    &[type="password"] ~ password-toggle {
      &:empty {
         background-image: url("data:image/svg+xml;charset=utf8,%3Csvg style='fill:#{_hash-fix(primary)}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M569.354 231.631C512.97 135.949 407.81 72 288 72 168.14 72 63.004 135.994 6.646 231.631a47.999 47.999 0 0 0 0 48.739C63.031 376.051 168.19 440 288 440c119.86 0 224.996-63.994 281.354-159.631a47.997 47.997 0 0 0 0-48.738zM288 392c-102.556 0-192.091-54.701-240-136 44.157-74.933 123.677-127.27 216.162-135.007C273.958 131.078 280 144.83 280 160c0 30.928-25.072 56-56 56s-56-25.072-56-56l.001-.042C157.794 179.043 152 200.844 152 224c0 75.111 60.889 136 136 136s136-60.889 136-136c0-31.031-10.4-59.629-27.895-82.515C451.704 164.638 498.009 205.106 528 256c-47.908 81.299-137.444 136-240 136z'/%3E%3C/svg%3E");
      }
    }
    @include ie() {
      padding-right:$input-padding-right;
      & ~ password-toggle { display:none; }
    }
  }
}
