@mixin image-size($args...) {

  $defaults : (
    image    : null,
    property : null,
    prefix   : null,
  );

  $settings : get-settings($defaults, $args...);

  $image     : map-get($settings, image);
  $property  : map-get($settings, property);
  $prefix    : map-get($settings, prefix);
  $important : map-get($settings, important);

  $prefix : if(contains(min max, $prefix), #{$prefix + '-'}, null);

  #{$prefix}height : height($image, $property) $important;
  #{$prefix}width  : width($image, $property) $important;

}
