/// @author Mark Notton
/// @require postcss-inline-svg
/// @see https://github.com/TrySound/postcss-inline-svg

@mixin inline-svg($args...) {

  $defaults : (
    svg          : null,
    fill         : null,
    stroke       : null,
    stroke-width : null,
    path         : 'sprites'
  );

  $settings : get-settings($defaults, $args...);

  $svg          : map-get($settings, svg);
  $fill         : map-get($settings, fill);
  $stroke       : map-get($settings, stroke);
  $stroke-width : map-get($settings, stroke-width);
  $path         : map-get($settings, path);
  $important    : map-get($settings, important);

  @if not is-null($svg) {

    $name     : nth(string-explode($svg, '.'), 1);
    $filename : add-extension($svg, 'svg');

    @at-root (without: media) {
      @svg-load #{$name} url(#{if(is-null($path) or $path == false, '', $path+'/')+$filename}) {
        fill: $fill $important;
        stroke: $stroke $important;
        stroke-width:add-unit($stroke-width) $important;
        @content;
      }
    }

    & { background-image: svg-inline(unquote($name)) $important; }

  }

}
