@mixin transform-origin($value: 50% 50%) {

  $values : ();

  @if length($value) > 1 {
    @each $val in $value {
      $values : append($values, add-unit($val));
    }
  } @else {
    $values : add-unit($value);
  }

  transform-origin: $values;
}
