@mixin transform-origin($args...) {

	$defaults : (
		y : 50%,
		x : null
	);

	$settings : get-settings($defaults, $args...);

	$y : map-get($settings, y);
	$x : map-get($settings, x);
	$important : map-get($settings, important);

	@if is-null($x) {
		$x : $y;
	}

  transform-origin: $x $y $important;
}
