/// Casts a list of arguments into a single list of lists. 
///
/// @author Mark Notton
///
/// @access private
///
/// @argument {arglist} $values 
///
/// @example scss - Usage
///   _arglist-to-list((foo bar), lorem ipsum, 1 2 3, red);
///
/// @example scss - Output
///   ((foo bar) (lorem ipsum) (1 2 3) (red));
///
/// @return {list}

@function _arglist-to-list($args...) {

  $args: if(length($args) > 0, $args, null);

  $lists : ();

  @for $i from 1 through length($args) {

    $setting : nth($args, $i);
    @if is-arglist($setting) {
      @each $set in $setting {
        $lists : append($lists, $set);
      }
    } @else {
      $lists : append($lists, $setting);
    }
  }

  @return $lists;
}