@function get-variable-colour-value($colour, $opacity:1) {

  @if not is-colour($colour) and variable-exists(variables) {

    $value : map-get($variables, get-var-variable($colour));

    @if not is-null($value) {

      @if is-list($value) {
        $red:   nth($value, 1);
        $green: nth($value, 2);
        $blue:  nth($value, 3);
        $value : rgba($red, $green, $blue, $opacity);
      }

      $colour : $value;
    }

  }

  @return $colour;

}
