@function get-variable-colour-value($variable, $opacity:1) {

  @if variable-exists(variables) {

    $value : map-get($variables, get-var-variable($variable));

    @if not is-null($value) {

      @if is-list($value) {
        $red:   nth($value, 1);
        $green: nth($value, 2);
        $blue:  nth($value, 3);
        $value : rgba($red, $green, $blue, $opacity);
      }

      @return $value;


    } @else {

      @return $variable;

    }

  }

  @return $variable;

}
