// Convert hex value to RGB or RGBA

@function _hex-to-rgba($colour, $opacity:1) {

  @if is-hex($colour) {

    $red:   red($colour);
    $green: green($colour);
    $blue:  blue($colour);

    @return unquote("rgba(#{$red}, #{$green}, #{$blue}, #{$opacity})");

  } @else {
    
    @return $colour;

  }

}
