// ▀ Upper Half Block
$upper-half-block : "/2580";

// ▁ Lower One Eighth Block
$lower-one-eighth-block : "/2581";

// ▂ Lower One Quarter Block
$lower-one-quarter-block : "/2582";

// ▃ Lower Three Eighths Block
$lower-three-eighths-block : "/2583";

// ▄ Lower Half Block
$lower-half-block : "/2584";

// ▅ Lower Five Eighths Block
$lower-five-eighths-block : "/2585";

// ▆ Lower Three Quarters Block
$lower-three-quarters-block : "/2586";

// ▇ Lower Seven Eighths Block
$lower-seven-eighths-block : "/2587";

// █ Full Block
$full-block : "/2588";

// ▉ Left Seven Eighths Block
$left-seven-eighths-block : "/2589";

// ▊ Left Three Quarters Block
$left-three-quarters-block : "/258A";

// ▋ Left Five Eighths Block
$left-five-eighths-block : "/258B";

// ▌ Left Half Block
$left-half-block : "/258C";

// ▍ Left Three Eighths Block
$left-three-eighths-block : "/258D";

// ▎ Left One Quarter Block
$left-one-quarter-block : "/258E";

// ▏ Left One Eighth Block
$left-one-eighth-block : "/258F";

// ▐ Right Half Block
$right-half-block : "/2590";

// ░ Light Shade
$light-shade : "/2591";

// ▒ Medium Shade
$medium-shade : "/2592";

// ▓ Dark Shade
$dark-shade : "/2593";

// ▔ Upper One Eighth Block
$upper-one-eighth-block : "/2594";

// ▕ Right One Eighth Block
$right-one-eighth-block : "/2595";

// ▖ Quadrant Lower Left
$quadrant-lower-left : "/2596";

// ▗ Quadrant Lower Right
$quadrant-lower-right : "/2597";

// ▘ Quadrant Upper Left
$quadrant-upper-left : "/2598";

// ▙ Quadrant Upper Left And Lower Left And Lower Right
$quadrant-upper-left-and-lower-left-and-lower-right : "/2599";

// ▚ Quadrant Upper Left And Lower Right
$quadrant-upper-left-and-lower-right : "/259A";

// ▛ Quadrant Upper Left And Upper Right And Lower Left
$quadrant-upper-left-and-upper-right-and-lower-left : "/259B";

// ▜ Quadrant Upper Left And Upper Right And Lower Right
$quadrant-upper-left-and-upper-right-and-lower-right : "/259C";

// ▝ Quadrant Upper Right
$quadrant-upper-right : "/259D";

// ▞ Quadrant Upper Right And Lower Left
$quadrant-upper-right-and-lower-left : "/259E";

// ▟ Quadrant Upper Right And Lower Left And Lower Right
$quadrant-upper-right-and-lower-left-and-lower-right : "/259F";
