// ✁ Upper Blade Scissors
$upper-blade-scissors : "\2701";

// ✂ Black Scissors
$black-scissors : "\2702";

// ✃ Lower Blade Scissors
$lower-blade-scissors : "\2703";

// ✄ White Scissors
$white-scissors : "\2704";

// ✅ White Heavy Check Mark
$white-heavy-check-mark : "\2705";

// ✆ Telephone Location Sign
$telephone-location-sign : "\2706";

// ✇ Tape Drive
$tape-drive : "\2707";

// ✈ Airplane
$airplane : "\2708";

// ✉ Envelope
$envelope : "\2709";

// ✊ Raised Fist
$raised-fist : "\270A";

// ✋ Raised Hand
$raised-hand : "\270B";

// ✌ Victory Hand
$victory-hand : "\270C";

// ✍ Writing Hand
$writing-hand : "\270D";

// ✎ Lower Right Pencil
$lower-right-pencil : "\270E";

// ✏ Pencil
$pencil : "\270F";

// ✐ Upper Right Pencil
$upper-right-pencil : "\2710";

// ✑ White Nib
$white-nib : "\2711";

// ✒ Black Nib
$black-nib : "\2712";

// ✓ Check Mark
$check-mark : "\2713";

// ✔ Heavy Check Mark
$heavy-check-mark : "\2714";

// ✕ Multiplication X
$multiplication-x : "\2715";

// ✖ Heavy Multiplication X
$heavy-multiplication-x : "\2716";

// ✗ Ballot X
$ballot-x : "\2717";

// ✘ Heavy Ballot X
$heavy-ballot-x : "\2718";

// ✙ Outlined Greek Cross
$outlined-greek-cross : "\2719";

// ✚ Heavy Greek Cross
$heavy-greek-cross : "\271A";

// ✛ Open Centre Cross
$open-centre-cross : "\271B";

// ✜ Heavy Open Centre Cross
$heavy-open-centre-cross : "\271C";

// ✝ Latin Cross
$latin-cross : "\271D";

// ✞ Shadowed White Latin Cross
$shadowed-white-latin-cross : "\271E";

// ✟ Outlined Latin Cross
$outlined-latin-cross : "\271F";

// ✠ Maltese Cross
$maltese-cross : "\2720";

// ✡ Star Of David
$star-of-david : "\2721";

// ✢ Four Teardrop-spoked Asterisk
$four-teardrop-spoked-asterisk : "\2722";

// ✣ Four Balloon-spoked Asterisk
$four-balloon-spoked-asterisk : "\2723";

// ✤ Heavy Four Balloon-spoked Asterisk
$heavy-four-balloon-spoked-asterisk : "\2724";

// ✥ Four Club-spoked Asterisk
$four-club-spoked-asterisk : "\2725";

// ✦ Black Four Pointed Star
$black-four-pointed-star : "\2726";

// ✧ White Four Pointed Star
$white-four-pointed-star : "\2727";

// ✨ Sparkles
$sparkles : "\2728";

// ✩ Stress Outlined White Star
$stress-outlined-white-star : "\2729";

// ✪ Circled White Star
$circled-white-star : "\272A";

// ✫ Open Centre Black Star
$open-centre-black-star : "\272B";

// ✬ Black Centre White Star
$black-centre-white-star : "\272C";

// ✭ Outlined Black Star
$outlined-black-star : "\272D";

// ✮ Heavy Outlined Black Star
$heavy-outlined-black-star : "\272E";

// ✯ Pinwheel Star
$pinwheel-star : "\272F";

// ✰ Shadowed White Star
$shadowed-white-star : "\2730";

// ✱ Heavy Asterisk
$heavy-asterisk : "\2731";

// ✲ Open Centre Asterisk
$open-centre-asterisk : "\2732";

// ✳ Eight Spoked Asterisk
$eight-spoked-asterisk : "\2733";

// ✴ Eight Pointed Black Star
$eight-pointed-black-star : "\2734";

// ✵ Eight Pointed Pinwheel Star
$eight-pointed-pinwheel-star : "\2735";

// ✶ Six Pointed Black Star
$six-pointed-black-star : "\2736";

// ✷ Eight Pointed Rectilinear Black Star
$eight-pointed-rectilinear-black-star : "\2737";

// ✸ Heavy Eight Pointed Rectilinear Black Star
$heavy-eight-pointed-rectilinear-black-star : "\2738";

// ✹ Twelve Pointed Black Star
$twelve-pointed-black-star : "\2739";

// ✺ Sixteen Pointed Asterisk
$sixteen-pointed-asterisk : "\273A";

// ✻ Teardrop-spoked Asterisk
$teardrop-spoked-asterisk : "\273B";

// ✼ Open Centre Teardrop-spoked Asterisk
$open-centre-teardrop-spoked-asterisk : "\273C";

// ✽ Heavy Teardrop-spoked Asterisk
$heavy-teardrop-spoked-asterisk : "\273D";

// ✾ Six Petalled Black And White Florette
$six-petalled-black-and-white-florette : "\273E";

// ✿ Black Florette
$black-florette : "\273F";

// ❀ White Florette
$white-florette : "\2740";

// ❁ Eight Petalled Outlined Black Florette
$eight-petalled-outlined-black-florette : "\2741";

// ❂ Circled Open Centre Eight Pointed Star
$circled-open-centre-eight-pointed-star : "\2742";

// ❃ Heavy Teardrop-spoked Pinwheel Asterisk
$heavy-teardrop-spoked-pinwheel-asterisk : "\2743";

// ❄ Snowflake
$snowflake : "\2744";

// ❅ Tight Trifoliate Snowflake
$tight-trifoliate-snowflake : "\2745";

// ❆ Heavy Chevron Snowflake
$heavy-chevron-snowflake : "\2746";

// ❇ Sparkle
$sparkle : "\2747";

// ❈ Heavy Sparkle
$heavy-sparkle : "\2748";

// ❉ Balloon-spoked Asterisk
$balloon-spoked-asterisk : "\2749";

// ❊ Eight Teardrop-spoked Propeller Asterisk
$eight-teardrop-spoked-propeller-asterisk : "\274A";

// ❋ Heavy Eight Teardrop-spoked Propeller Asterisk
$heavy-eight-teardrop-spoked-propeller-asterisk : "\274B";

// ❌ Cross Mark
$cross-mark : "\274C";

// ❍ Shadowed White Circle
$shadowed-white-circle : "\274D";

// ❎ Negative Squared Cross Mark
$negative-squared-cross-mark : "\274E";

// ❏ Lower Right Drop-shadowed White Square
$lower-right-drop-shadowed-white-square : "\274F";

// ❐ Upper Right Drop-shadowed White Square
$upper-right-drop-shadowed-white-square : "\2750";

// ❑ Lower Right Shadowed White Square
$lower-right-shadowed-white-square : "\2751";

// ❒ Upper Right Shadowed White Square
$upper-right-shadowed-white-square : "\2752";

// ❓ Black Question Mark Ornament
$black-question-mark-ornament : "\2753";

// ❔ White Question Mark Ornament
$white-question-mark-ornament : "\2754";

// ❕ White Exclamation Mark Ornament
$white-exclamation-mark-ornament : "\2755";

// ❖ Black Diamond Minus White X
$black-diamond-minus-white-x : "\2756";

// ❗ Heavy Exclamation Mark Symbol
$heavy-exclamation-mark-symbol : "\2757";

// ❘ Light Vertical Bar
$light-vertical-bar : "\2758";

// ❙ Medium Vertical Bar
$medium-vertical-bar : "\2759";

// ❚ Heavy Vertical Bar
$heavy-vertical-bar : "\275A";

// ❛ Heavy Single Turned Comma Quotation Mark Ornament
$heavy-single-turned-comma-quotation-mark-ornament : "\275B";

// ❜ Heavy Single Comma Quotation Mark Ornament
$heavy-single-comma-quotation-mark-ornament : "\275C";

// ❝ Heavy Double Turned Comma Quotation Mark Ornament
$heavy-double-turned-comma-quotation-mark-ornament : "\275D";

// ❞ Heavy Double Comma Quotation Mark Ornament
$heavy-double-comma-quotation-mark-ornament : "\275E";

// ❡ Curved Stem Paragraph Sign Ornament
$curved-stem-paragraph-sign-ornament : "\2761";

// ❢ Heavy Exclamation Mark Ornament
$heavy-exclamation-mark-ornament : "\2762";

// ❣ Heavy Heart Exclamation Mark Ornament
$heavy-heart-exclamation-mark-ornament : "\2763";

// ❤ Heavy Black Heart
$heavy-black-heart : "\2764";

// ❥ Rotated Heavy Black Heart Bullet
$rotated-heavy-black-heart-bullet : "\2765";

// ❦ Floral Heart
$floral-heart : "\2766";

// ❧ Rotated Floral Heart Bullet
$rotated-floral-heart-bullet : "\2767";

// ❨ Medium Left Parenthesis Ornament
$medium-left-parenthesis-ornament : "\2768";

// ❩ Medium Right Parenthesis Ornament
$medium-right-parenthesis-ornament : "\2769";

// ❪ Medium Flattened Left Parenthesis Ornament
$medium-flattened-left-parenthesis-ornament : "\276A";

// ❫ Medium Flattened Right Parenthesis Ornament
$medium-flattened-right-parenthesis-ornament : "\276B";

// ❬ Medium Left-pointing Angle Bracket Ornament
$medium-left-pointing-angle-bracket-ornament : "\276C";

// ❭ Medium Right-pointing Angle Bracket Ornament
$medium-right-pointing-angle-bracket-ornament : "\276D";

// ❮ Heavy Left-pointing Angle Quotation Mark Ornament
$heavy-left-pointing-angle-quotation-mark-ornament : "\276E";

// ❯ Heavy Right-pointing Angle Quotation Mark Ornament
$heavy-right-pointing-angle-quotation-mark-ornament : "\276F";

// ❰ Heavy Left-pointing Angle Bracket Ornament
$heavy-left-pointing-angle-bracket-ornament : "\2770";

// ❱ Heavy Right-pointing Angle Bracket Ornament
$heavy-right-pointing-angle-bracket-ornament : "\2771";

// ❲ Light Left Tortoise Shell Bracket Ornament
$light-left-tortoise-shell-bracket-ornament : "\2772";

// ❳ Light Right Tortoise Shell Bracket Ornament
$light-right-tortoise-shell-bracket-ornament : "\2773";

// ❴ Medium Left Curly Bracket Ornament
$medium-left-curly-bracket-ornament : "\2774";

// ❵ Medium Right Curly Bracket Ornament
$medium-right-curly-bracket-ornament : "\2775";

// ❶ Dingbat Negative Circled Digit One
$dingbat-negative-circled-digit-one : "\2776";

// ❷ Dingbat Negative Circled Digit Two
$dingbat-negative-circled-digit-two : "\2777";

// ❸ Dingbat Negative Circled Digit Three
$dingbat-negative-circled-digit-three : "\2778";

// ❹ Dingbat Negative Circled Digit Four
$dingbat-negative-circled-digit-four : "\2779";

// ❺ Dingbat Negative Circled Digit Five
$dingbat-negative-circled-digit-five : "\277A";

// ❻ Dingbat Negative Circled Digit Six
$dingbat-negative-circled-digit-six : "\277B";

// ❼ Dingbat Negative Circled Digit Seven
$dingbat-negative-circled-digit-seven : "\277C";

// ❽ Dingbat Negative Circled Digit Eight
$dingbat-negative-circled-digit-eight : "\277D";

// ❾ Dingbat Negative Circled Digit Nine
$dingbat-negative-circled-digit-nine : "\277E";

// ❿ Dingbat Negative Circled Number Ten
$dingbat-negative-circled-number-ten : "\277F";

// ➀ Dingbat Circled Sans-serif Digit One
$dingbat-circled-sans-serif-digit-one : "\2780";

// ➁ Dingbat Circled Sans-serif Digit Two
$dingbat-circled-sans-serif-digit-two : "\2781";

// ➂ Dingbat Circled Sans-serif Digit Three
$dingbat-circled-sans-serif-digit-three : "\2782";

// ➃ Dingbat Circled Sans-serif Digit Four
$dingbat-circled-sans-serif-digit-four : "\2783";

// ➄ Dingbat Circled Sans-serif Digit Five
$dingbat-circled-sans-serif-digit-five : "\2784";

// ➅ Dingbat Circled Sans-serif Digit Six
$dingbat-circled-sans-serif-digit-six : "\2785";

// ➆ Dingbat Circled Sans-serif Digit Seven
$dingbat-circled-sans-serif-digit-seven : "\2786";

// ➇ Dingbat Circled Sans-serif Digit Eight
$dingbat-circled-sans-serif-digit-eight : "\2787";

// ➈ Dingbat Circled Sans-serif Digit Nine
$dingbat-circled-sans-serif-digit-nine : "\2788";

// ➉ Dingbat Circled Sans-serif Number Ten
$dingbat-circled-sans-serif-number-ten : "\2789";

// ➊ Dingbat Negative Circled Sans-serif Digit One
$dingbat-negative-circled-sans-serif-digit-one : "\278A";

// ➋ Dingbat Negative Circled Sans-serif Digit Two
$dingbat-negative-circled-sans-serif-digit-two : "\278B";

// ➌ Dingbat Negative Circled Sans-serif Digit Three
$dingbat-negative-circled-sans-serif-digit-three : "\278C";

// ➍ Dingbat Negative Circled Sans-serif Digit Four
$dingbat-negative-circled-sans-serif-digit-four : "\278D";

// ➎ Dingbat Negative Circled Sans-serif Digit Five
$dingbat-negative-circled-sans-serif-digit-five : "\278E";

// ➏ Dingbat Negative Circled Sans-serif Digit Six
$dingbat-negative-circled-sans-serif-digit-six : "\278F";

// ➐ Dingbat Negative Circled Sans-serif Digit Seven
$dingbat-negative-circled-sans-serif-digit-seven : "\2790";

// ➑ Dingbat Negative Circled Sans-serif Digit Eight
$dingbat-negative-circled-sans-serif-digit-eight : "\2791";

// ➒ Dingbat Negative Circled Sans-serif Digit Nine
$dingbat-negative-circled-sans-serif-digit-nine : "\2792";

// ➓ Dingbat Negative Circled Sans-serif Number Ten
$dingbat-negative-circled-sans-serif-number-ten : "\2793";

// ➔ Heavy Wide-headed Rightwards Arrow
$heavy-wide-headed-rightwards-arrow : "\2794";

// ➕ Heavy Plus Sign
$heavy-plus-sign : "\2795";

// ➖ Heavy Minus Sign
$heavy-minus-sign : "\2796";

// ➗ Heavy Division Sign
$heavy-division-sign : "\2797";

// ➘ Heavy South East Arrow
$heavy-south-east-arrow : "\2798";

// ➙ Heavy Rightwards Arrow
$heavy-rightwards-arrow : "\2799";

// ➚ Heavy North East Arrow
$heavy-north-east-arrow : "\279A";

// ➛ Drafting Point Rightwards Arrow
$drafting-point-rightwards-arrow : "\279B";

// ➜ Heavy Round-tipped Rightwards Arrow
$heavy-round-tipped-rightwards-arrow : "\279C";

// ➝ Triangle-headed Rightwards Arrow
$triangle-headed-rightwards-arrow : "\279D";

// ➞ Heavy Triangle-headed Rightwards Arrow
$heavy-triangle-headed-rightwards-arrow : "\279E";

// ➟ Dashed Triangle-headed Rightwards Arrow
$dashed-triangle-headed-rightwards-arrow : "\279F";

// ➠ Heavy Dashed Triangle-headed Rightwards Arrow
$heavy-dashed-triangle-headed-rightwards-arrow : "\27A0";

// ➡ Black Rightwards Arrow
$black-rightwards-arrow : "\27A1";

// ➢ Three-d Top-lighted Rightwards Arrowhead
$three-d-top-lighted-rightwards-arrowhead : "\27A2";

// ➣ Three-d Bottom-lighted Rightwards Arrowhead
$three-d-bottom-lighted-rightwards-arrowhead : "\27A3";

// ➤ Black Rightwards Arrowhead
$black-rightwards-arrowhead : "\27A4";

// ➥ Heavy Black Curved Downwards And Rightwards Arrow
$heavy-black-curved-downwards-and-rightwards-arrow : "\27A5";

// ➦ Heavy Black Curved Upwards And Rightwards Arrow
$heavy-black-curved-upwards-and-rightwards-arrow : "\27A6";

// ➧ Squat Black Rightwards Arrow
$squat-black-rightwards-arrow : "\27A7";

// ➨ Heavy Concave-pointed Black Rightwards Arrow
$heavy-concave-pointed-black-rightwards-arrow : "\27A8";

// ➩ Right-shaded White Rightwards Arrow
$right-shaded-white-rightwards-arrow : "\27A9";

// ➪ Left-shaded White Rightwards Arrow
$left-shaded-white-rightwards-arrow : "\27AA";

// ➫ Back-tilted Shadowed White Rightwards Arrow
$back-tilted-shadowed-white-rightwards-arrow : "\27AB";

// ➬ Front-tilted Shadowed White Rightwards Arrow
$front-tilted-shadowed-white-rightwards-arrow : "\27AC";

// ➭ Heavy Lower Right-shadowed White Rightwards Arrow
$heavy-lower-right-shadowed-white-rightwards-arrow : "\27AD";

// ➮ Heavy Upper Right-shadowed White Rightwards Arrow
$heavy-upper-right-shadowed-white-rightwards-arrow : "\27AE";

// ➯ Notched Lower Right-shadowed White Rightwards Arrow
$notched-lower-right-shadowed-white-rightwards-arrow : "\27AF";

// ➱ Notched Upper Right-shadowed White Rightwards Arrow
$notched-upper-right-shadowed-white-rightwards-arrow : "\27B1";

// ➲ Circled Heavy White Rightwards Arrow
$circled-heavy-white-rightwards-arrow : "\27B2";

// ➳ White-feathered Rightwards Arrow
$white-feathered-rightwards-arrow : "\27B3";

// ➴ Black-feathered South East Arrow
$black-feathered-south-east-arrow : "\27B4";

// ➵ Black-feathered Rightwards Arrow
$black-feathered-rightwards-arrow : "\27B5";

// ➶ Black-feathered North East Arrow
$black-feathered-north-east-arrow : "\27B6";

// ➷ Heavy Black-feathered South East Arrow
$heavy-black-feathered-south-east-arrow : "\27B7";

// ➸ Heavy Black-feathered Rightwards Arrow
$heavy-black-feathered-rightwards-arrow : "\27B8";

// ➹ Heavy Black-feathered North East Arrow
$heavy-black-feathered-north-east-arrow : "\27B9";

// ➺ Teardrop-barbed Rightwards Arrow
$teardrop-barbed-rightwards-arrow : "\27BA";

// ➻ Heavy Teardrop-shanked Rightwards Arrow
$heavy-teardrop-shanked-rightwards-arrow : "\27BB";

// ➼ Wedge-tailed Rightwards Arrow
$wedge-tailed-rightwards-arrow : "\27BC";

// ➽ Heavy Wedge-tailed Rightwards Arrow
$heavy-wedge-tailed-rightwards-arrow : "\27BD";

// ➾ Open-outlined Rightwards Arrow
$open-outlined-rightwards-arrow : "\27BE";

// ➿ Double Cu
$double-cu : "\27BF";
