// ■ Black Square
$black-square : "/25A0";

// □ White Square
$white-square : "/25A1";

// ▢ White Square With Rounded Corners
$white-square-with-rounded-corners : "/25A2";

// ▣ White Square Containing Black Small Square
$white-square-containing-black-small-square : "/25A3";

// ▤ Square With Horizontal Fill
$square-with-horizontal-fill : "/25A4";

// ▥ Square With Vertical Fill
$square-with-vertical-fill : "/25A5";

// ▦ Square With Orthogonal Crosshatch Fill
$square-with-orthogonal-crosshatch-fill : "/25A6";

// ▧ Square With Upper Left To Lower Right Fill
$square-with-upper-left-to-lower-right-fill : "/25A7";

// ▨ Square With Upper Right To Lower Left Fill
$square-with-upper-right-to-lower-left-fill : "/25A8";

// ▩ Square With Diagonal Crosshatch Fill
$square-with-diagonal-crosshatch-fill : "/25A9";

// ▪ Black Small Square
$black-small-square : "/25AA";

// ▫ White Small Square
$white-small-square : "/25AB";

// ▬ Black Rectangle
$black-rectangle : "/25AC";

// ▭ White Rectangle
$white-rectangle : "/25AD";

// ▮ Black Vertical Rectangle
$black-vertical-rectangle : "/25AE";

// ▯ White Vertical Rectangle
$white-vertical-rectangle : "/25AF";

// ▰ Black Parallelogram
$black-parallelogram : "/25B0";

// ▱ White Parallelogram
$white-parallelogram : "/25B1";

// ▲ Black Up-pointing Triangle
$black-up-pointing-triangle : "/25B2";

// △ White Up-pointing Triangle
$white-up-pointing-triangle : "/25B3";

// ▴ Black Up-pointing Small Triangle
$black-up-pointing-small-triangle : "/25B4";

// ▵ White Up-pointing Small Triangle
$white-up-pointing-small-triangle : "/25B5";

// ▶ Black Right-pointing Triangle
$black-right-pointing-triangle : "/25B6";

// ▷ White Right-pointing Triangle
$white-right-pointing-triangle : "/25B7";

// ▸ Black Right-pointing Small Triangle
$black-right-pointing-small-triangle : "/25B8";

// ▹ White Right-pointing Small Triangle
$white-right-pointing-small-triangle : "/25B9";

// ► Black Right-pointing Pointer
$black-right-pointing-pointer : "/25BA";

// ▻ White Right-pointing Pointer
$white-right-pointing-pointer : "/25BB";

// ▼ Black Down-pointing Triangle
$black-down-pointing-triangle : "/25BC";

// ▽ White Down-pointing Triangle
$white-down-pointing-triangle : "/25BD";

// ▾ Black Down-pointing Small Triangle
$black-down-pointing-small-triangle : "/25BE";

// ▿ White Down-pointing Small Triangle
$white-down-pointing-small-triangle : "/25BF";

// ◀ Black Left-pointing Triangle
$black-left-pointing-triangle : "/25C0";

// ◁ White Left-pointing Triangle
$white-left-pointing-triangle : "/25C1";

// ◂ Black Left-pointing Small Triangle
$black-left-pointing-small-triangle : "/25C2";

// ◃ White Left-pointing Small Triangle
$white-left-pointing-small-triangle : "/25C3";

// ◄ Black Left-pointing Pointer
$black-left-pointing-pointer : "/25C4";

// ◅ White Left-pointing Pointer
$white-left-pointing-pointer : "/25C5";

// ◆ Black Diamond
$black-diamond : "/25C6";

// ◇ White Diamond
$white-diamond : "/25C7";

// ◈ White Diamond Containing Black Small Diamond
$white-diamond-containing-black-small-diamond : "/25C8";

// ◉ Fisheye
$fisheye : "/25C9";

// ◊ Lozenge
$lozenge : "/25CA";

// ○ White Circle
$white-circle : "/25CB";

// ◌ Dotted Circle
$dotted-circle : "/25CC";

// ◍ Circle With Vertical Fill
$circle-with-vertical-fill : "/25CD";

// ◎ Bullseye
$bullseye : "/25CE";

// ● Black Circle
$black-circle : "/25CF";

// ◐ Circle With Left Half Black
$circle-with-left-half-black : "/25D0";

// ◑ Circle With Right Half Black
$circle-with-right-half-black : "/25D1";

// ◒ Circle With Lower Half Black
$circle-with-lower-half-black : "/25D2";

// ◓ Circle With Upper Half Black
$circle-with-upper-half-black : "/25D3";

// ◔ Circle With Upper Right Quadrant Black
$circle-with-upper-right-quadrant-black : "/25D4";

// ◕ Circle With All But Upper Left Quadrant Black
$circle-with-all-but-upper-left-quadrant-black : "/25D5";

// ◖ Left Half Black Circle
$left-half-black-circle : "/25D6";

// ◗ Right Half Black Circle
$right-half-black-circle : "/25D7";

// ◘ Inverse Bullet
$inverse-bullet : "/25D8";

// ◙ Inverse White Circle
$inverse-white-circle : "/25D9";

// ◚ Upper Half Inverse White Circle
$upper-half-inverse-white-circle : "/25DA";

// ◛ Lower Half Inverse White Circle
$lower-half-inverse-white-circle : "/25DB";

// ◜ Upper Left Quadrant Circular Arc
$upper-left-quadrant-circular-arc : "/25DC";

// ◝ Upper Right Quadrant Circular Arc
$upper-right-quadrant-circular-arc : "/25DD";

// ◞ Lower Right Quadrant Circular Arc
$lower-right-quadrant-circular-arc : "/25DE";

// ◟ Lower Left Quadrant Circular Arc
$lower-left-quadrant-circular-arc : "/25DF";

// ◠ Upper Half Circle
$upper-half-circle : "/25E0";

// ◡ Lower Half Circle
$lower-half-circle : "/25E1";

// ◢ Black Lower Right Triangle
$black-lower-right-triangle : "/25E2";

// ◣ Black Lower Left Triangle
$black-lower-left-triangle : "/25E3";

// ◤ Black Upper Left Triangle
$black-upper-left-triangle : "/25E4";

// ◥ Black Upper Right Triangle
$black-upper-right-triangle : "/25E5";

// ◦ White Bullet
$white-bullet : "/25E6";

// ◧ Square With Left Half Black
$square-with-left-half-black : "/25E7";

// ◨ Square With Right Half Black
$square-with-right-half-black : "/25E8";

// ◩ Square With Upper Left Diagonal Half Black
$square-with-upper-left-diagonal-half-black : "/25E9";

// ◪ Square With Lower Right Diagonal Half Black
$square-with-lower-right-diagonal-half-black : "/25EA";

// ◫ White Square With Vertical Bisecting Line
$white-square-with-vertical-bisecting-line : "/25EB";

// ◬ White Up-pointing Triangle With Dot
$white-up-pointing-triangle-with-dot : "/25EC";

// ◭ Up-pointing Triangle With Left Half Black
$up-pointing-triangle-with-left-half-black : "/25ED";

// ◮ Up-pointing Triangle With Right Half Black
$up-pointing-triangle-with-right-half-black : "/25EE";

// ◯ Large Circle
$large-circle : "/25EF";

// ◰ White Square With Upper Left Quadrant
$white-square-with-upper-left-quadrant : "/25F0";

// ◱ White Square With Lower Left Quadrant
$white-square-with-lower-left-quadrant : "/25F1";

// ◲ White Square With Lower Right Quadrant
$white-square-with-lower-right-quadrant : "/25F2";

// ◳ White Square With Upper Right Quadrant
$white-square-with-upper-right-quadrant : "/25F3";

// ◴ White Circle With Upper Left Quadrant
$white-circle-with-upper-left-quadrant : "/25F4";

// ◵ White Circle With Lower Left Quadrant
$white-circle-with-lower-left-quadrant : "/25F5";

// ◶ White Circle With Lower Right Quadrant
$white-circle-with-lower-right-quadrant : "/25F6";

// ◷ White Circle With Upper Right Quadrant
$white-circle-with-upper-right-quadrant : "/25F7";

// ◸ Upper Left Triangle
$upper-left-triangle : "/25F8";

// ◹ Upper Right Triangle
$upper-right-triangle : "/25F9";

// ◺ Lower Left Triangle
$lower-left-triangle : "/25FA";

// ◻ White Medium Square
$white-medium-square : "/25FB";

// ◼ Black Medium Square
$black-medium-square : "/25FC";

// ◽ White Medium Small Square
$white-medium-small-square : "/25FD";

// ◾ Black Medium Small Square
$black-medium-small-square : "/25FE";

// ◿ Lower Right Tr
$lower-right-tr : "/25FF";
