// ☀ Black Sun With Rays
$black-sun-with-rays : "/2600";

// ☁ Cloud
$cloud : "/2601";

// ☂ Umbrella
$umbrella : "/2602";

// ☃ Snowman
$snowman : "/2603";

// ☄ Comet
$comet : "/2604";

// ★ Black Star
$black-star : "/2605";

// ☆ White Star
$white-star : "/2606";

// ☇ Lightning
$lightning : "/2607";

// ☈ Thunderstorm
$thunderstorm : "/2608";

// ☉ Sun
$sun : "/2609";

// ☊ Ascending Node
$ascending-node : "/260A";

// ☋ Descending Node
$descending-node : "/260B";

// ☌ Conjunction
$conjunction : "/260C";

// ☍ Opposition
$opposition : "/260D";

// ☎ Black Telephone
$black-telephone : "/260E";

// ☏ White Telephone
$white-telephone : "/260F";

// ☐ Ballot Box
$ballot-box : "/2610";

// ☑ Ballot Box With Check
$ballot-box-with-check : "/2611";

// ☒ Ballot Box With X
$ballot-box-with-x : "/2612";

// ☓ Saltire
$saltire : "/2613";

// ☔ Umbrella With Rain Drops
$umbrella-with-rain-drops : "/2614";

// ☕ Hot Beverage
$hot-beverage : "/2615";

// ☖ White Shogi Piece
$white-shogi-piece : "/2616";

// ☗ Black Shogi Piece
$black-shogi-piece : "/2617";

// ☘ Shamrock
$shamrock : "/2618";

// ☙ Reversed Rotated Floral Heart Bullet
$reversed-rotated-floral-heart-bullet : "/2619";

// ☚ Black Left Pointing Index
$black-left-pointing-index : "/261A";

// ☛ Black Right Pointing Index
$black-right-pointing-index : "/261B";

// ☜ White Left Pointing Index
$white-left-pointing-index : "/261C";

// ☝ White Up Pointing Index
$white-up-pointing-index : "/261D";

// ☞ White Right Pointing Index
$white-right-pointing-index : "/261E";

// ☟ White Down Pointing Index
$white-down-pointing-index : "/261F";

// ☠ Skull And Crossbones
$skull-and-crossbones : "/2620";

// ☡ Caution Sign
$caution-sign : "/2621";

// ☢ Radioactive Sign
$radioactive-sign : "/2622";

// ☣ Biohazard Sign
$biohazard-sign : "/2623";

// ☤ Caduceus
$caduceus : "/2624";

// ☥ Ankh
$ankh : "/2625";

// ☦ Orthodox Cross
$orthodox-cross : "/2626";

// ☧ Chi Rho
$chi-rho : "/2627";

// ☨ Cross Of Lorraine
$cross-of-lorraine : "/2628";

// ☩ Cross Of Jerusalem
$cross-of-jerusalem : "/2629";

// ☪ Star And Crescent
$star-and-crescent : "/262A";

// ☫ Farsi Symbol
$farsi-symbol : "/262B";

// ☬ Adi Shakti
$adi-shakti : "/262C";

// ☭ Hammer And Sickle
$hammer-and-sickle : "/262D";

// ☮ Peace Symbol
$peace-symbol : "/262E";

// ☯ Yin Yang
$yin-yang : "/262F";

// ☰ Trigram For Heaven
$trigram-for-heaven : "/2630";

// ☱ Trigram For Lake
$trigram-for-lake : "/2631";

// ☲ Trigram For Fire
$trigram-for-fire : "/2632";

// ☳ Trigram For Thunder
$trigram-for-thunder : "/2633";

// ☴ Trigram For Wind
$trigram-for-wind : "/2634";

// ☵ Trigram For Water
$trigram-for-water : "/2635";

// ☶ Trigram For Mountain
$trigram-for-mountain : "/2636";

// ☷ Trigram For Earth
$trigram-for-earth : "/2637";

// ☸ Wheel Of Dharma
$wheel-of-dharma : "/2638";

// ☹ White Frowning Face
$white-frowning-face : "/2639";

// ☺ White Smiling Face
$white-smiling-face : "/263A";

// ☻ Black Smiling Face
$black-smiling-face : "/263B";

// ☼ White Sun With Rays
$white-sun-with-rays : "/263C";

// ☽ First Quarter Moon
$first-quarter-moon : "/263D";

// ☾ Last Quarter Moon
$last-quarter-moon : "/263E";

// ☿ Mercury
$mercury : "/263F";

// ♀ Female Sign
$female-sign : "/2640";

// ♁ Earth
$earth : "/2641";

// ♂ Male Sign
$male-sign : "/2642";

// ♃ Jupiter
$jupiter : "/2643";

// ♄ Saturn
$saturn : "/2644";

// ♅ Uranus
$uranus : "/2645";

// ♆ Neptune
$neptune : "/2646";

// ♇ Pluto
$pluto : "/2647";

// ♈ Aries
$aries : "/2648";

// ♉ Taurus
$taurus : "/2649";

// ♊ Gemini
$gemini : "/264A";

// ♋ Cancer
$cancer : "/264B";

// ♌ Leo
$leo : "/264C";

// ♍ Virgo
$virgo : "/264D";

// ♎ Libra
$libra : "/264E";

// ♏ Scorpius
$scorpius : "/264F";

// ♐ Sagittarius
$sagittarius : "/2650";

// ♑ Capricorn
$capricorn : "/2651";

// ♒ Aquarius
$aquarius : "/2652";

// ♓ Pisces
$pisces : "/2653";

// ♔ White Chess King
$white-chess-king : "/2654";

// ♕ White Chess Queen
$white-chess-queen : "/2655";

// ♖ White Chess Rook
$white-chess-rook : "/2656";

// ♗ White Chess Bishop
$white-chess-bishop : "/2657";

// ♘ White Chess Knight
$white-chess-knight : "/2658";

// ♙ White Chess Pawn
$white-chess-pawn : "/2659";

// ♚ Black Chess King
$black-chess-king : "/265A";

// ♛ Black Chess Queen
$black-chess-queen : "/265B";

// ♜ Black Chess Rook
$black-chess-rook : "/265C";

// ♝ Black Chess Bishop
$black-chess-bishop : "/265D";

// ♞ Black Chess Knight
$black-chess-knight : "/265E";

// ♟ Black Chess Pawn
$black-chess-pawn : "/265F";

// ♠ Black Spade Suit
$black-spade-suit : "/2660";

// ♡ White Heart Suit
$white-heart-suit : "/2661";

// ♢ White Diamond Suit
$white-diamond-suit : "/2662";

// ♣ Black Club Suit
$black-club-suit : "/2663";

// ♤ White Spade Suit
$white-spade-suit : "/2664";

// ♥ Black Heart Suit
$black-heart-suit : "/2665";

// ♦ Black Diamond Suit
$black-diamond-suit : "/2666";

// ♧ White Club Suit
$white-club-suit : "/2667";

// ♨ Hot Springs
$hot-springs : "/2668";

// ♩ Quarter Note
$quarter-note : "/2669";

// ♪ Eighth Note
$eighth-note : "/266A";

// ♫ Beamed Eighth Notes
$beamed-eighth-notes : "/266B";

// ♬ Beamed Sixteenth Notes
$beamed-sixteenth-notes : "/266C";

// ♭ Music Flat Sign
$music-flat-sign : "/266D";

// ♮ Music Natural Sign
$music-natural-sign : "/266E";

// ♯ Music Sharp Sign
$music-sharp-sign : "/266F";

// ♰ West Syriac Cross
$west-syriac-cross : "/2670";

// ♱ East Syriac Cross
$east-syriac-cross : "/2671";

// ♲ Universal Recycling Symbol
$universal-recycling-symbol : "/2672";

// ♳ Recycling Symbol For Type-1 Plastics
$recycling-symbol-for-type-1-plastics : "/2673";

// ♴ Recycling Symbol For Type-2 Plastics
$recycling-symbol-for-type-2-plastics : "/2674";

// ♵ Recycling Symbol For Type-3 Plastics
$recycling-symbol-for-type-3-plastics : "/2675";

// ♶ Recycling Symbol For Type-4 Plastics
$recycling-symbol-for-type-4-plastics : "/2676";

// ♷ Recycling Symbol For Type-5 Plastics
$recycling-symbol-for-type-5-plastics : "/2677";

// ♸ Recycling Symbol For Type-6 Plastics
$recycling-symbol-for-type-6-plastics : "/2678";

// ♹ Recycling Symbol For Type-7 Plastics
$recycling-symbol-for-type-7-plastics : "/2679";

// ♺ Recycling Symbol For Generic Materials
$recycling-symbol-for-generic-materials : "/267A";

// ♻ Black Universal Recycling Symbol
$black-universal-recycling-symbol : "/267B";

// ♼ Recycled Paper Symbol
$recycled-paper-symbol : "/267C";

// ♽ Partially-recycled Paper Symbol
$partially-recycled-paper-symbol : "/267D";

// ♾ Permanent Paper Sign
$permanent-paper-sign : "/267E";

// ♿ Wheelchair Symbol
$wheelchair-symbol : "/267F";

// ⚀ Die Face-1
$die-face-1 : "/2680";

// ⚁ Die Face-2
$die-face-2 : "/2681";

// ⚂ Die Face-3
$die-face-3 : "/2682";

// ⚃ Die Face-4
$die-face-4 : "/2683";

// ⚄ Die Face-5
$die-face-5 : "/2684";

// ⚅ Die Face-6
$die-face-6 : "/2685";

// ⚆ White Circle With Dot Right
$white-circle-with-dot-right : "/2686";

// ⚇ White Circle With Two Dots
$white-circle-with-two-dots : "/2687";

// ⚈ Black Circle With White Dot Right
$black-circle-with-white-dot-right : "/2688";

// ⚉ Black Circle With Two White Dots
$black-circle-with-two-white-dots : "/2689";

// ⚊ Monogram For Yang
$monogram-for-yang : "/268A";

// ⚋ Monogram For Yin
$monogram-for-yin : "/268B";

// ⚌ Digram For Greater Yang
$digram-for-greater-yang : "/268C";

// ⚍ Digram For Lesser Yin
$digram-for-lesser-yin : "/268D";

// ⚎ Digram For Lesser Yang
$digram-for-lesser-yang : "/268E";

// ⚏ Digram For Greater Yin
$digram-for-greater-yin : "/268F";

// ⚐ White Flag
$white-flag : "/2690";

// ⚑ Black Flag
$black-flag : "/2691";

// ⚒ Hammer And Pick
$hammer-and-pick : "/2692";

// ⚓ Anchor
$anchor : "/2693";

// ⚔ Crossed Swords
$crossed-swords : "/2694";

// ⚕ Staff Of Aesculapius
$staff-of-aesculapius : "/2695";

// ⚖ Scales
$scales : "/2696";

// ⚗ Alembic
$alembic : "/2697";

// ⚘ Flower
$flower : "/2698";

// ⚙ Gear
$gear : "/2699";

// ⚚ Staff Of Hermes
$staff-of-hermes : "/269A";

// ⚛ Atom Symbol
$atom-symbol : "/269B";

// ⚜ Fleur-de-lis
$fleur-de-lis : "/269C";

// ⚠ Warning Sign
$warning-sign : "/26A0";

// ⚡ High Voltage Sign
$high-voltage-sign : "/26A1";

// ⚢ Doubled Female Sign
$doubled-female-sign : "/26A2";

// ⚣ Doubled Male Sign
$doubled-male-sign : "/26A3";

// ⚤ Interlocked Female And Male Sign
$interlocked-female-and-male-sign : "/26A4";

// ⚥ Male And Female Sign
$male-and-female-sign : "/26A5";

// ⚦ Male With Stroke Sign
$male-with-stroke-sign : "/26A6";

// ⚧ Male With Stroke And Male And Female Sign
$male-with-stroke-and-male-and-female-sign : "/26A7";

// ⚨ Vertical Male With Stroke Sign
$vertical-male-with-stroke-sign : "/26A8";

// ⚩ Horizontal Male With Stroke Sign
$horizontal-male-with-stroke-sign : "/26A9";

// ⚪ Medium White Circle
$medium-white-circle : "/26AA";

// ⚫ Medium Black Circle
$medium-black-circle : "/26AB";

// ⚬ Medium Small White Circle
$medium-small-white-circle : "/26AC";

// ⚭ Marriage Symbol
$marriage-symbol : "/26AD";

// ⚮ Divorce Symbol
$divorce-symbol : "/26AE";

// ⚯ Unmarried Partnership Symbol
$unmarried-partnership-symbol : "/26AF";

// ⚰ Coffin
$coffin : "/26B0";

// ⚱ Funeral Urn
$funeral-urn : "/26B1";

// ⚲ Neuter
$neuter : "/26B2";

// ⚽ Soccer Ball
$soccer-ball : "/26BD";

// ⚾ Baseball
$baseball : "/26BE";

// ⛄ Snowman Without Snow
$snowman-without-snow : "/26C4";

// ⛅ Sun Behind Cloud
$sun-behind-cloud : "/26C5";

// ⛎ Ophiuchus
$ophiuchus : "/26CE";

// ⛔ No Entry
$no-entry : "/26D4";

// ⛢ Astronomical Symbol For Uranus
$astronomical-symbol-for-uranus : "/26E2";

// ⛪ Church
$church : "/26EA";

// ⛲ Fountain
$fountain : "/26F2";

// ⛳ Flag In Hole
$flag-in-hole : "/26F3";

// ⛵ Sailboat
$sailboat : "/26F5";

// ⛺ Tent
$tent : "/26FA";

// ⛽ Fuel Pump
$fuel-pump : "/26FD";
