/// @author Mark Notton
/// @link http://www.w3schools.com/charsets/ref_html_utf8.asp
/// @type variables

/// Symbols

$copyright :            "\00A9"; // ©

$registered :           "\00AE"; // ®

$tricolon :             "\205D"; // ⁝

$quadcolon :            "\205E"; // ⁞

$tick1 :                "\2713"; // ✓

$tick2 :                "\2714"; // ✔

$cross1 :               "\2715"; // ✕

$cross2 :               "\2717"; // ✗

$plus :                 "\271B"; // ✛

$bullet :               "\2219"; // ∙

/// Punctuation

$single-dot :           "\2024"; // ․

$double-dots :          "\2025"; // ‥

$tripple-dots :         "\2026"; // …

$open-quotes-1 :        "\201C"; // “

$close-quotes-1 :       "\201D"; // ”

$close-quotes-2 :       "\201E"; // „

$open-quotes-2 :        "\201F"; // ‟

$close-curly-brackets : "\2775"; // ❵

$open-curly-brackets :  "\2774"; // ❴

/// Arrows

$double-right-arrows :  "\00BB"; // »

$angle-left-1 :         "\276C"; // ❬

$angle-right-1 :        "\276D"; // ❭

$angle-left-2 :         "\276E"; // ❮

$angle-right-2 :        "\276F"; // ❯

$angle-left-3 :         "\2770"; // ❰

$angle-right-3 :        "\2771"; // ❱

$small-left-arrow :     "\2039"; // ‹

$small-right-arrow :    "\203A"; // ›

$arrow-right :          "\27A4"; // ➤

$triangle-right-1 :     "\2023"; // ‣

$triangle-right-2 :     "\25B6"; // ▶

$triangle-right-3 :     "\25B7"; // ▷


/// Currency

$british-pound :        "\00A3"; // £

$dollar :               "\0024"; // $

$euro :                 "\20AC"; // €


/// Shapes

$star :                 "\272F"; // ✯

$circle :               "\25CF"; // ●

$square-1 :             "\25A0"; // ■

$square-2 :             "\25A1"; // □

$quare-3 :              "\25A2"; // ▢
