//This will add a lineheight in percentage that's just a little bit greater than the font
@mixin font-size($args...) {

  $defaults : (
    font-size      : $font-size,
    line-height    : null,
    letter-spacing : null,
  );

  $settings : get-settings($defaults, $args...);

  $font-size      : map-get($settings, font-size);
  $line-height    : map-get($settings, line-height);
  $letter-spacing : map-get($settings, letter-spacing);

  font-size      : add-unit($font-size, $default-font-unit);
  line-height    : add-unit($line-height, $default-font-unit);
  letter-spacing : add-unit($letter-spacing, $default-font-unit);

}
