/// Create a spacer relative to the viewport height or width. Whilst also adding
/// a calc method to ensure that space is always at least the size of a solid unit (px)
/// @param {Number} $size - Enter the amount of viewport units to add. 3 = 3% of the viewport height
/// @param {Number} $min - Enter the amount of pixels the spcaer should never go below;
/// @param {String} $direction - The unit you want the spacing to be defined as. Default is vh
/// @example margin-top:spacer(2, 30);
/// @output margin-top:calc(2vh + 30px);
/// @return {number} with units

@function spacer($args...) {

  $defaults : (
    size  : var(vertical-spacing),
    min   : (var(gutters) / 2),
    unit  : $default-space-unit,
		minus : false,
  );

  $settings : get-settings($defaults, $args...);

  $size  : map-get($settings, size);
  $unit  : map-get($settings, unit);
  $min   : map-get($settings, min);
  $minus : map-get($settings, minus);

	@if not is-var($size) {
		$size : add-unit($size, $unit);
	}

	@if not is-var($min) {
		$min : add-unit($min, $unit);
	}

	@if $minus {
		@return calc((-1 * #{$size}) - #{$min});
	} @else {
		@return calc(#{$size} + #{$min});
	}

}
