$sass-cacher: (
  browser : (
    ie : (
      9 : ( ),
      10 : ( ),
      11 : ( )
    ),
    edge : (

    ), 
    firefox : (

    ),     
  )
);

@mixin cacher($args:null, $content:null) {
  $sass-cacher : map-deep-set($sass-cacher, $args, $content);
}

@mixin forIE($version) { * html & { @content }
  @include cacher(browser ie $version, quote(@content));
}

body {
  @include forIE(11) {
    background-color:red;
  };  
}