/* Dropdown/Slidedowns */
@mixin dropdown-arrow($type:def, $width:12, $height:18, $colour:$white, $direction:right, $sudo:before) {
  h3 {
    @if ($type == def) {
      @include arrow($width:$width, $height:$height, $colour:$colour, $direction:$direction, $sudo:$sudo) { right:$pad; @include ani(rotate); }
    } @else {
      &:#{$sudo} { content:""; position:absolute; right:$pad; top:50%; margin-top:- image-height("arrow.png")/2; @include image(#{$type + ".png"}); @include ani(rotate); }
    }
    &:hover:#{$sudo} { @include rotate(90deg);}
  }
  &.open {
    h3 {
      &:#{$sudo} { @include rotate(90deg);  }
      &:hover:#{$sudo} { @include rotate(270deg); }
    }
  }
  @content;
}

@mixin dropdown-bar($colour:$red) {
  h3 { background-color:$colour;
    &:hover { background-color:darken($colour,10);}
  }
  &.open {
    h3 { background-color:darken($colour,10);
      &:hover { background-color:$colour; }
    }
  }
}

@mixin dropdown($height:40, $bg:$grey, $select:null, $txt:null, $corners:null, $arrow:null, $target:".dropdown") {
  $select:if($select == null, darken($bg, 10), $select);
  $txt:if($txt == null, light-or-dark($bg, $white, $text), $txt);
  $arrow:if($arrow == null, 10, $arrow);
  #{$target} { position:relative; width:100%; height:$height#{px};  color:$txt; font-size:$size; @extend .font1; 
    @if($corners != null) { background-color:transparent; @include ani(background-color); @include corners($corners, (tl, tr)) }
    select { background-color:white; border:1px solid red; color:red; height:$height#{px}; color:$txt; padding:0 $pad; background-color:$bg; width:100%;  border:none; font-size:$size; //@include appearance(none);
      @if($corners != null) { @include corners($corners) }   
    }
    div[role="label"] { @include vertical("span"); padding:0 $pad; @include ani(background-color); @extend %unselectable, %pointer, %no-wrap; overflow:hidden; background-color:$bg; text-transform: capitalize; position:absolute; top:0; left:0; z-index:1; top:0; left:0; width:100%; height:$height#{px}; @if($corners != null) { @include corners($corners) }; display:flex; align-items: center; justify-content: left;
      &:after { content:""; border-top:solid 3#{px} light-or-dark($bg, lighten($bg,40), darken($bg,30)); border-right:solid 3#{px} light-or-dark($bg, lighten($bg,40), darken($bg,30)); position:absolute; top:50%; margin-top:-$arrow/2#{px}; right:$padding - $arrow/2#{px}; @include rotate(45deg); @include size($arrow); @include ani((rotate, border-color, margin-top))}
      &:before { content:""; background-color:$bg; @include ani(background-color); position:absolute; top:0; right:0; width:$height#{px}; height:$height#{px}; }
    }
    ul { height:0; width:100%;overflow: auto; overflow-x:hidden; position:relative; top:$height#{px}; @include ani(height); @if($corners != null) { @include corners($corners (bl, br)) }
      &::-webkit-scrollbar { width:5#{px}; height:50%; display:none; z-index:2; }
      &::-webkit-scrollbar-track { background-color:$bg; }
      &::-webkit-scrollbar-thumb { background-color:darken($bg,30); }
      &.clicked { @include ani(height); }
      li { @include vertical("span"); width:100%; min-height:$height#{px}; height:auto; padding:0 $pad2; background-color:$bg; border-bottom:1#{px} solid $select; text-transform: capitalize; @include ani(background-color); @extend %unselectable, %pointer; display:flex; align-items: center; justify-content: left;
        &:hover { background-color:$select; }
        &.selected { background-color:$select; @extend %unselectable, %pointerevents, %cursor; }
        &.disabled { background-color:lighten($bg,4); color:col($txt, 0.5); @extend %unselectable, %pointerevents, %cursor;}
      }
    }
    // Hover
    &.hover { z-index:999; @if($corners != null) { background-color:$select; }
      div[role="label"] { background-color:$select; 
        &:after { @include rotate(135deg); margin-top:-$arrow/2#{px}; border-top-color:white; border-right-color:white; }
        &:before { background-color:$select; }
      }
      ul { height:50vh;
        &::-webkit-scrollbar { display:block; }                
      }
    }
    @content;
  }
}
