@mixin gradient($args...) {
  background-image: -webkit-linear-gradient($args); 
  background-image: -o-linear-gradient($args); 
  background-image: linear-gradient($args);
}

// Vertical gradient, from top to bottom
@mixin gradient-vertical($start-colour:white, $end-colour:black, $direction: top) {
  background-image: -webkit-linear-gradient($direction, $start-colour, $end-colour);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient($direction, $start-colour, $end-colour);  // Opera 12
  background-image: linear-gradient(to opposite-direction($direction), $start-colour, $end-colour); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str(nth($start-colour, 1))}', endColorstr='#{ie-hex-str(nth($end-colour, 1))}', GradientType=0); // IE9 and down
}

@mixin gradient-right($start-colour:white, $end-colour:black, $direction:left) {
  @include gradient-horizontal($start-colour, $end-colour, $direction);
}

@mixin gradient-left($start-colour:white, $end-colour:black, $direction:right) {
  @include gradient-horizontal($start-colour, $end-colour, $direction);
}

@mixin gradient-top($start-colour:white, $end-colour:black, $direction:top) {
  @include gradient-vertical($start-colour, $end-colour, $direction);
}

@mixin gradient-bottom($start-colour:white, $end-colour:black, $direction:bottom) {
  @include gradient-vertical($start-colour, $end-colour, $direction);
}

@mixin gradient-directional($start-colour:white, $end-colour:black, $deg:45) {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(addUnit($deg, deg), $start-colour, $end-colour);
  background-image: -o-linear-gradient(addUnit($deg, deg), $start-colour, $end-colour);
  background-image: linear-gradient(addUnit($deg, deg), $start-colour, $end-colour);
}

@mixin gradient-horizontal($args...) {
  $properties : _gradient-properties($args...);

  // $properties : @if(contains($properties, left right), to $properties, $properties);

  background-image: -webkit-linear-gradient(#{$properties}); // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(#{$properties}); // Opera 12
  background-image: linear-gradient(#{$properties}); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
}

@mixin gradient-radial($args...) {
  $properties : _gradient-properties($args...);

  background: -webkit-radial-gradient(#{$properties});
  background: -o-radial-gradient(#{$properties});
  background: -moz-radial-gradient(#{$properties});
  background: radial-gradient(#{$properties});
  background-repeat: no-repeat;
}

@function _gradient-properties($args...) {
  $properties : ();

  $args: if(length($args) > 0, $args, null);

  @for $i from 1 through length($args) {
    $properties : append($properties, nth($args, $i), comma);
  }

  @return $properties;
}