@mixin grid($args) {

  $count: nth($args, 1);
  $gutter: if(length($args) == 2, nth($args, 2), 0);

  @if ($gutter == true) { $gutter:$padding; }

  @if ($gutter != 0 or $count == 1) {
    @for $i from 1 through $count { 
      @include nth($i, true) { 
        clear:none; margin-right:addUnit($gutter); 
      }
    }
    @include nth($count, true) { margin-right:0; }
  }

  @if ($count == 1) { 
    @include nth($count, true) {
      margin-right:0;
    } 
  }

  // Checks
  $width:     if($count  >  1, 100%/$count, 100%);
  $remainder: if($gutter != 0, #{'+ '} addUnit($gutter/$count), null);
  $gutter:    if($gutter != 0, #{'- '} addUnit($gutter), null);
  
  // Output
  float:left;
  @if ( $gutter != null ) {
    width:calc(#{$width} #{$gutter} #{$remainder});
  } @else {
    width:$width;
  }
}

// @include grid(4 $pad $max, 2 0 $medium, $small);