// // Sets the width and height to the same values
@mixin size($sizes, $height:null) {
  $width: first($sizes);
  $height : check($height, check(second($sizes), first($sizes)));
  width: addUnit($width);
  height: addUnit($height);
}