// Columns for text
@mixin columns($args...) {

  $defaults : (
    count   : 2,
    spacing : if(variable-exists(gap),$gap, 16px),
    width   : 20em
  );

  $settings : get-settings($defaults, $args...);

  $count     : map-get($settings, count);
  $spacing   : map-get($settings, spacing);
  $width     : map-get($settings, width);
  $target    : map-get($settings, target);
  $important : map-get($settings, important);

  column-count : $count $important;

  @if $count == 1 {
    column-width : auto $important;
    column-gap   : normal $important;
  } @else {
    break-inside : avoid $important;
    column-width : add-unit($width) $important;
    column-gap   : add-unit($spacing) $important;
  }
}
