////////////////////////////////////////////////////////////////////////////////
// Spacing
////////////////////////////////////////////////////////////////////////////////

// A static unit that is used primarily for fixed margins or padding
$absolute : 16px !default;

// A relative unit that is used for items that need to flow repsctive of the users viewport
$relative : 5vh !default; 

@use '../collections/layout/gap' with ( $absolute : $absolute );
@forward '../collections/layout/gap';

$gap0 : gap.gap(0.5);
$gap  : gap.gap();
$gap1 : gap.gap(2);
$gap2 : gap.gap(2);
$gap3 : gap.gap(3);
$gap4 : gap.gap(4);
$gap5 : gap.gap(5);
$gap6 : gap.gap(6);