////////////////////////////////////////////////////////////////////////////////
/// Grid Layouts                                                   #grid-layouts
////////////////////////////////////////////////////////////////////////////////

// =============================================================================
// 2x Blocks
// =============================================================================

// ┍─────┐┍─────┐
// │  1  ││  2  │
// └─────┘└─────┘
$grid-template-2-blocks-1x2: "block1 block2";

// =============================================================================
// 3x Blocks
// =============================================================================

// ┍───┐┍───┐┍───┐
// │ 1 ││ 2 ││ 3 │
// └───┘└───┘└───┘
$grid-template-3-blocks-1x3: "block1 block2 block3";

// -----------------------------------------------------------------------------

// ┍─────┐┍─────┐
// │  1  ││  2  │
// └─────┘└─────┘
// ┍────────────┐
// │  3         │
// └────────────┘
$grid-template-3-blocks-1x2-3x3: "block1 block2" "block3 block3";

// ┍─────┐┍─────┐
// │  1  ││  2  │
// │     │└─────┘
// │     │┍─────┐
// │     ││  3  │
// └─────┘└─────┘
$grid-template-3-blocks-1x2-1x3: "block1 block2" "block1 block3";

// ┍────────────┐
// │  1         │
// └────────────┘
// ┍─────┐┍─────┐
// │  2  ││  3  │
// └─────┘└─────┘
$grid-template-3-blocks-1x1-2x3: "block1 block1" "block2 block3";

// ┍─────┐┍─────┐
// │  1  ││  2  │
// └─────┘│     │
// ┍─────┐│     │
// │  3  ││     │
// └─────┘└─────┘
$grid-template-3-blocks-1x2-3x2: "block1 block2" "block3 block2";

// =============================================================================
// 4x Blocks
// =============================================================================

// ┍─────┐┍─────┐
// │  1  ││  2  │
// └─────┘└─────┘
// ┍─────┐┍─────┐
// │  3  ││  4  │
// └─────┘└─────┘
$grid-template-4-blocks-1x2-3x4: "block1 block2" "block3 block4";

// -----------------------------------------------------------------------------

// ┍─────┐┍─────┐
// │  1  ││  2  │
// │     │└─────┘
// │     │┍─────┐
// │     ││  3  │
// │     │└─────┘
// │     │┍─────┐
// │     ││  4  │
// └─────┘└─────┘
$grid-template-4-blocks-1x2-1x3-1x4: "block1 block2" "block1 block3" "block1 block4";

// ┍─────────────┐
// │ 1           │
// └─────────────┘
// ┍───┐┍───┐┍───┐
// │ 2 ││ 3 ││ 4 │
// └───┘└───┘└───┘
$grid-template-4-blocks-1x1x1-2x3x4: "block1 block1 block1" "block2 block3 block4";

// ┍─────┐┍─────┐
// │  1  ││  4  │
// └─────┘│     │
// ┍─────┐│     │
// │  2  ││     │
// └─────┘│     │
// ┍─────┐│     │
// │  3  ││     │
// └─────┘└─────┘
$grid-template-4-blocks-1x2-2x4-3x4: "block1 block2" "block2 block4" "block3 block4";

// 270 Degrees
// ┍───┐┍───┐┍───┐
// │ 1 ││ 2 ││ 3 │
// └───┘└───┘└───┘
// ┍─────────────┐
// │ 4           │
// └─────────────┘
$grid-template-4-blocks-1x2x3-4x4x4: "block1 block2 block3" "block4 block4 block4";

// -----------------------------------------------------------------------------

// ┍───┐┍───┐┍───┐
// │ 1 ││ 2 ││ 3 │
// │   │└───┘│   │
// │   │┍───┐│   │
// │   ││ 4 ││   │
// └───┘└───┘└───┘
$grid-template-4-blocks-1x2x3-1x3x3: "block1 block2 block3" "block1 block3 block3";

// ┍──────────┐
// | 1        |
// └──────────┘
// ┍────┐┍────┐
// | 1  || 2  |
// └────┘└────┘
// ┍──────────┐
// | 4        |
// └──────────┘
$grid-template-4-blocks-1x1-2x3-4x4: "block1 block1" "block2 block3" "block4 block4";

// -----------------------------------------------------------------------------

// ┍──────────┐
// | 1        |
// └──────────┘
// ┍──────────┐
// | 2        |
// └──────────┘
// ┍────┐┍────┐
// | 3  || 4  |
// └────┘└────┘
$grid-template-4-blocks-1x1-2x2-3x4: "block1 block1" "block2 block2" "block3 block4";

// ┍───┐┍───┐┍───┐
// │ 1 ││ 2 ││ 3 │
// └───┘│   ││   │
// ┍───┐│   ││   │
// │ 4 ││   ││   │
// └───┘└───┘└───┘
$grid-template-4-blocks-1x2x3-4x2x3: "block1 block2 block3" "block4 block2 block3";

// ┍────┐┍────┐
// | 1  || 2  |
// └────┘└────┘
// ┍──────────┐
// | 3        |
// └──────────┘
// ┍──────────┐
// | 4        |
// └──────────┘
$grid-template-4-blocks-1x2-3x3-4x4: "block1 block2" "block3 block3" "block4 block4";

// ┍───┐┍───┐┍───┐
// │ 1 ││ 2 ││ 3 │
// │   ││   │└───┘
// │   ││   │┍───┐
// │   ││   ││ 4 │
// └───┘└───┘└───┘
$grid-template-4-blocks-1x2x3-1x2x4: "block1 block2 block3" "block1 block2 block4";

// -----------------------------------------------------------------------------

// ┍──────────┐
// | 1        |
// └──────────┘
// ┍────┐┍────┐
// │ 3  ││  2 │
// └────┘│    │
// ┍────┐│    │
// │ 4  ││    │
// └────┘└────┘
$grid-template-4-blocks-1x1-3x2-4x2: "block1 block1" "block3 block2" "block4 block2";

// ┍────┐┍────┐┍────┐
// │ 1  ││ 2  ││ 3  │
// └────┘└────┘│    │
// ┍──────────┐│    |
// │ 4        ││    │
// └──────────┘└────┘
$grid-template-4-blocks-1x2x3-4x4x3: "block1 block2 block3" "block4 block4 block3";

// ┍────┐┍────┐
// │ 1  ││ 2  │
// │    │└────┘
// │    │┍────┐
// │    ││ 3  │
// └────┘└────┘
// ┍──────────┐
// | 4        |
// └──────────┘
$grid-template-4-blocks-1x2-1x3-4x4: "block1 block2" "block1 block3" "block4 block4";

// ┍────┐┍──────────┐
// │ 1  ││ 2        │
// │    │└──────────┘
// │    │┍────┐┍────┐
// │    ││ 3  ││ 4  │
// └────┘└────┘└────┘
$grid-template-4-blocks-1x2x2-1x3x4: "block1 block2 block2" "block1 block3 block4";

// -----------------------------------------------------------------------------

// ┍──────────┐
// | 1        |
// └──────────┘
// ┍────┐┍────┐
// │ 2  ││ 3  │
// │    │└────┘
// │    │┍────┐
// │    ││ 4  │
// └────┘└────┘
$grid-template-4-blocks-1x1-2x3-2x4: "block1 block1" "block2 block3" "block2 block4";

// ┍──────────┐┍────┐
// │ 1        ││ 4  │
// └──────────┘│    │
// ┍────┐┍────┐│    │
// │ 2  ││ 3  ││    │
// └────┘└────┘└────┘
$grid-template-4-blocks-1x1x4-2x3x4: "block1 block1 block4" "block2 block3 block4";

// ┍────┐┍────┐
// │ 1  ││ 2  │
// └────┘│    │
// ┍────┐│    │
// │ 3  ││    │
// └────┘└────┘
// ┍──────────┐
// | 4        |
// └──────────┘
$grid-template-4-blocks-1x2-3x2-4x4: "block1 block2" "block3 block2" "block4 block4";

// ┍───┐┍───┐┍───┐
// │ 1 ││ 2 ││ 3 │
// │   │└───┘└───┘
// │   |┍────────┐
// │   ││ 4      |
// └───┘└────────┘
$grid-template-4-blocks-1x2x3-1x4x4: "block1 block2 block3" "block1 block4 block4";

// =============================================================================
// 5x Blocks
// =============================================================================
