//
// Pass in a Map or List
//
// Lists should consist of element types, either by element, class or id (class and id's should be quoted strings)
// @include grid-areas( nav, header, main, quick-links, blockquote, article, footer );

// Maps keys should be the elements, class or id. Values should be the desired grid-area name
// @include grid-areas((
//   nav : '',
//   header : header,
//   main : main,
//   quick-links: quick-links,
//   blockquote : blockquote,
//   article : article,
//   footer : footer,
// ));

@mixin grid-areas($settings...) {

  $elements : ();

  @if (length($settings) > 1 and is-list( _arglist-to-list($settings))) {
    @each $element in $settings {
      $elements : append($elements, $element, comma);
      $area : str-replace($element, '.');
      $area : str-replace($element, '#');
      #{$element} { grid-area:unquote($area); }
    }
  } @elseif is-map($settings) {
    @each $element, $area in $settings {
      $elements : append($elements, $element, comma);
      $area : if(is-empty($area), $element, $area);
      #{$element} { grid-area:unquote($area); }
    }
  }

  // @if content-exists() {
  //   #{$elements} {
  //     @content;
  //   }
  // }
}
