////////////////////////////////////////////////////////////////////////////////
/// Aspect Ratio                                                   #aspect-ratio
////////////////////////////////////////////////////////////////////////////////

/// @example @include aspect-ratio(16/9)

@mixin aspect-ratio($ratio : 16/9) {
  --aspect-ratio: #{$ratio};
  height: 0;
  padding-bottom: calc(100%/(var(--aspect-ratio)));

  @supports (aspect-ratio: #{$ratio}) {
    aspect-ratio: var(--aspect-ratio);
    height: initial;
    padding-bottom: initial;
  }
}
