////////////////////////////////////////////////////////////////////////////////
/// Background                                                       #background
////////////////////////////////////////////////////////////////////////////////

@use 'position';

@mixin blowout($psudo : before) {
  &:#{$psudo} {
    content:"";
		background-color:inherit; 
		z-index:-1; 
    @include position.blowout; 
    @content;
  }
}