@charset "UTF-8"

// ← Leftwards Arrow
$leftwards-arrow: "\2190";

// ↑ Upwards Arrow
$upwards-arrow: "\2191";

// → Rightwards Arrow
$rightwards-arrow: "\2192";

// ↓ Downwards Arrow
$downwards-arrow: "\2193";

// ↔ Left Right Arrow
$left-right-arrow: "\2194";

// ↕ Up Down Arrow
$up-down-arrow: "\2195";

// ↖ North West Arrow
$north-west-arrow: "\2196";

// ↗ North East Arrow
$north-east-arrow: "\2197";

// ↘ South East Arrow
$south-east-arrow: "\2198";

// ↙ South West Arrow
$south-west-arrow: "\2199";

// ↚ Leftwards Arrow With Stroke
$leftwards-arrow-with-stroke: "\219A";

// ↛ Rightwards Arrow With Stroke
$rightwards-arrow-with-stroke: "\219B";

// ↜ Leftwards Wave Arrow
$leftwards-wave-arrow: "\219C";

// ↝ Rightwards Wave Arrow
$rightwards-wave-arrow: "\219D";

// ↞ Leftwards Two Headed Arrow
$leftwards-two-headed-arrow: "\219E";

// ↟ Upwards Two Headed Arrow
$upwards-two-headed-arrow: "\219F";

// ↠ Rightwards Two Headed Arrow
$rightwards-two-headed-arrow: "\21A0";

// ↡ Downwards Two Headed Arrow
$downwards-two-headed-arrow: "\21A1";

// ↢ Leftwards Arrow With Tail
$leftwards-arrow-with-tail: "\21A2";

// ↣ Rightwards Arrow With Tail
$rightwards-arrow-with-tail: "\21A3";

// ↤ Leftwards Arrow From Bar
$leftwards-arrow-from-bar: "\21A4";

// ↥ Upwards Arrow From Bar
$upwards-arrow-from-bar: "\21A5";

// ↦ Rightwards Arrow From Bar
$rightwards-arrow-from-bar: "\21A6";

// ↧ Downwards Arrow From Bar
$downwards-arrow-from-bar: "\21A7";

// ↨ Up Down Arrow With Base
$up-down-arrow-with-base: "\21A8";

// ↩ Leftwards Arrow With Hook
$leftwards-arrow-with-hook: "\21A9";

// ↪ Rightwards Arrow With Hook
$rightwards-arrow-with-hook: "\21AA";

// ↫ Leftwards Arrow With Loop
$leftwards-arrow-with-loop: "\21AB";

// ↬ Rightwards Arrow With Loop
$rightwards-arrow-with-loop: "\21AC";

// ↭ Left Right Wave Arrow
$left-right-wave-arrow: "\21AD";

// ↮ Left Right Arrow With Stroke
$left-right-arrow-with-stroke: "\21AE";

// ↯ Downwards Zigzag Arrow
$downwards-zigzag-arrow: "\21AF";

// ↰ Upwards Arrow With Tip Leftwards
$upwards-arrow-with-tip-leftwards: "\21B0";

// ↱ Upwards Arrow With Tip Rightwards
$upwards-arrow-with-tip-rightwards: "\21B1";

// ↲ Downwards Arrow With Tip Leftwards
$downwards-arrow-with-tip-leftwards: "\21B2";

// ↳ Downwards Arrow With Tip Rightwards
$downwards-arrow-with-tip-rightwards: "\21B3";

// ↴ Rightwards Arrow With Corner Downwards
$rightwards-arrow-with-corner-downwards: "\21B4";

// ↵ Downwards Arrow With Corner Leftwards
$downwards-arrow-with-corner-leftwards: "\21B5";

// ↶ Anticlockwise Top Semicircle Arrow
$anticlockwise-top-semicircle-arrow: "\21B6";

// ↷ Clockwise Top Semicircle Arrow
$clockwise-top-semicircle-arrow: "\21B7";

// ↸ North West Arrow To Long Bar
$north-west-arrow-to-long-bar: "\21B8";

// ↹ Leftwards Arrow To Bar Over Rightwards Arrow To Bar
$leftwards-arrow-to-bar-over-rightwards-arrow-to-bar: "\21B9";

// ↺ Anticlockwise Open Circle Arrow
$anticlockwise-open-circle-arrow: "\21BA";

// ↻ Clockwise Open Circle Arrow
$clockwise-open-circle-arrow: "\21BB";

// ↼ Leftwards Harpoon With Barb Upwards
$leftwards-harpoon-with-barb-upwards: "\21BC";

// ↽ Leftwards Harpoon With Barb Downwards
$leftwards-harpoon-with-barb-downwards: "\21BD";

// ↾ Upwards Harpoon With Barb Rightwards
$upwards-harpoon-with-barb-rightwards: "\21BE";

// ↿ Upwards Harpoon With Barb Leftwards
$upwards-harpoon-with-barb-leftwards: "\21BF";

// ⇀ Rightwards Harpoon With Barb Upwards
$rightwards-harpoon-with-barb-upwards: "\21C0";

// ⇁ Rightwards Harpoon With Barb Downwards
$rightwards-harpoon-with-barb-downwards: "\21C1";

// ⇂ Downwards Harpoon With Barb Rightwards
$downwards-harpoon-with-barb-rightwards: "\21C2";

// ⇃ Downwards Harpoon With Barb Leftwards
$downwards-harpoon-with-barb-leftwards: "\21C3";

// ⇄ Rightwards Arrow Over Leftwards Arrow
$rightwards-arrow-over-leftwards-arrow: "\21C4";

// ⇅ Upwards Arrow Leftwards Of Downwards Arrow
$upwards-arrow-leftwards-of-downwards-arrow: "\21C5";

// ⇆ Leftwards Arrow Over Rightwards Arrow
$leftwards-arrow-over-rightwards-arrow: "\21C6";

// ⇇ Leftwards Paired Arrows
$leftwards-paired-arrows: "\21C7";

// ⇈ Upwards Paired Arrows
$upwards-paired-arrows: "\21C8";

// ⇉ Rightwards Paired Arrows
$rightwards-paired-arrows: "\21C9";

// ⇊ Downwards Paired Arrows
$downwards-paired-arrows: "\21CA";

// ⇋ Leftwards Harpoon Over Rightwards Harpoon
$leftwards-harpoon-over-rightwards-harpoon: "\21CB";

// ⇌ Rightwards Harpoon Over Leftwards Harpoon
$rightwards-harpoon-over-leftwards-harpoon: "\21CC";

// ⇍ Leftwards Double Arrow With Stroke
$leftwards-double-arrow-with-stroke: "\21CD";

// ⇎ Left Right Double Arrow With Stroke
$left-right-double-arrow-with-stroke: "\21CE";

// ⇏ Rightwards Double Arrow With Stroke
$rightwards-double-arrow-with-stroke: "\21CF";

// ⇐ Leftwards Double Arrow
$leftwards-double-arrow: "\21D0";

// ⇑ Upwards Double Arrow
$upwards-double-arrow: "\21D1";

// ⇒ Rightwards Double Arrow
$rightwards-double-arrow: "\21D2";

// ⇓ Downwards Double Arrow
$downwards-double-arrow: "\21D3";

// ⇔ Left Right Double Arrow
$left-right-double-arrow: "\21D4";

// ⇕ Up Down Double Arrow
$up-down-double-arrow: "\21D5";

// ⇖ North West Double Arrow
$north-west-double-arrow: "\21D6";

// ⇗ North East Double Arrow
$north-east-double-arrow: "\21D7";

// ⇘ South East Double Arrow
$south-east-double-arrow: "\21D8";

// ⇙ South West Double Arrow
$south-west-double-arrow: "\21D9";

// ⇚ Leftwards Triple Arrow
$leftwards-triple-arrow: "\21DA";

// ⇛ Rightwards Triple Arrow
$rightwards-triple-arrow: "\21DB";

// ⇜ Leftwards Squiggle Arrow
$leftwards-squiggle-arrow: "\21DC";

// ⇝ Rightwards Squiggle Arrow
$rightwards-squiggle-arrow: "\21DD";

// ⇞ Upwards Arrow With Double Stroke
$upwards-arrow-with-double-stroke: "\21DE";

// ⇟ Downwards Arrow With Double Stroke
$downwards-arrow-with-double-stroke: "\21DF";

// ⇠ Leftwards Dashed Arrow
$leftwards-dashed-arrow: "\8672";

// ⇡ Upwards Dashed Arrow
$upwards-dashed-arrow: "\8673";

// ⇢ Rightwards Dashed Arrow
$rightwards-dashed-arrow: "\8674";

// ⇣ Downwards Dashed Arrow
$downwards-dashed-arrow: "\8675";

// ⇤ Leftwards Arrow To Bar
$leftwards-arrow-to-bar: "\8676";

// ⇥ Rightwards Arrow To Bar
$rightwards-arrow-to-bar: "\8677";

// ⇦ Leftwards White Arrow
$leftwards-white-arrow: "\8678";

// ⇧ Upwards White Arrow
$upwards-white-arrow: "\8679";

// ⇨ Rightwards White Arrow
$rightwards-white-arrow: "\8680";

// ⇩ Downwards White Arrow
$downwards-white-arrow: "\8681";

// ⇪ Upwards White Arrow From Bar
$upwards-white-arrow-from-bar: "\21EA";

// ⇫ Upwards White Arrow On Pedestal
$upwards-white-arrow-on-pedestal: "\21EB";

// ⇬ Upwards White Arrow On Pedestal With Horizontal Bar
$upwards-white-arrow-on-pedestal-with-horizontal-bar: "\21EC";

// ⇭ Upwards White Arrow On Pedestal With Vertical Bar
$upwards-white-arrow-on-pedestal-with-vertical-bar: "\21ED";

// ⇮ Upwards White Double Arrow
$upwards-white-double-arrow: "\21EE";

// ⇯ Upwards White Double Arrow On Pedestal
$upwards-white-double-arrow-on-pedestal: "\21EF";

// ⇰ Rightwards White Arrow From Wall
$rightwards-white-arrow-from-wall: "\21F0";

// ⇱ North West Arrow To Corner
$north-west-arrow-to-corner: "\21F1";

// ⇲ South East Arrow To Corner
$south-east-arrow-to-corner: "\21F2";

// ⇳ Up Down White Arrow
$up-down-white-arrow: "\21F3";

// ⇴ Right Arrow With Small Circle
$right-arrow-with-small-circle: "\21F4";

// ⇵ Downwards Arrow Leftwards Of Upwards Arrow
$downwards-arrow-leftwards-of-upwards-arrow: "\21F5";

// ⇶ Three Rightwards Arrows
$three-rightwards-arrows: "\21F6";

// ⇷ Leftwards Arrow With Vertical Stroke
$leftwards-arrow-with-vertical-stroke: "\21F7";

// ⇸ Rightwards Arrow With Vertical Stroke
$rightwards-arrow-with-vertical-stroke: "\21F8";

// ⇹ Left Right Arrow With Vertical Stroke
$left-right-arrow-with-vertical-stroke: "\21F9";

// ⇺ Leftwards Arrow With Double Vertical Stroke
$leftwards-arrow-with-double-vertical-stroke: "\21FA";

// ⇻ Rightwards Arrow With Double Vertical Stroke
$rightwards-arrow-with-double-vertical-stroke: "\21FB";

// ⇼ Left Right Arrow With Double Vertical Stroke
$left-right-arrow-with-double-vertical-stroke: "\21FC";

// ⇽ Leftwards Open-headed Arrow
$leftwards-open-headed-arrow: "\21FD";

// ⇾ Rightwards Open-headed Arrow
$rightwards-open-headed-arrow: "\21FE";

// ⇿ Left Right Open-headed Arrow
$left-right-open-headed-arrow: "\21FF";
