////////////////////////////////////////////////////////////////////////////////
/// Brand Colours                                                 #brand-colours
////////////////////////////////////////////////////////////////////////////////

/// @author John Lock
/// @link https://www.lockedownseo.com/social-media-colors/

$facebook:    #4267B2 !default;
$twitter:     #1da1f2 !default;
$google:      #E34033 !default;
$youtube:     #ff0000 !default;
$linkedin:    #007bb5 !default;
$instagram:   #c32aa3 !default;
$pinterest:   #bd081c !default;
$dailymotion: #0066DC !default;
$snapchat:    #fffc00 !default;
$flickr:      #f40083 !default;
$vimeo:       #1ab7ea !default;
$tumbler:     #35465d !default;
$reddit:      #ff4500 !default;
$whatsapp:    #25d366 !default;
$skype:       #00aff0 !default;
$discord:     #7289da !default;
$yello:       #FFCB08 !default;

$brand-colours : (
  facebook:     $facebook,
  twitter:      $twitter,
  google:       $google,
  youtube:      $youtube,
  linkedin:     $linkedin,
  instagram:    $instagram,
  pinterest:    $pinterest,
  dailymotion:  $dailymotion,
  snapchat:     $snapchat,
  flickr:       $flickr,
  vimeo:        $vimeo,
  tumbler:      $tumbler,
  reddit:       $reddit,
  whatsapp:     $whatsapp,
  skype:        $skype,
  discord:      $discord,
  yello:        $yello,
);