@mixin viewport-width($break:$min, $refactor:false) {
  position:absolute;
  width:100%;
  @include break($break, '>') {
    width:100vw;
    left:50%;
    @include x(-50%);
  }
  @if ( $refactor != false ) {
    $refactor-gap : if(is-number($refactor), add-unit($refactor), $gap);
    @include break($break + 1, '<') {
      left:-$refactor-gap;
      width:calc(100% + #{$refactor-gap});
    }
  }
}
