// Center vertically and horizontally
@mixin align($axis:null, $width:null, $height:null) {
  position:absolute;
  @if ( $axis == vertical or $axis == v) {
    // Vertical
    top:50%; height:$height#{px}; margin-top:- $height/2#{px};
  } @else if ( $axis == horizontal or $axis == h) {
    // Horizontal
    left:50%; width:$width#{px}; margin-left:- $width/2#{px};
  } @else { 
    // Both
    @if ($height == null) { $height : $width; }
    top:50%; left:50%; height:$height#{px}; width:$width#{px}; margin-left:- $width/2#{px}; margin-top:- $height/2#{px};
  }
}