// Add a background image
@mixin background-image($img, $bg-colour:null, $width:null, $height:null, $y:center, $x:center, $repeat:no-repeat ) {
  $y : if(number-check($y), $y#{px}, $y);
  $x : if(number-check($x), $x#{px}, $x);
  // Use image width if not supplied. 
  $width: if($width == null, image-width($img), if(number-check($width), $width#{px}, $width));
  // Use image height if not supplied. 
  $height: if($height == null, image-height($img), if(number-check($height), $height#{px}, $height));
  // Now reset the img variable but include the directory path if it exists. If it doesn't use the compass/sass default path. 
  $img: if(not $image-url, image-url($image-url + $img), url($image-url + $img));

  background:$bg-colour $img $x $y #{"/"} $width $height $repeat;
}