@mixin font-face($family, $file, $formats) {
  @font-face {
    $source : ();      
    font-family:$family;
    @each $format in $formats {
      $source : append($source, url($font-url + $file + '.' + $format), comma);
    }
    src: $source;
    @content;
  }
}