@mixin smart-horizontal($width, $gutter:$gap, $break:null) {
  $gutter      : if($gutter == 0, null, $gutter);
  $max-width   : $width;
  $width       : if(is-null($gutter), 100%, calc(100% - #{$gutter*2}));
  $margin-left : if(is-null($gutter), #{- addUnit($max-width/2)}, calc(0% - #{addUnit($max-width/2)} - #{addUnit($gutter)}));
  $left1       : if(is-null($gutter), 50%, calc(50% + #{addUnit($gutter)}));
  $left2       : if(is-null($gutter), 0, addUnit($gutter));
  $break       : if(is-null($break), if(is-null($gutter), $max-width, $max-width + $gutter*2), $break);

  position:absolute;
  width:$width; 
  max-width:addUnit($max-width); 
  left:$left1;
  margin-left:$margin-left;
  @include ani(left margin-left);
  @include break($break) { 
    left:$left2; 
    margin-left:0;
  }
  @content;
}