/// Create a svg background image with dots. 
///
/// @author Mark Notton
///
/// @access public
///
/// @param {list} $settings
///   In any order and without comma delimination, add any of the follwing settings
///   {color}  - Colour of the lines. Default is black.
///   {number} - The first instance of a number will be used for line thickness. In 'px'; Default is 4px.
///              The second instance of a number will be used for lines spacing. In 'px'; Default is 0px.
///   {string} - 'vertical' or 'horizontal' can be defined to choose a direction.
///
/// @todo Add the ability to chose a direction by degrees
///
/// @require {function} is-colour
/// @require {function} is-string
/// @require {function} is-number
/// @require {function} colour
/// @require {function} svg
/// @require {function} strip
///
/// @example scss - Usage
///   Red dots at 8px in width and height. Alternative dots don't exist:
///   background:dots(red 8);
///
///   Red dots at 4px in width and height. Alternative dots are the same, but green:
///   background:dots(red green); 
///
///   Red dots at 10px in width and height. Alternative dots are the same, but green. All dots are spaced 5px apart:
///   background:dots(red green 10 5); 
///
/// @return {String}

@function lines($settings:null) {
  
  $size : null;
  $spacing : 2;
  $colour : black;
  $direction : horizontal;
  $svg : '';

  @each $setting in $settings {
    @if is-colour($setting)  {
      $colour : $setting;
    }
    @elseif is-string($setting) and contains(horizontal vertical, $setting) {
      $direction : $setting;
    }
    @elseif is-number($setting) {
      @if $size == null {
        $size : strip($setting);
      }
      @else {
        $spacing : strip($setting);
      }
    }
  }

  @if $size == null { 
    $size : 1;
  }
  
  @if $direction == horizontal {
    $svg : "<svg xmlns='http://www.w3.org/2000/svg' width='1' height='"+($size + $spacing)+"'>";
    $svg : $svg + "<rect width='1' height='"+$size+"' fill='"+ colour($colour, true)+"'/>";
    $svg : $svg + "</svg>";
  }
  @elseif $direction == vertical {
    $svg : "<svg xmlns='http://www.w3.org/2000/svg' height='1' width='"+($size + $spacing)+"'>";
    $svg : $svg + "<rect height='1' width='"+$size+"' fill='"+ colour($colour, true)+"'/>";
    $svg : $svg + "</svg>";
  }

  @return svg($svg);
}