// Add a breakpoint to a global map, which can be called on using the 'breaks' function
@mixin add-breakpoint($args...) {

  @for $i from 1 through length($args) {

    $name : null;
    $size : null;

    $arg: nth($args, $i);

    @each $rule in $arg {
      @if type-of($rule) == string {
        $name : $rule;
      }
      @if type-of($rule) == number {
        $size : strip-unit($rule);
      }
    }

    $name : if($name == null and type-of($size) == number, #{$size}, $name);

    @if $name and $size {
      $breakpoints : map-set($breakpoints, $name, $size) !global;
    }
  }
  @at-root body { @include set-breakpoints(); }
}
