@mixin show-breakpoints($sudo : before) {
  #{$show-breakpoints-selector}:#{$sudo} {
    content:"> #{$max}px";
    background-color:darken($red, 20);
    bottom:0;
    right:0;
    padding:4px $gap0;
    @include border-radius(5 top-left);
    @include ani(background-color color);
    @extend %nopointerevents, %no-wrap;
    position:fixed;
    z-index:9999;
    font-size:10px;
    color:white;
    text-align:center;
    @each $name, $value in $breakpoints {
      $random-color: random-colour();
      @include break($value) {
        content:"#{$name}: #{$value}px";
        background-color:$random-color;
        color:colour-contrast($random-color);
      }
    }
  }
}
