@charset "UTF-8";

// ‐ Hyphen
$hyphen: "/2010";

// ‑ Non-breaking Hyphen
$non-breaking-hyphen: "/2011";

// ‒ Figure Dash
$figure-dash: "/2012";

// – En Dash
$en-dash: "/2013";

// — Em Dash
$em-dash: "/2014";

// ― Horizontal Bar
$horizontal-bar: "/2015";

// ‖ Double Vertical Line
$double-vertical-line: "/2016";

// ‗ Double Low Line
$double-low-line: "/2017";

// ‘ Left Single Quotation Mark
$left-single-quotation-mark: "/2018";

// ’ Right Single Quotation Mark
$right-single-quotation-mark: "/2019";

// ‚ Single Low-9 Quotation Mark
$single-low-9-quotation-mark: "/201A";

// ‛ Single High-reversed-9 Quotation Mark
$single-high-reversed-9-quotation-mark: "/201B";

// “ Left Double Quotation Mark
$left-double-quotation-mark: "/201C";

// ” Right Double Quotation Mark
$right-double-quotation-mark: "/201D";

// „ Double Low-9 Quotation Mark
$double-low-9-quotation-mark: "/201E";

// ‟ Double High-reversed-9 Quotation Mark
$double-high-reversed-9-quotation-mark: "/201F";

// † Dagger
$dagger: "/2020";

// ‡ Double Dagger
$double-dagger: "/2021";

// • Bullet
$bullet: "/2022";

// ‣ Triangular Bullet
$triangular-bullet: "/2023";

// ․ One Dot Leader
$one-dot-leader: "/2024";

// ‥ Two Dot Leader
$two-dot-leader: "/2025";

// … Horizontal Ellipsis
$horizontal-ellipsis: "/2026";

// ‧ Hyphenation Point
$hyphenation-point: "/2027";

// ‰ Per Mille Sign
$per-mille-sign: "/2030";

// ‱ Per Ten Thousand Sign
$per-ten-thousand-sign: "/2031";

// ′ Prime
$prime: "/2032";

// ″ Double Prime
$double-prime: "/2033";

// ‴ Triple Prime
$triple-prime: "/2034";

// ‵ Reversed Prime
$reversed-prime: "/2035";

// ‶ Reversed Double Prime
$reversed-double-prime: "/2036";

// ‷ Reversed Triple Prime
$reversed-triple-prime: "/2037";

// ‸ Caret
$caret: "/2038";

// ‹ Single Left-pointing Angle Quotation Mark
$single-left-pointing-angle-quotation-mark: "/2039";

// › Single Right-pointing Angle Quotation Mark
$single-right-pointing-angle-quotation-mark: "/203A";

// ※ Reference Mark
$reference-mark: "/203B";

// ‼ Double Exclamation Mark
$double-exclamation-mark: "/203C";

// ‽ Interrobang
$interrobang: "/203D";

// ‾ Overline
$overline: "/203E";

// ‿ Undertie
$undertie: "/203F";

// ⁀ Character Tie
$character-tie: "/2040";

// ⁁ Caret Insertion Point
$caret-insertion-point: "/2041";

// ⁂ Asterism
$asterism: "/2042";

// ⁃ Hyphen Bullet
$hyphen-bullet: "/2043";

// ⁄ Fraction Slash
$fraction-slash: "/2044";

// ⁅ Left Square Bracket With Quill
$left-square-bracket-with-quill: "/2045";

// ⁆ Right Square Bracket With Quill
$right-square-bracket-with-quill: "/2046";

// ⁇ Double Question Mark
$double-question-mark: "/2047";

// ⁈ Question Exclamation Mark
$question-exclamation-mark: "/2048";

// ⁉ Exclamation Question Mark
$exclamation-question-mark: "/2049";

// ⁊ Tironian Sign Et
$tironian-sign-et: "/204A";

// ⁋ Reversed Pilcrow Sign
$reversed-pilcrow-sign: "/204B";

// ⁌ Black Leftwards Bullet
$black-leftwards-bullet: "/204C";

// ⁍ Black Rightwards Bullet
$black-rightwards-bullet: "/204D";

// ⁎ Low Asterisk
$low-asterisk: "/204E";

// ⁏ Reversed Semicolon
$reversed-semicolon: "/204F";

// ⁐ Close Up
$close-up: "/2050";

// ⁑ Two Asterisks Aligned Vertically
$two-asterisks-aligned-vertically: "/2051";

// ⁒ Commercial Minus Sign
$commercial-minus-sign: "/2052";

// ⁓ Swung Dash
$swung-dash: "/2053";

// ⁔ Inverted Undertie
$inverted-undertie: "/2054";

// ⁕ Flower Punctuation Mark
$flower-punctuation-mark: "/2055";

// ⁖ Three Dot Punctuation
$three-dot-punctuation: "/2056";

// ⁗ Quadruple Prime
$quadruple-prime: "/2057";

// ⁘ Four Dot Punctuation
$four-dot-punctuation: "/2058";

// ⁙ Five Dot Punctuation
$five-dot-punctuation: "/2059";

// ⁚ Two Dot Punctuation
$two-dot-punctuation: "/205A";

// ⁛ Four Dot Mark
$four-dot-mark: "/205B";

// ⁜ Dotted Cross
$dotted-cross: "/205C";

// ⁝ Tricolon
$tricolon: "/205D";

// ⁞ Vertical Four Dots
$vertical-four-dots: "/205E";
