// Check to see if Bourbon or Neat frameworks exist and if they're successfully imported 
$bourbon : file_exists('bourbon/bourbon') and variable-exists(em-base);
$neat    : file_exists('neat/neat') and variable-exists(visual-grid);

// Force mixins from the Yello framework to be used instead of all other conflicting and aliased mixins
$force-yello : false; 


// Alias Yello mixins to Bourbon mixins
@if ($bourbon and not $force-yello) {
  @mixin strip($args...) {
    @include warning("This project uses the Bourbon framework. The 'strip' mixin has been aliased to Bourbon's 'strip-units'.");
    @include strip-units($args...);
  }
  // TODO:
  // @mixin break($args...) {
  //   @include warning("This project uses the Bourbon framework. The 'strip' mixin has been aliased to Bourbon's 'strip-units'.");
  //   @if not false(nth($args, 1)) {
  //     @include media(nth($args, 1) addUnit(nth($args, 0))) { @content };
  //   } @else {
  //     @include media(mobile-first() addUnit(nth($args, 0))) { @content };
  //   }
  // }
}

// Alias Yello mixins to Neat mixins
@if ($neat and not $force-yello) {
  @mixin span($args...) {
    @include warning("This project uses the Neat framework. The 'span' mixin has been alaised to Neats's 'span-columns'.");
    @include span-columns($args...);
  }
}

// Alias Bourbon mixins to Yello mixins
@if ($bourbon) {
  // TODO: Placeholder mixin
  // TODO:
  // @mixin size($args...) {
  //   @include warning("The Bourbon mixin 'size' has been alaised to Yello's own 'size' mixin.");
  //   @if (type-of($args) -> list) {
  //     $w : nth($args, 0);
  //     $h : nth($args, 1);
  //     @include size($w, $h);
  //   } @else {
  //     @include size($args...);
  //   }
  // }
}

// Alias Neat mixins to Yello mixins
@if ($neat) {
  @mixin outer-container($args...) {
    @include warning("The Neat mixin 'outer-container' has been alaised to Yello's own 'container' mixin.");
    @include container($args...);
  }
}