/// Quick mixin to remove all active flexbox properties
///
/// @author Mark Notton
///
/// @access public
///
@mixin flex-remove($important:null) {
  @if ($important is true) {
    flex:initial !important;
    display:initial !important;
    flex-direction:initial !important;
    justify-content:initial !important;
  } @else {
    flex:initial;
    display:initial;
    flex-direction:initial;
    justify-content:initial;
  }
}
