/// @reuired postcss-inline-svg

@mixin inline-svg($svg, $fill:null, $stroke:null, $stroke-width:null, $path:'sprites') {

  $explode : string-explode($svg, '.');

  $name : nth($explode, 1);
  $filename : _add-extension($svg, 'svg');
  @at-root (without: media) {
    @svg-load #{$name} url(#{if(is-null($path), '', $path+'/')+$filename}) {
      @if not is-null($fill) {
        * { fill: $fill; }
      }
      @if not is-null($stroke) {
        * { stroke: $stroke; stroke-width:add-unit($stroke-width); }
      }
      @content;
    }
  }

  & { background-image: svg-inline(unquote($name)); }

}
