
/// @see https://github.com/IonicaBizau/emoji.css?ref=producthunt
/// @author Ionică Bizău

// 100
$emoji-100 :                             "💯";

// 1234
$emoji-1234 :                            "🔢";

// Grinning
$emoji-grinning :                        "😀";

// Grimacing
$emoji-grimacing :                       "😬";

// Grin
$emoji-grin :                            "😁";

// Joy
$emoji-joy :                             "😂";

// Rofl
$emoji-rofl :                            "🤣";

// Smiley
$emoji-smiley :                          "😃";

// Smile
$emoji-smile :                           "😄";

// Sweat Smile
$emoji-sweat-smile :                     "😅";

// Laughing
$emoji-laughing :                        "😆";

// Innocent
$emoji-innocent :                        "😇";

// Wink
$emoji-wink :                            "😉";

// Blush
$emoji-blush :                           "😊";

// Slightly Smiling Face
$emoji-slightly-smiling-face :           "🙂";

// Upside Down Face
$emoji-upside-down-face :                "🙃";

// Yum
$emoji-yum :                             "😋";

// Relieved
$emoji-relieved :                        "😌";

// Heart Eyes
$emoji-heart-eyes :                      "😍";

// Kissing Heart
$emoji-kissing-heart :                   "😘";

// Kissing
$emoji-kissing :                         "😗";

// Kissing Smiling Eyes
$emoji-kissing-smiling-eyes :            "😙";

// Kissing Closed Eyes
$emoji-kissing-closed-eyes :             "😚";

// Stuck Out Tongue Winking Eye
$emoji-stuck-out-tongue-winking-eye :    "😜";

// Stuck Out Tongue Closed Eyes
$emoji-stuck-out-tongue-closed-eyes :    "😝";

// Stuck Out Tongue
$emoji-stuck-out-tongue :                "😛";

// Money Mouth Face
$emoji-money-mouth-face :                "🤑";

// Nerd Face
$emoji-nerd-face :                       "🤓";

// Sunglasses
$emoji-sunglasses :                      "😎";

// Clown Face
$emoji-clown-face :                      "🤡";

// Cowboy Hat Face
$emoji-cowboy-hat-face :                 "🤠";

// Hugs
$emoji-hugs :                            "🤗";

// Smirk
$emoji-smirk :                           "😏";

// No Mouth
$emoji-no-mouth :                        "😶";

// Neutral Face
$emoji-neutral-face :                    "😐";

// Expressionless ---------------------------
$emoji-expressionless :                  "😑";

// Unamused ---------------------------------
$emoji-unamused :                        "😒";

// Roll Eyes --------------------------------
$emoji-roll-eyes :                       "🙄";

// Thinking ---------------------------------
$emoji-thinking :                        "🤔";

// Lying Face -------------------------------
$emoji-lying-face :                      "🤥";

// Flushed
$emoji-flushed : "😳";

// Disappointed
$emoji-disappointed : "😞";

// Worried
$emoji-worried : "😟";

// Angry
$emoji-angry : "😠";

// Rage
$emoji-rage : "😡";

// Pensive
$emoji-pensive : "😔";

// Confused
$emoji-confused : "😕";

// Slightly Frowning Face
$emoji-slightly-frowning-face : "🙁";

// Frowning Face
$emoji-frowning-face : "☹";

// Persevere
$emoji-persevere : "😣";

// Confounded
$emoji-confounded : "😖";

// Tired Face
$emoji-tired-face : "😫";

// Weary
$emoji-weary : "😩";

// Triumph
$emoji-triumph : "😤";

// Open Mouth
$emoji-open-mouth : "😮";

// Scream
$emoji-scream : "😱";

// Fearful
$emoji-fearful : "😨";

// Cold Sweat
$emoji-cold-sweat : "😰";

// Hushed
$emoji-hushed : "😯";

// Frowning
$emoji-frowning : "😦";

// Anguished
$emoji-anguished : "😧";

// Cry
$emoji-cry : "😢";

// Disappointed Relieved
$emoji-disappointed-relieved : "😥";

// Drooling Face
$emoji-drooling-face : "🤤";

// Sleepy
$emoji-sleepy : "😪";

// Sweat
$emoji-sweat : "😓";

// Sob
$emoji-sob : "😭";

// Dizzy Face
$emoji-dizzy-face : "😵";

// Astonished
$emoji-astonished : "😲";

// Zipper Mouth Face
$emoji-zipper-mouth-face : "🤐";

// Nauseated Face
$emoji-nauseated-face : "🤢";

// Sneezing Face
$emoji-sneezing-face : "🤧";

// Mask
$emoji-mask : "😷";

// Face With Thermometer
$emoji-face-with-thermometer : "🤒";

// Face With Head Bandage
$emoji-face-with-head-bandage : "🤕";

// Sleeping
$emoji-sleeping : "😴";

// Zzz
$emoji-zzz : "💤";

// Poop
$emoji-poop : "💩";

// Smiling Imp
$emoji-smiling-imp : "😈";

// Imp
$emoji-imp : "👿";

// Japanese Ogre
$emoji-japanese-ogre : "👹";

// Japanese Goblin
$emoji-japanese-goblin : "👺";

// Skull
$emoji-skull : "💀";

// Ghost
$emoji-ghost : "👻";

// Alien
$emoji-alien : "👽";

// Robot
$emoji-robot : "🤖";

// Smiley Cat
$emoji-smiley-cat : "😺";

// Smile Cat
$emoji-smile-cat : "😸";

// Joy Cat
$emoji-joy-cat : "😹";

// Heart Eyes Cat
$emoji-heart-eyes-cat : "😻";

// Smirk Cat
$emoji-smirk-cat : "😼";

// Kissing Cat
$emoji-kissing-cat : "😽";

// Scream Cat
$emoji-scream-cat : "🙀";

// Crying Cat Face
$emoji-crying-cat-face : "😿";

// Pouting Cat
$emoji-pouting-cat : "😾";

// Raised Hands
$emoji-raised-hands : "🙌";

// Clap
$emoji-clap : "👏";

// Wave
$emoji-wave : "👋";

// Call Me Hand
$emoji-call-me-hand : "🤙";

// Plus1
$emoji-plus1 : "👍";

// 1
$emoji--1 : "👎";

// Facepunch
$emoji-facepunch : "👊";

// Fist
$emoji-fist : "✊";

// Fist Left
$emoji-fist-left : "🤛";

// Fist Right
$emoji-fist-right : "🤜";

// V
$emoji-v : "✌";

// Ok Hand
$emoji-ok-hand : "👌";

// Raised Hand
$emoji-raised-hand : "✋";

// Raised Back Of Hand
$emoji-raised-back-of-hand : "🤚";

// Open Hands
$emoji-open-hands : "👐";

// Muscle
$emoji-muscle : "💪";

// Pray
$emoji-pray : "🙏";

// Handshake
$emoji-handshake : "🤝";

// Point Up
$emoji-point-up : "☝";

// Point Up 2
$emoji-point-up-2 : "👆";

// Point Down
$emoji-point-down : "👇";

// Point Left
$emoji-point-left : "👈";

// Point Right
$emoji-point-right : "👉";

// Fu
$emoji-fu : "🖕";

// Raised Hand With Fingers Splayed
$emoji-raised-hand-with-fingers-splayed : "🖐";

// Metal
$emoji-metal : "🤘";

// Crossed Fingers
$emoji-crossed-fingers : "🤞";

// Vulcan Salute
$emoji-vulcan-salute : "🖖";

// Writing Hand
$emoji-writing-hand : "✍";

// Selfie
$emoji-selfie : "🤳";

// Nail Care
$emoji-nail-care : "💅";

// Lips
$emoji-lips : "👄";

// Tongue
$emoji-tongue : "👅";

// Ear
$emoji-ear : "👂";

// Nose
$emoji-nose : "👃";

// Eye
$emoji-eye : "👁";

// Eyes
$emoji-eyes : "👀";

// Bust In Silhouette
$emoji-bust-in-silhouette : "👤";

// Busts In Silhouette
$emoji-busts-in-silhouette : "👥";

// Speaking Head
$emoji-speaking-head : "🗣";

// Baby
$emoji-baby : "👶";

// Boy
$emoji-boy : "👦";

// Girl
$emoji-girl : "👧";

// Man
$emoji-man : "👨";

// Woman
$emoji-woman : "👩";

// Blonde Man
$emoji-blonde-man : "👱";

// Older Man
$emoji-older-man : "👴";

// Older Woman
$emoji-older-woman : "👵";

// Man With Gua Pi Mao
$emoji-man-with-gua-pi-mao : "👲";

// Man With Turban
$emoji-man-with-turban : "👳";

// Policeman
$emoji-policeman : "👮";

// Construction Worker Man
$emoji-construction-worker-man : "👷";

// Guardsman
$emoji-guardsman : "💂";

// Male Detective
$emoji-male-detective : "🕵";

// Mrs Claus
$emoji-mrs-claus : "🤶";

// Santa
$emoji-santa : "🎅";

// Angel
$emoji-angel : "👼";

// Pregnant Woman
$emoji-pregnant-woman : "🤰";

// Princess
$emoji-princess : "👸";

// Prince
$emoji-prince : "🤴";

// Bride With Veil
$emoji-bride-with-veil : "👰";

// Man In Tuxedo
$emoji-man-in-tuxedo : "🤵";

// Running Man
$emoji-running-man : "🏃";

// Walking Man
$emoji-walking-man : "🚶";

// Dancer
$emoji-dancer : "💃";

// Man Dancing
$emoji-man-dancing : "🕺";

// Dancing Women
$emoji-dancing-women : "👯";

// Couple
$emoji-couple : "👫";

// Two Men Holding Hands
$emoji-two-men-holding-hands : "👬";

// Two Women Holding Hands
$emoji-two-women-holding-hands : "👭";

// Bowing Man
$emoji-bowing-man : "🙇";

// Man Facepalming
$emoji-man-facepalming : "🤦";

// Woman Shrugging
$emoji-woman-shrugging : "🤷";

// Tipping Hand Woman
$emoji-tipping-hand-woman : "💁";

// No Good Woman
$emoji-no-good-woman : "🙅";

// Ok Woman
$emoji-ok-woman : "🙆";

// Raising Hand Woman
$emoji-raising-hand-woman : "🙋";

// Pouting Woman
$emoji-pouting-woman : "🙎";

// Frowning Woman
$emoji-frowning-woman : "🙍";

// Haircut Woman
$emoji-haircut-woman : "💇";

// Massage Woman
$emoji-massage-woman : "💆";

// Couple With Heart Woman Man
$emoji-couple-with-heart-woman-man : "💑";

// Couplekiss Man Woman
$emoji-couplekiss-man-woman : "💏";

// Family Man Woman Boy
$emoji-family-man-woman-boy : "👪";

// Womans Clothes
$emoji-womans-clothes : "👚";

// Tshirt
$emoji-tshirt : "👕";

// Jeans
$emoji-jeans : "👖";

// Necktie
$emoji-necktie : "👔";

// Dress
$emoji-dress : "👗";

// Bikini
$emoji-bikini : "👙";

// Kimono
$emoji-kimono : "👘";

// Lipstick
$emoji-lipstick : "💄";

// Kiss
$emoji-kiss : "💋";

// Footprints
$emoji-footprints : "👣";

// High Heel
$emoji-high-heel : "👠";

// Sandal
$emoji-sandal : "👡";

// Boot
$emoji-boot : "👢";

// Mans Shoe
$emoji-mans-shoe : "👞";

// Athletic Shoe
$emoji-athletic-shoe : "👟";

// Womans Hat
$emoji-womans-hat : "👒";

// Tophat
$emoji-tophat : "🎩";

// Rescue Worker Helmet
$emoji-rescue-worker-helmet : "⛑";

// Mortar Board
$emoji-mortar-board : "🎓";

// Crown
$emoji-crown : "👑";

// School Satchel
$emoji-school-satchel : "🎒";

// Pouch
$emoji-pouch : "👝";

// Purse
$emoji-purse : "👛";

// Handbag
$emoji-handbag : "👜";

// Briefcase
$emoji-briefcase : "💼";

// Eyeglasses
$emoji-eyeglasses : "👓";

// Dark Sunglasses
$emoji-dark-sunglasses : "🕶";

// Ring
$emoji-ring : "💍";

// Closed Umbrella
$emoji-closed-umbrella : "🌂";

// Dog
$emoji-dog : "🐶";

// Cat
$emoji-cat : "🐱";

// Mouse
$emoji-mouse : "🐭";

// Hamster
$emoji-hamster : "🐹";

// Rabbit
$emoji-rabbit : "🐰";

// Fox Face
$emoji-fox-face : "🦊";

// Bear
$emoji-bear : "🐻";

// Panda Face
$emoji-panda-face : "🐼";

// Koala
$emoji-koala : "🐨";

// Tiger
$emoji-tiger : "🐯";

// Lion
$emoji-lion : "🦁";

// Cow
$emoji-cow : "🐮";

// Pig
$emoji-pig : "🐷";

// Pig Nose
$emoji-pig-nose : "🐽";

// Frog
$emoji-frog : "🐸";

// Squid
$emoji-squid : "🦑";

// Octopus
$emoji-octopus : "🐙";

// Shrimp
$emoji-shrimp : "🦐";

// Monkey Face
$emoji-monkey-face : "🐵";

// Gorilla
$emoji-gorilla : "🦍";

// See No Evil
$emoji-see-no-evil : "🙈";

// Hear No Evil
$emoji-hear-no-evil : "🙉";

// Speak No Evil
$emoji-speak-no-evil : "🙊";

// Monkey
$emoji-monkey : "🐒";

// Chicken
$emoji-chicken : "🐔";

// Penguin
$emoji-penguin : "🐧";

// Bird
$emoji-bird : "🐦";

// Baby Chick
$emoji-baby-chick : "🐤";

// Hatching Chick
$emoji-hatching-chick : "🐣";

// Hatched Chick
$emoji-hatched-chick : "🐥";

// Duck
$emoji-duck : "🦆";

// Eagle
$emoji-eagle : "🦅";

// Owl
$emoji-owl : "🦉";

// Bat
$emoji-bat : "🦇";

// Wolf
$emoji-wolf : "🐺";

// Boar
$emoji-boar : "🐗";

// Horse
$emoji-horse : "🐴";

// Unicorn
$emoji-unicorn : "🦄";

// Honeybee
$emoji-honeybee : "🐝";

// Bug
$emoji-bug : "🐛";

// Butterfly
$emoji-butterfly : "🦋";

// Snail
$emoji-snail : "🐌";

// Beetle
$emoji-beetle : "🐞";

// Ant
$emoji-ant : "🐜";

// Spider
$emoji-spider : "🕷";

// Scorpion
$emoji-scorpion : "🦂";

// Crab
$emoji-crab : "🦀";

// Snake
$emoji-snake : "🐍";

// Lizard
$emoji-lizard : "🦎";

// Turtle
$emoji-turtle : "🐢";

// Tropical Fish
$emoji-tropical-fish : "🐠";

// Fish
$emoji-fish : "🐟";

// Blowfish
$emoji-blowfish : "🐡";

// Dolphin
$emoji-dolphin : "🐬";

// Shark
$emoji-shark : "🦈";

// Whale
$emoji-whale : "🐳";

// Whale2
$emoji-whale2 : "🐋";

// Crocodile
$emoji-crocodile : "🐊";

// Leopard
$emoji-leopard : "🐆";

// Tiger2
$emoji-tiger2 : "🐅";

// Water Buffalo
$emoji-water-buffalo : "🐃";

// Ox
$emoji-ox : "🐂";

// Cow2
$emoji-cow2 : "🐄";

// Deer
$emoji-deer : "🦌";

// Dromedary Camel
$emoji-dromedary-camel : "🐪";

// Camel
$emoji-camel : "🐫";

// Elephant
$emoji-elephant : "🐘";

// Rhinoceros
$emoji-rhinoceros : "🦏";

// Goat
$emoji-goat : "🐐";

// Ram
$emoji-ram : "🐏";

// Sheep
$emoji-sheep : "🐑";

// Racehorse
$emoji-racehorse : "🐎";

// Pig2
$emoji-pig2 : "🐖";

// Rat
$emoji-rat : "🐀";

// Mouse2
$emoji-mouse2 : "🐁";

// Rooster
$emoji-rooster : "🐓";

// Turkey
$emoji-turkey : "🦃";

// Dove
$emoji-dove : "🕊";

// Dog2
$emoji-dog2 : "🐕";

// Poodle
$emoji-poodle : "🐩";

// Cat2
$emoji-cat2 : "🐈";

// Rabbit2
$emoji-rabbit2 : "🐇";

// Chipmunk
$emoji-chipmunk : "🐿";

// Paw Prints
$emoji-paw-prints : "🐾";

// Dragon
$emoji-dragon : "🐉";

// Dragon Face
$emoji-dragon-face : "🐲";

// Cactus
$emoji-cactus : "🌵";

// Christmas Tree
$emoji-christmas-tree : "🎄";

// Evergreen Tree
$emoji-evergreen-tree : "🌲";

// Deciduous Tree
$emoji-deciduous-tree : "🌳";

// Palm Tree
$emoji-palm-tree : "🌴";

// Seedling
$emoji-seedling : "🌱";

// Herb
$emoji-herb : "🌿";

// Shamrock
$emoji-shamrock : "☘";

// Four Leaf Clover
$emoji-four-leaf-clover : "🍀";

// Bamboo
$emoji-bamboo : "🎍";

// Tanabata Tree
$emoji-tanabata-tree : "🎋";

// Leaves
$emoji-leaves : "🍃";

// Fallen Leaf
$emoji-fallen-leaf : "🍂";

// Maple Leaf
$emoji-maple-leaf : "🍁";

// Ear Of Rice
$emoji-ear-of-rice : "🌾";

// Hibiscus
$emoji-hibiscus : "🌺";

// Sunflower
$emoji-sunflower : "🌻";

// Rose
$emoji-rose : "🌹";

// Wilted Flower
$emoji-wilted-flower : "🥀";

// Tulip
$emoji-tulip : "🌷";

// Blossom
$emoji-blossom : "🌼";

// Cherry Blossom
$emoji-cherry-blossom : "🌸";

// Bouquet
$emoji-bouquet : "💐";

// Mushroom
$emoji-mushroom : "🍄";

// Chestnut
$emoji-chestnut : "🌰";

// Jack O Lantern
$emoji-jack-o-lantern : "🎃";

// Shell
$emoji-shell : "🐚";

// Spider Web
$emoji-spider-web : "🕸";

// Earth Americas
$emoji-earth-americas : "🌎";

// Earth Africa
$emoji-earth-africa : "🌍";

// Earth Asia
$emoji-earth-asia : "🌏";

// Full Moon
$emoji-full-moon : "🌕";

// Waning Gibbous Moon
$emoji-waning-gibbous-moon : "🌖";

// Last Quarter Moon
$emoji-last-quarter-moon : "🌗";

// Waning Crescent Moon
$emoji-waning-crescent-moon : "🌘";

// New Moon
$emoji-new-moon : "🌑";

// Waxing Crescent Moon
$emoji-waxing-crescent-moon : "🌒";

// First Quarter Moon
$emoji-first-quarter-moon : "🌓";

// Waxing Gibbous Moon
$emoji-waxing-gibbous-moon : "🌔";

// New Moon With Face
$emoji-new-moon-with-face : "🌚";

// Full Moon With Face
$emoji-full-moon-with-face : "🌝";

// First Quarter Moon With Face
$emoji-first-quarter-moon-with-face : "🌛";

// Last Quarter Moon With Face
$emoji-last-quarter-moon-with-face : "🌜";

// Sun With Face
$emoji-sun-with-face : "🌞";

// Crescent Moon
$emoji-crescent-moon : "🌙";

// Star
$emoji-star : "⭐";

// Star2
$emoji-star2 : "🌟";

// Dizzy
$emoji-dizzy : "💫";

// Sparkles
$emoji-sparkles : "✨";

// Comet
$emoji-comet : "☄";

// Sun Behind Small Cloud
$emoji-sun-behind-small-cloud : "🌤";

// Partly Sunny
$emoji-partly-sunny : "⛅";

// Sun Behind Large Cloud
$emoji-sun-behind-large-cloud : "🌥";

// Sun Behind Rain Cloud
$emoji-sun-behind-rain-cloud : "🌦";

// Cloud With Rain
$emoji-cloud-with-rain : "🌧";

// Cloud With Lightning And Rain
$emoji-cloud-with-lightning-and-rain : "⛈";

// Cloud With Lightning
$emoji-cloud-with-lightning : "🌩";

// Zap
$emoji-zap : "⚡";

// Fire
$emoji-fire : "🔥";

// Boom
$emoji-boom : "💥";

// Cloud With Snow
$emoji-cloud-with-snow : "🌨";

// Snowman
$emoji-snowman : "⛄";

// Snowman With Snow
$emoji-snowman-with-snow : "☃";

// Wind Face
$emoji-wind-face : "🌬";

// Dash
$emoji-dash : "💨";

// Tornado
$emoji-tornado : "🌪";

// Fog
$emoji-fog : "🌫";

// Open Umbrella
$emoji-open-umbrella : "☂";

// Umbrella
$emoji-umbrella : "☔";

// Droplet
$emoji-droplet : "💧";

// Sweat Drops
$emoji-sweat-drops : "💦";

// Ocean
$emoji-ocean : "🌊";

// Green Apple
$emoji-green-apple : "🍏";

// Apple
$emoji-apple : "🍎";

// Pear
$emoji-pear : "🍐";

// Tangerine
$emoji-tangerine : "🍊";

// Lemon
$emoji-lemon : "🍋";

// Banana
$emoji-banana : "🍌";

// Watermelon
$emoji-watermelon : "🍉";

// Grapes
$emoji-grapes : "🍇";

// Strawberry
$emoji-strawberry : "🍓";

// Melon
$emoji-melon : "🍈";

// Cherries
$emoji-cherries : "🍒";

// Peach
$emoji-peach : "🍑";

// Pineapple
$emoji-pineapple : "🍍";

// Kiwi Fruit
$emoji-kiwi-fruit : "🥝";

// Avocado
$emoji-avocado : "🥑";

// Tomato
$emoji-tomato : "🍅";

// Eggplant
$emoji-eggplant : "🍆";

// Cucumber
$emoji-cucumber : "🥒";

// Carrot
$emoji-carrot : "🥕";

// Hot Pepper
$emoji-hot-pepper : "🌶";

// Potato
$emoji-potato : "🥔";

// Corn
$emoji-corn : "🌽";

// Sweet Potato
$emoji-sweet-potato : "🍠";

// Peanuts
$emoji-peanuts : "🥜";

// Honey Pot
$emoji-honey-pot : "🍯";

// Croissant
$emoji-croissant : "🥐";

// Bread
$emoji-bread : "🍞";

// Baguette Bread
$emoji-baguette-bread : "🥖";

// Cheese
$emoji-cheese : "🧀";

// Egg
$emoji-egg : "🥚";

// Bacon
$emoji-bacon : "🥓";

// Pancakes
$emoji-pancakes : "🥞";

// Poultry Leg
$emoji-poultry-leg : "🍗";

// Meat On Bone
$emoji-meat-on-bone : "🍖";

// Fried Shrimp
$emoji-fried-shrimp : "🍤";

// Fried Egg
$emoji-fried-egg : "🍳";

// Hamburger
$emoji-hamburger : "🍔";

// Fries
$emoji-fries : "🍟";

// Stuffed Flatbread
$emoji-stuffed-flatbread : "🥙";

// Hotdog
$emoji-hotdog : "🌭";

// Pizza
$emoji-pizza : "🍕";

// Spaghetti
$emoji-spaghetti : "🍝";

// Taco
$emoji-taco : "🌮";

// Burrito
$emoji-burrito : "🌯";

// Green Salad
$emoji-green-salad : "🥗";

// Shallow Pan Of Food
$emoji-shallow-pan-of-food : "🥘";

// Ramen
$emoji-ramen : "🍜";

// Stew
$emoji-stew : "🍲";

// Fish Cake
$emoji-fish-cake : "🍥";

// Sushi
$emoji-sushi : "🍣";

// Bento
$emoji-bento : "🍱";

// Curry
$emoji-curry : "🍛";

// Rice Ball
$emoji-rice-ball : "🍙";

// Rice
$emoji-rice : "🍚";

// Rice Cracker
$emoji-rice-cracker : "🍘";

// Oden
$emoji-oden : "🍢";

// Dango
$emoji-dango : "🍡";

// Shaved Ice
$emoji-shaved-ice : "🍧";

// Ice Cream
$emoji-ice-cream : "🍨";

// Icecream
$emoji-icecream : "🍦";

// Cake
$emoji-cake : "🍰";

// Birthday
$emoji-birthday : "🎂";

// Custard
$emoji-custard : "🍮";

// Candy
$emoji-candy : "🍬";

// Lollipop
$emoji-lollipop : "🍭";

// Chocolate Bar
$emoji-chocolate-bar : "🍫";

// Popcorn
$emoji-popcorn : "🍿";

// Doughnut
$emoji-doughnut : "🍩";

// Cookie
$emoji-cookie : "🍪";

// Milk Glass
$emoji-milk-glass : "🥛";

// Beer
$emoji-beer : "🍺";

// Beers
$emoji-beers : "🍻";

// Clinking Glasses
$emoji-clinking-glasses : "🥂";

// Wine Glass
$emoji-wine-glass : "🍷";

// Tumbler Glass
$emoji-tumbler-glass : "🥃";

// Cocktail
$emoji-cocktail : "🍸";

// Tropical Drink
$emoji-tropical-drink : "🍹";

// Champagne
$emoji-champagne : "🍾";

// Sake
$emoji-sake : "🍶";

// Tea
$emoji-tea : "🍵";

// Coffee
$emoji-coffee : "☕";

// Baby Bottle
$emoji-baby-bottle : "🍼";

// Spoon
$emoji-spoon : "🥄";

// Fork And Knife
$emoji-fork-and-knife : "🍴";

// Plate With Cutlery
$emoji-plate-with-cutlery : "🍽";

// Soccer
$emoji-soccer : "⚽";

// Basketball
$emoji-basketball : "🏀";

// Football
$emoji-football : "🏈";

// Baseball
$emoji-baseball : "⚾";

// Tennis
$emoji-tennis : "🎾";

// Volleyball
$emoji-volleyball : "🏐";

// Rugby Football
$emoji-rugby-football : "🏉";

// 8ball
$emoji-8ball : "🎱";

// Golf
$emoji-golf : "⛳";

// Golfing Man
$emoji-golfing-man : "🏌";

// Ping Pong
$emoji-ping-pong : "🏓";

// Badminton
$emoji-badminton : "🏸";

// Goal Net
$emoji-goal-net : "🥅";

// Ice Hockey
$emoji-ice-hockey : "🏒";

// Field Hockey
$emoji-field-hockey : "🏑";

// Cricket
$emoji-cricket : "🏏";

// Ski
$emoji-ski : "🎿";

// Skier
$emoji-skier : "⛷";

// Snowboarder
$emoji-snowboarder : "🏂";

// Person Fencing
$emoji-person-fencing : "🤺";

// Ice Skate
$emoji-ice-skate : "⛸";

// Bow And Arrow
$emoji-bow-and-arrow : "🏹";

// Fishing Pole And Fish
$emoji-fishing-pole-and-fish : "🎣";

// Boxing Glove
$emoji-boxing-glove : "🥊";

// Martial Arts Uniform
$emoji-martial-arts-uniform : "🥋";

// Rowing Man
$emoji-rowing-man : "🚣";

// Swimming Man
$emoji-swimming-man : "🏊";

// Surfing Man
$emoji-surfing-man : "🏄";

// Bath
$emoji-bath : "🛀";

// Basketball Man
$emoji-basketball-man : "⛹";

// Weight Lifting Man
$emoji-weight-lifting-man : "🏋";

// Biking Man
$emoji-biking-man : "🚴";

// Mountain Biking Man
$emoji-mountain-biking-man : "🚵";

// Horse Racing
$emoji-horse-racing : "🏇";

// Business Suit Levitating
$emoji-business-suit-levitating : "🕴";

// Trophy
$emoji-trophy : "🏆";

// Running Shirt With Sash
$emoji-running-shirt-with-sash : "🎽";

// Medal Sports
$emoji-medal-sports : "🏅";

// Medal Military
$emoji-medal-military : "🎖";

// 1st Place Medal
$emoji-1st-place-medal : "🥇";

// 2nd Place Medal
$emoji-2nd-place-medal : "🥈";

// 3rd Place Medal
$emoji-3rd-place-medal : "🥉";

// Reminder Ribbon
$emoji-reminder-ribbon : "🎗";

// Rosette
$emoji-rosette : "🏵";

// Ticket
$emoji-ticket : "🎫";

// Tickets
$emoji-tickets : "🎟";

// Performing Arts
$emoji-performing-arts : "🎭";

// Art
$emoji-art : "🎨";

// Circus Tent
$emoji-circus-tent : "🎪";

// Microphone
$emoji-microphone : "🎤";

// Headphones
$emoji-headphones : "🎧";

// Musical Score
$emoji-musical-score : "🎼";

// Musical Keyboard
$emoji-musical-keyboard : "🎹";

// Drum
$emoji-drum : "🥁";

// Saxophone
$emoji-saxophone : "🎷";

// Trumpet
$emoji-trumpet : "🎺";

// Guitar
$emoji-guitar : "🎸";

// Violin
$emoji-violin : "🎻";

// Clapper
$emoji-clapper : "🎬";

// Video Game
$emoji-video-game : "🎮";

// Space Invader
$emoji-space-invader : "👾";

// Dart
$emoji-dart : "🎯";

// Game Die
$emoji-game-die : "🎲";

// Slot Machine
$emoji-slot-machine : "🎰";

// Bowling
$emoji-bowling : "🎳";

// Red Car
$emoji-red-car : "🚗";

// Taxi
$emoji-taxi : "🚕";

// Blue Car
$emoji-blue-car : "🚙";

// Bus
$emoji-bus : "🚌";

// Trolleybus
$emoji-trolleybus : "🚎";

// Racing Car
$emoji-racing-car : "🏎";

// Police Car
$emoji-police-car : "🚓";

// Ambulance
$emoji-ambulance : "🚑";

// Fire Engine
$emoji-fire-engine : "🚒";

// Minibus
$emoji-minibus : "🚐";

// Truck
$emoji-truck : "🚚";

// Articulated Lorry
$emoji-articulated-lorry : "🚛";

// Tractor
$emoji-tractor : "🚜";

// Kick Scooter
$emoji-kick-scooter : "🛴";

// Motorcycle
$emoji-motorcycle : "🏍";

// Bike
$emoji-bike : "🚲";

// Motor Scooter
$emoji-motor-scooter : "🛵";

// Rotating Light
$emoji-rotating-light : "🚨";

// Oncoming Police Car
$emoji-oncoming-police-car : "🚔";

// Oncoming Bus
$emoji-oncoming-bus : "🚍";

// Oncoming Automobile
$emoji-oncoming-automobile : "🚘";

// Oncoming Taxi
$emoji-oncoming-taxi : "🚖";

// Aerial Tramway
$emoji-aerial-tramway : "🚡";

// Mountain Cableway
$emoji-mountain-cableway : "🚠";

// Suspension Railway
$emoji-suspension-railway : "🚟";

// Railway Car
$emoji-railway-car : "🚃";

// Train
$emoji-train : "🚋";

// Monorail
$emoji-monorail : "🚝";

// Bullettrain Side
$emoji-bullettrain-side : "🚄";

// Bullettrain Front
$emoji-bullettrain-front : "🚅";

// Light Rail
$emoji-light-rail : "🚈";

// Mountain Railway
$emoji-mountain-railway : "🚞";

// Steam Locomotive
$emoji-steam-locomotive : "🚂";

// Train2
$emoji-train2 : "🚆";

// Metro
$emoji-metro : "🚇";

// Tram
$emoji-tram : "🚊";

// Station
$emoji-station : "🚉";

// Helicopter
$emoji-helicopter : "🚁";

// Small Airplane
$emoji-small-airplane : "🛩";

// Flight Departure
$emoji-flight-departure : "🛫";

// Flight Arrival
$emoji-flight-arrival : "🛬";

// Sailboat
$emoji-sailboat : "⛵";

// Motor Boat
$emoji-motor-boat : "🛥";

// Speedboat
$emoji-speedboat : "🚤";

// Ferry
$emoji-ferry : "⛴";

// Passenger Ship
$emoji-passenger-ship : "🛳";

// Rocket
$emoji-rocket : "🚀";

// Artificial Satellite
$emoji-artificial-satellite : "🛰";

// Seat
$emoji-seat : "💺";

// Canoe
$emoji-canoe : "🛶";

// Anchor
$emoji-anchor : "⚓";

// Construction
$emoji-construction : "🚧";

// Fuelpump
$emoji-fuelpump : "⛽";

// Busstop
$emoji-busstop : "🚏";

// Vertical Traffic Light
$emoji-vertical-traffic-light : "🚦";

// Traffic Light
$emoji-traffic-light : "🚥";

// Checkered Flag
$emoji-checkered-flag : "🏁";

// Ship
$emoji-ship : "🚢";

// Ferris Wheel
$emoji-ferris-wheel : "🎡";

// Roller Coaster
$emoji-roller-coaster : "🎢";

// Carousel Horse
$emoji-carousel-horse : "🎠";

// Building Construction
$emoji-building-construction : "🏗";

// Foggy
$emoji-foggy : "🌁";

// Tokyo Tower
$emoji-tokyo-tower : "🗼";

// Factory
$emoji-factory : "🏭";

// Fountain
$emoji-fountain : "⛲";

// Rice Scene
$emoji-rice-scene : "🎑";

// Mountain
$emoji-mountain : "⛰";

// Mountain Snow
$emoji-mountain-snow : "🏔";

// Mount Fuji
$emoji-mount-fuji : "🗻";

// Volcano
$emoji-volcano : "🌋";

// Japan
$emoji-japan : "🗾";

// Camping
$emoji-camping : "🏕";

// Tent
$emoji-tent : "⛺";

// National Park
$emoji-national-park : "🏞";

// Motorway
$emoji-motorway : "🛣";

// Railway Track
$emoji-railway-track : "🛤";

// Sunrise
$emoji-sunrise : "🌅";

// Sunrise Over Mountains
$emoji-sunrise-over-mountains : "🌄";

// Desert
$emoji-desert : "🏜";

// Beach Umbrella
$emoji-beach-umbrella : "🏖";

// Desert Island
$emoji-desert-island : "🏝";

// City Sunrise
$emoji-city-sunrise : "🌇";

// City Sunset
$emoji-city-sunset : "🌆";

// Cityscape
$emoji-cityscape : "🏙";

// Night With Stars
$emoji-night-with-stars : "🌃";

// Bridge At Night
$emoji-bridge-at-night : "🌉";

// Milky Way
$emoji-milky-way : "🌌";

// Stars
$emoji-stars : "🌠";

// Sparkler
$emoji-sparkler : "🎇";

// Fireworks
$emoji-fireworks : "🎆";

// Rainbow
$emoji-rainbow : "🌈";

// Houses
$emoji-houses : "🏘";

// European Castle
$emoji-european-castle : "🏰";

// Japanese Castle
$emoji-japanese-castle : "🏯";

// Stadium
$emoji-stadium : "🏟";

// Statue Of Liberty
$emoji-statue-of-liberty : "🗽";

// House
$emoji-house : "🏠";

// House With Garden
$emoji-house-with-garden : "🏡";

// Derelict House
$emoji-derelict-house : "🏚";

// Office
$emoji-office : "🏢";

// Department Store
$emoji-department-store : "🏬";

// Post Office
$emoji-post-office : "🏣";

// European Post Office
$emoji-european-post-office : "🏤";

// Hospital
$emoji-hospital : "🏥";

// Bank
$emoji-bank : "🏦";

// Hotel
$emoji-hotel : "🏨";

// Convenience Store
$emoji-convenience-store : "🏪";

// School
$emoji-school : "🏫";

// Love Hotel
$emoji-love-hotel : "🏩";

// Wedding
$emoji-wedding : "💒";

// Classical Building
$emoji-classical-building : "🏛";

// Church
$emoji-church : "⛪";

// Mosque
$emoji-mosque : "🕌";

// Synagogue
$emoji-synagogue : "🕍";

// Kaaba
$emoji-kaaba : "🕋";

// Shinto Shrine
$emoji-shinto-shrine : "⛩";

// Watch
$emoji-watch : "⌚";

// Iphone
$emoji-iphone : "📱";

// Calling
$emoji-calling : "📲";

// Computer
$emoji-computer : "💻";

// Keyboard
$emoji-keyboard : "⌨";

// Desktop Computer
$emoji-desktop-computer : "🖥";

// Printer
$emoji-printer : "🖨";

// Computer Mouse
$emoji-computer-mouse : "🖱";

// Trackball
$emoji-trackball : "🖲";

// Joystick
$emoji-joystick : "🕹";

// Clamp
$emoji-clamp : "🗜";

// Minidisc
$emoji-minidisc : "💽";

// Floppy Disk
$emoji-floppy-disk : "💾";

// Cd
$emoji-cd : "💿";

// Dvd
$emoji-dvd : "📀";

// Vhs
$emoji-vhs : "📼";

// Camera
$emoji-camera : "📷";

// Camera Flash
$emoji-camera-flash : "📸";

// Video Camera
$emoji-video-camera : "📹";

// Movie Camera
$emoji-movie-camera : "🎥";

// Film Projector
$emoji-film-projector : "📽";

// Film Strip
$emoji-film-strip : "🎞";

// Telephone Receiver
$emoji-telephone-receiver : "📞";

// Pager
$emoji-pager : "📟";

// Fax
$emoji-fax : "📠";

// Tv
$emoji-tv : "📺";

// Radio
$emoji-radio : "📻";

// Studio Microphone
$emoji-studio-microphone : "🎙";

// Level Slider
$emoji-level-slider : "🎚";

// Control Knobs
$emoji-control-knobs : "🎛";

// Stopwatch
$emoji-stopwatch : "⏱";

// Timer Clock
$emoji-timer-clock : "⏲";

// Alarm Clock
$emoji-alarm-clock : "⏰";

// Mantelpiece Clock
$emoji-mantelpiece-clock : "🕰";

// Hourglass Flowing Sand
$emoji-hourglass-flowing-sand : "⏳";

// Hourglass
$emoji-hourglass : "⌛";

// Satellite
$emoji-satellite : "📡";

// Battery
$emoji-battery : "🔋";

// Electric Plug
$emoji-electric-plug : "🔌";

// Bulb
$emoji-bulb : "💡";

// Flashlight
$emoji-flashlight : "🔦";

// Candle
$emoji-candle : "🕯";

// Wastebasket
$emoji-wastebasket : "🗑";

// Oil Drum
$emoji-oil-drum : "🛢";

// Money With Wings
$emoji-money-with-wings : "💸";

// Dollar
$emoji-dollar : "💵";

// Yen
$emoji-yen : "💴";

// Euro
$emoji-euro : "💶";

// Pound
$emoji-pound : "💷";

// Moneybag
$emoji-moneybag : "💰";

// Credit Card
$emoji-credit-card : "💳";

// Gem
$emoji-gem : "💎";

// Balance Scale
$emoji-balance-scale : "⚖";

// Wrench
$emoji-wrench : "🔧";

// Hammer
$emoji-hammer : "🔨";

// Hammer And Pick
$emoji-hammer-and-pick : "⚒";

// Hammer And Wrench
$emoji-hammer-and-wrench : "🛠";

// Pick
$emoji-pick : "⛏";

// Nut And Bolt
$emoji-nut-and-bolt : "🔩";

// Gear
$emoji-gear : "⚙";

// Chains
$emoji-chains : "⛓";

// Gun
$emoji-gun : "🔫";

// Bomb
$emoji-bomb : "💣";

// Hocho
$emoji-hocho : "🔪";

// Dagger
$emoji-dagger : "🗡";

// Crossed Swords
$emoji-crossed-swords : "⚔";

// Shield
$emoji-shield : "🛡";

// Smoking
$emoji-smoking : "🚬";

// Skull And Crossbones
$emoji-skull-and-crossbones : "☠";

// Coffin
$emoji-coffin : "⚰";

// Funeral Urn
$emoji-funeral-urn : "⚱";

// Amphora
$emoji-amphora : "🏺";

// Crystal Ball
$emoji-crystal-ball : "🔮";

// Prayer Beads
$emoji-prayer-beads : "📿";

// Barber
$emoji-barber : "💈";

// Alembic
$emoji-alembic : "⚗";

// Telescope
$emoji-telescope : "🔭";

// Microscope
$emoji-microscope : "🔬";

// Hole
$emoji-hole : "🕳";

// Pill
$emoji-pill : "💊";

// Syringe
$emoji-syringe : "💉";

// Thermometer
$emoji-thermometer : "🌡";

// Label
$emoji-label : "🏷";

// Bookmark
$emoji-bookmark : "🔖";

// Toilet
$emoji-toilet : "🚽";

// Shower
$emoji-shower : "🚿";

// Bathtub
$emoji-bathtub : "🛁";

// Key
$emoji-key : "🔑";

// Old Key
$emoji-old-key : "🗝";

// Couch And Lamp
$emoji-couch-and-lamp : "🛋";

// Sleeping Bed
$emoji-sleeping-bed : "🛌";

// Bed
$emoji-bed : "🛏";

// Door
$emoji-door : "🚪";

// Bellhop Bell
$emoji-bellhop-bell : "🛎";

// Framed Picture
$emoji-framed-picture : "🖼";

// World Map
$emoji-world-map : "🗺";

// Parasol On Ground
$emoji-parasol-on-ground : "⛱";

// Moyai
$emoji-moyai : "🗿";

// Shopping
$emoji-shopping : "🛍";

// Shopping Cart
$emoji-shopping-cart : "🛒";

// Balloon
$emoji-balloon : "🎈";

// Flags
$emoji-flags : "🎏";

// Ribbon
$emoji-ribbon : "🎀";

// Gift
$emoji-gift : "🎁";

// Confetti Ball
$emoji-confetti-ball : "🎊";

// Tada
$emoji-tada : "🎉";

// Dolls
$emoji-dolls : "🎎";

// Wind Chime
$emoji-wind-chime : "🎐";

// Crossed Flags
$emoji-crossed-flags : "🎌";

// Izakaya Lantern
$emoji-izakaya-lantern : "🏮";

// Envelope With Arrow
$emoji-envelope-with-arrow : "📩";

// Incoming Envelope
$emoji-incoming-envelope : "📨";

// E Mail
$emoji-e-mail : "📧";

// Love Letter
$emoji-love-letter : "💌";

// Postbox
$emoji-postbox : "📮";

// Mailbox Closed
$emoji-mailbox-closed : "📪";

// Mailbox
$emoji-mailbox : "📫";

// Mailbox With Mail
$emoji-mailbox-with-mail : "📬";

// Mailbox With No Mail
$emoji-mailbox-with-no-mail : "📭";

// Package
$emoji-package : "📦";

// Postal Horn
$emoji-postal-horn : "📯";

// Inbox Tray
$emoji-inbox-tray : "📥";

// Outbox Tray
$emoji-outbox-tray : "📤";

// Scroll
$emoji-scroll : "📜";

// Page With Curl
$emoji-page-with-curl : "📃";

// Bookmark Tabs
$emoji-bookmark-tabs : "📑";

// Bar Chart
$emoji-bar-chart : "📊";

// Chart With Upwards Trend
$emoji-chart-with-upwards-trend : "📈";

// Chart With Downwards Trend
$emoji-chart-with-downwards-trend : "📉";

// Page Facing Up
$emoji-page-facing-up : "📄";

// Date
$emoji-date : "📅";

// Calendar
$emoji-calendar : "📆";

// Spiral Calendar
$emoji-spiral-calendar : "🗓";

// Card Index
$emoji-card-index : "📇";

// Card File Box
$emoji-card-file-box : "🗃";

// Ballot Box
$emoji-ballot-box : "🗳";

// File Cabinet
$emoji-file-cabinet : "🗄";

// Clipboard
$emoji-clipboard : "📋";

// Spiral Notepad
$emoji-spiral-notepad : "🗒";

// File Folder
$emoji-file-folder : "📁";

// Open File Folder
$emoji-open-file-folder : "📂";

// Card Index Dividers
$emoji-card-index-dividers : "🗂";

// Newspaper Roll
$emoji-newspaper-roll : "🗞";

// Newspaper
$emoji-newspaper : "📰";

// Notebook
$emoji-notebook : "📓";

// Closed Book
$emoji-closed-book : "📕";

// Green Book
$emoji-green-book : "📗";

// Blue Book
$emoji-blue-book : "📘";

// Orange Book
$emoji-orange-book : "📙";

// Notebook With Decorative Cover
$emoji-notebook-with-decorative-cover : "📔";

// Ledger
$emoji-ledger : "📒";

// Books
$emoji-books : "📚";

// Open Book
$emoji-open-book : "📖";

// Link
$emoji-link : "🔗";

// Paperclip
$emoji-paperclip : "📎";

// Paperclips
$emoji-paperclips : "🖇";

// Triangular Ruler
$emoji-triangular-ruler : "📐";

// Straight Ruler
$emoji-straight-ruler : "📏";

// Pushpin
$emoji-pushpin : "📌";

// Round Pushpin
$emoji-round-pushpin : "📍";

// Triangular Flag On Post
$emoji-triangular-flag-on-post : "🚩";

// White Flag
$emoji-white-flag : "🏳";

// Black Flag
$emoji-black-flag : "🏴";

// Closed Lock With Key
$emoji-closed-lock-with-key : "🔐";

// Lock
$emoji-lock : "🔒";

// Unlock
$emoji-unlock : "🔓";

// Lock With Ink Pen
$emoji-lock-with-ink-pen : "🔏";

// Pen
$emoji-pen : "🖊";

// Fountain Pen
$emoji-fountain-pen : "🖋";

// Memo
$emoji-memo : "📝";

// Crayon
$emoji-crayon : "🖍";

// Paintbrush
$emoji-paintbrush : "🖌";

// Mag
$emoji-mag : "🔍";

// Mag Right
$emoji-mag-right : "🔎";

// Yellow Heart
$emoji-yellow-heart : "💛";

// Green Heart
$emoji-green-heart : "💚";

// Blue Heart
$emoji-blue-heart : "💙";

// Purple Heart
$emoji-purple-heart : "💜";

// Black Heart
$emoji-black-heart : "🖤";

// Broken Heart
$emoji-broken-heart : "💔";

// Heavy Heart Exclamation
$emoji-heavy-heart-exclamation : "❣";

// Two Hearts
$emoji-two-hearts : "💕";

// Revolving Hearts
$emoji-revolving-hearts : "💞";

// Heartbeat
$emoji-heartbeat : "💓";

// Heartpulse
$emoji-heartpulse : "💗";

// Sparkling Heart
$emoji-sparkling-heart : "💖";

// Cupid
$emoji-cupid : "💘";

// Gift Heart
$emoji-gift-heart : "💝";

// Heart Decoration
$emoji-heart-decoration : "💟";

// Peace Symbol
$emoji-peace-symbol : "☮";

// Latin Cross
$emoji-latin-cross : "✝";

// Star And Crescent
$emoji-star-and-crescent : "☪";

// Om
$emoji-om : "🕉";

// Wheel Of Dharma
$emoji-wheel-of-dharma : "☸";

// Star Of David
$emoji-star-of-david : "✡";

// Six Pointed Star
$emoji-six-pointed-star : "🔯";

// Menorah
$emoji-menorah : "🕎";

// Yin Yang
$emoji-yin-yang : "☯";

// Orthodox Cross
$emoji-orthodox-cross : "☦";

// Place Of Worship
$emoji-place-of-worship : "🛐";

// Ophiuchus
$emoji-ophiuchus : "⛎";

// Aries
$emoji-aries : "♈";

// Taurus
$emoji-taurus : "♉";

// Gemini
$emoji-gemini : "♊";

// Cancer
$emoji-cancer : "♋";

// Leo
$emoji-leo : "♌";

// Virgo
$emoji-virgo : "♍";

// Libra
$emoji-libra : "♎";

// Scorpius
$emoji-scorpius : "♏";

// Sagittarius
$emoji-sagittarius : "♐";

// Capricorn
$emoji-capricorn : "♑";

// Aquarius
$emoji-aquarius : "♒";

// Pisces
$emoji-pisces : "♓";

// Id
$emoji-id : "🆔";

// Atom Symbol
$emoji-atom-symbol : "⚛";

// U7a7a
$emoji-u7a7a : "🈳";

// U5272
$emoji-u5272 : "🈹";

// Radioactive
$emoji-radioactive : "☢";

// Biohazard
$emoji-biohazard : "☣";

// Mobile Phone Off
$emoji-mobile-phone-off : "📴";

// Vibration Mode
$emoji-vibration-mode : "📳";

// U6709
$emoji-u6709 : "🈶";

// U7121
$emoji-u7121 : "🈚";

// U7533
$emoji-u7533 : "🈸";

// U55b6
$emoji-u55b6 : "🈺";

// Vs
$emoji-vs : "🆚";

// Accept
$emoji-accept : "🉑";

// White Flower
$emoji-white-flower : "💮";

// Ideograph Advantage
$emoji-ideograph-advantage : "🉐";

// U5408
$emoji-u5408 : "🈴";

// U6e80
$emoji-u6e80 : "🈵";

// U7981
$emoji-u7981 : "🈲";

// Ab
$emoji-ab : "🆎";

// Cl
$emoji-cl : "🆑";

// Sos
$emoji-sos : "🆘";

// No Entry
$emoji-no-entry : "⛔";

// Name Badge
$emoji-name-badge : "📛";

// No Entry Sign
$emoji-no-entry-sign : "🚫";

// X
$emoji-x : "❌";

// O
$emoji-o : "⭕";

// Stop Sign
$emoji-stop-sign : "🛑";

// Anger
$emoji-anger : "💢";

// No Pedestrians
$emoji-no-pedestrians : "🚷";

// Do Not Litter
$emoji-do-not-litter : "🚯";

// No Bicycles
$emoji-no-bicycles : "🚳";

// Non Potable Water
$emoji-non-potable-water : "🚱";

// Underage
$emoji-underage : "🔞";

// No Mobile Phones
$emoji-no-mobile-phones : "📵";

// Exclamation
$emoji-exclamation : "❗";

// Grey Exclamation
$emoji-grey-exclamation : "❕";

// Question
$emoji-question : "❓";

// Grey Question
$emoji-grey-question : "❔";

// Low Brightness
$emoji-low-brightness : "🔅";

// High Brightness
$emoji-high-brightness : "🔆";

// Trident
$emoji-trident : "🔱";

// Fleur De Lis
$emoji-fleur-de-lis : "⚜";

// Children Crossing
$emoji-children-crossing : "🚸";

// Beginner
$emoji-beginner : "🔰";

// U6307
$emoji-u6307 : "🈯";

// Chart
$emoji-chart : "💹";

// Negative Squared Cross Mark
$emoji-negative-squared-cross-mark : "❎";

// White Check Mark
$emoji-white-check-mark : "✅";

// Diamond Shape With A Dot Inside
$emoji-diamond-shape-with-a-dot-inside : "💠";

// Cyclone
$emoji-cyclone : "🌀";

// Loop
$emoji-loop : "➿";

// Globe With Meridians
$emoji-globe-with-meridians : "🌐";

// Atm
$emoji-atm : "🏧";

// Passport Control
$emoji-passport-control : "🛂";

// Customs
$emoji-customs : "🛃";

// Baggage Claim
$emoji-baggage-claim : "🛄";

// Left Luggage
$emoji-left-luggage : "🛅";

// Wheelchair
$emoji-wheelchair : "♿";

// No Smoking
$emoji-no-smoking : "🚭";

// Wc
$emoji-wc : "🚾";

// Potable Water
$emoji-potable-water : "🚰";

// Mens
$emoji-mens : "🚹";

// Womens
$emoji-womens : "🚺";

// Baby Symbol
$emoji-baby-symbol : "🚼";

// Restroom
$emoji-restroom : "🚻";

// Put Litter In Its Place
$emoji-put-litter-in-its-place : "🚮";

// Cinema
$emoji-cinema : "🎦";

// Signal Strength
$emoji-signal-strength : "📶";

// Koko
$emoji-koko : "🈁";

// Ng
$emoji-ng : "🆖";

// Ok
$emoji-ok : "🆗";

// Up
$emoji-up : "🆙";

// Cool
$emoji-cool : "🆒";

// New
$emoji-new : "🆕";

// Free
$emoji-free : "🆓";

// Keycap Ten
$emoji-keycap-ten : "🔟";

// Pause Button
$emoji-pause-button : "⏸";

// Next Track Button
$emoji-next-track-button : "⏭";

// Stop Button
$emoji-stop-button : "⏹";

// Record Button
$emoji-record-button : "⏺";

// Play Or Pause Button
$emoji-play-or-pause-button : "⏯";

// Previous Track Button
$emoji-previous-track-button : "⏮";

// Fast Forward
$emoji-fast-forward : "⏩";

// Rewind
$emoji-rewind : "⏪";

// Twisted Rightwards Arrows
$emoji-twisted-rightwards-arrows : "🔀";

// Repeat
$emoji-repeat : "🔁";

// Repeat One
$emoji-repeat-one : "🔂";

// Arrow Up Small
$emoji-arrow-up-small : "🔼";

// Arrow Down Small
$emoji-arrow-down-small : "🔽";

// Arrow Double Up
$emoji-arrow-double-up : "⏫";

// Arrow Double Down
$emoji-arrow-double-down : "⏬";

// Arrows Counterclockwise
$emoji-arrows-counterclockwise : "🔄";

// Abc
$emoji-abc : "🔤";

// Abcd
$emoji-abcd : "🔡";

// Capital Abcd
$emoji-capital-abcd : "🔠";

// Symbols
$emoji-symbols : "🔣";

// Musical Note
$emoji-musical-note : "🎵";

// Notes
$emoji-notes : "🎶";

// Curly Loop
$emoji-curly-loop : "➰";

// Arrows Clockwise
$emoji-arrows-clockwise : "🔃";

// Heavy Plus Sign
$emoji-heavy-plus-sign : "➕";

// Heavy Minus Sign
$emoji-heavy-minus-sign : "➖";

// Heavy Division Sign
$emoji-heavy-division-sign : "➗";

// Heavy Dollar Sign
$emoji-heavy-dollar-sign : "💲";

// Currency Exchange
$emoji-currency-exchange : "💱";

// End
$emoji-end : "🔚";

// Back
$emoji-back : "🔙";

// On
$emoji-on : "🔛";

// Top
$emoji-top : "🔝";

// Soon
$emoji-soon : "🔜";

// Radio Button
$emoji-radio-button : "🔘";

// White Circle
$emoji-white-circle : "⚪";

// Black Circle
$emoji-black-circle : "⚫";

// Red Circle
$emoji-red-circle : "🔴";

// Large Blue Circle
$emoji-large-blue-circle : "🔵";

// Small Orange Diamond
$emoji-small-orange-diamond : "🔸";

// Small Blue Diamond
$emoji-small-blue-diamond : "🔹";

// Large Orange Diamond
$emoji-large-orange-diamond : "🔶";

// Large Blue Diamond
$emoji-large-blue-diamond : "🔷";

// Small Red Triangle
$emoji-small-red-triangle : "🔺";

// Black Large Square
$emoji-black-large-square : "⬛";

// White Large Square
$emoji-white-large-square : "⬜";

// Small Red Triangle Down
$emoji-small-red-triangle-down : "🔻";

// Black Medium Small Square
$emoji-black-medium-small-square : "◾";

// White Medium Small Square
$emoji-white-medium-small-square : "◽";

// Black Square Button
$emoji-black-square-button : "🔲";

// White Square Button
$emoji-white-square-button : "🔳";

// Speaker
$emoji-speaker : "🔈";

// Sound
$emoji-sound : "🔉";

// Loud Sound
$emoji-loud-sound : "🔊";

// Mute
$emoji-mute : "🔇";

// Mega
$emoji-mega : "📣";

// Loudspeaker
$emoji-loudspeaker : "📢";

// Bell
$emoji-bell : "🔔";

// No Bell
$emoji-no-bell : "🔕";

// Black Joker
$emoji-black-joker : "🃏";

// Mahjong
$emoji-mahjong : "🀄";

// Flower Playing Cards
$emoji-flower-playing-cards : "🎴";

// Thought Balloon
$emoji-thought-balloon : "💭";

// Right Anger Bubble
$emoji-right-anger-bubble : "🗯";

// Speech Balloon
$emoji-speech-balloon : "💬";

// Left Speech Bubble
$emoji-left-speech-bubble : "🗨";

// Clock 1:00
$emoji-clock1 : "🕐";

// Clock 2:00
$emoji-clock2 : "🕑";

// Clock 3:00
$emoji-clock3 : "🕒";

// Clock 4:00
$emoji-clock4 : "🕓";

// Clock 5:00
$emoji-clock5 : "🕔";

// Clock 6:00
$emoji-clock6 : "🕕";

// Clock 7:00
$emoji-clock7 : "🕖";

// Clock 8:00
$emoji-clock8 : "🕗";

// Clock 9:00
$emoji-clock9 : "🕘";

// Clock 10:00
$emoji-clock10 : "🕙";

// Clock 11:00
$emoji-clock11 : "🕚";

// Clock 12:00
$emoji-clock12 : "🕛";

// Clock 1:30
$emoji-clock130 : "🕜";

// Clock 2:30
$emoji-clock230 : "🕝";

// Clock 3:30
$emoji-clock330 : "🕞";

// Clock 4:30
$emoji-clock430 : "🕟";

// Clock 5:30
$emoji-clock530 : "🕠";

// Clock 6:30
$emoji-clock630 : "🕡";

// Clock 7:30
$emoji-clock730 : "🕢";

// Clock 8:30
$emoji-clock830 : "🕣";

// Clock 9:30
$emoji-clock930 : "🕤";

// Clock 1:030
$emoji-clock1030 : "🕥";

// Clock 11:30
$emoji-clock1130 : "🕦";

// Clock 12:30
$emoji-clock1230 : "🕧";
