@mixin set-custom-properties($variables : $custom-properties) {

  $temp : $variables;


  @if ($support-css-variable-alpha-colours == true) {
    @each $variable, $value in $variables {
      @if is-colour($value) {
        @if is-hex($value) {
          $temp : map-set($temp, $variable, (red($value), green($value), blue($value)));
        } @else {
          $temp : map-set($temp, $variable, hex-to-rgba($value));
        }
      }
    }
  }

  @at-root :root {
    @each $variable, $value in $variables {
      #{'--' + string-replace($variable, '--')}: $value;
    }
  }
}

@mixin set-custom-property($variable, $value) {
  @at-root :root {
    #{'--' + string-replace($variable, '--')}: $value;
  }
}
