@mixin set-variables() {
  @if variable-exists(variables) and not is-null($variables) {

    $temp : $variables;

    @if ($support-css-variable-alpha-colours == true) {
      @each $variable, $value in $variables {
        @if is-colour($value) {
          @if is-hex($value) {
            $temp : map-set($temp, $variable, (red($value), green($value), blue($value)));
          } @else {
            $temp : map-set($temp, $variable, hex-to-rgba($value));
          }
        }
      }
    }

    $variables : $temp !global;

    @at-root :root {
      @each $variable, $value in $variables {
        #{'--' + string-replace($variable, '--')}: $value;
      }
    }
  }
}

@mixin set-variable($variable, $value) {
  @at-root :root {
    #{'--' + string-replace($variable, '--')}: $value;
  }
}
