@mixin rotate3d($args...) {

  $defaults : (
    x   : 0,
    y   : 0,
    z   : 0,
    deg : 0
  );

  $settings : get-settings($defaults, $args...);

  $x   : map-get($settings, x);
  $y   : map-get($settings, y);
  $z   : map-get($settings, z);
  $deg : map-get($settings, deg);
  $important : map-get($settings, important);

	@include transform(rotate3d $x $y $z add-unit($deg, deg));

}
