// Basics
$red:        #97080E !default;
$orange:     #DA4B0F !default;
$yellow:     #E9B104 !default;
$green:      #488C13 !default;
$blue:       #1B55C0 !default;
$pink:       #E05D6B !default;
$purple:     #613D5A !default;
$grey:       #787878 !default;
$brown:      #774F38 !default;
$white:      #ffffff !default;
$black:      #000000 !default;

// Social Networks
$facebook:   #3b5998 !default;
$twitter:    #00aced !default;
$google:     #df5146 !default;
$youtube:    #bb0000 !default;
$linkedin:   #007bb6 !default;
$instagram:  #517fa4 !default;
$pinterest:  #cb2027 !default;
$vine:       #00bf8f !default;
$snapchat:   #fffc00 !default;
$flickr:     #ff0084 !default;
$vimeo:      #aad450 !default;

// Specials
$yello:      #FFCB08 !default;
$selection:  #B2D3FA !default;
$text:       $black  !default;