// Shorthand for !important (for the lazy)
$imp : !important;

// Allow wanring messages to be displayed (For Developers)
$disable-warnings: false !default;

// Include a variety of 'normaliser' settings
$reset : true !default;

// Default globals
$border-radius : 10 !default;

// Default units
$default-unit : px !default;

// Prioritise Bourbon over Doggystyle
$prioritise-bourbon : false !default;

// Check to see if Bourbon is installed
$bourbon-installed : if(mixin-exists(retina-image) and mixin-exists(display-box) and mixin-exists(hidpi), true, false) !default;

// Prioritise Neat over Doggystyle
$prioritise-neat : false !default;

// Check to see if Neat is installed
$neat-installed : if(mixin-exists(outer-container) and mixin-exists(shift-in-context) and mixin-exists(-neat-warn), true, false) !default;

// TODO: Create csecks to see if neat 1 or neat 2 or neat 1 & 2 are installed

// Prfixer
$enable-prefixer : true !default;
