// Global
$mobile-first:  false !default;
$breakpoints:   () !default;

$max:           1440  !default;
$min:           320   !default;

$max-width:     add-unit($max);
$min-width:     add-unit($min);

$maximum:       $max-width;
$minimum:       $min-width;

$small:         480  !default;
$large:         1080 !default;
$small-medium:  820;
$medium:        (($large - $small) / 2) + $small !default; // 780

$show-breakpoints : false !default;
