$global-line-height-guide : 80;

$font-size: 16 !default;

$size: add-unit($font-size) !default;

$h1: ceil(($font-size*2.5))                      !default; // 40px
$h2: ceil((($h1 - $font-size) / 2) + $font-size) !default; // 28px
$h3: ceil((($h2 - $font-size) / 2) + $font-size) !default; // 22px
$h4: ceil((($h3 - $font-size) / 2) + $font-size) !default; // 19px
$h5: ceil((($h4 - $font-size) / 2) + $font-size) !default; // 17.5px
$h6: ceil((($h5 - $font-size) / 2) + $font-size) !default; // 16.75px
