// Blend Background
@mixin blend-background($args...) {

  $blends    : ();
  $important : null;
  $default   : multiply;

  @each $arg in $args {
    @if is-important($arg) {
      $important : !important;
    } @elseif contains($blend-modes, $arg) {
      $blends : append($blends, $arg, comma);
    }
  }

  background-blend-mode: if(is-empty($blends), $default, $blends) $important;
}
