// Add horizontal lines eitherside some text
@mixin horizontal-lines($args...) {

  $defaults : (
    weight       : 2,
    colour       : if(variable-exists('grey'),$grey, #787878),
    line-spacing : if(variable-exists('gap'),$gap, 16px),
    wrap         : false
  );

  $settings : get-settings($defaults, $args...);

  $weight       : map-get($settings, weight);
  $colour       : map-get($settings, colour);
  $line-spacing : map-get($settings, line-spacing);
  $wrap         : map-get($settings, wrap);

  text-align:center;

  @if not $wrap { white-space: nowrap; }

	display:flex;
	justify-content:space-between;
	align-items:center;

  &:before, &:after {
    content:"";
    height:add-unit($weight);
    width:100%;
    background-color:$colour;
    position:relative;
    display:block;
		flex-grow:1;
  }

  &:before { margin-right:$line-spacing; }

  &:after { margin-left:$line-spacing; }
}
