/// Generate space from a generic unit to help continuity of paddings, margins,
/// gutters etc... throughout your design.
///
/// @param {Number} $size
///   Enter the amount of times you want to multiply the default padding variable
///
/// @param {String} $direction
///   The unit you want the spacing to be defined as. Default is vh
///
/// @require {Variable} $spacing global variable
///
/// @example scss - Usage
///   margin-top:space(2);
///
/// @return {number} with units

@function space($args...) {

  $defaults : (
    size      : 1,
    direction : vh,
    unit      : if(variable-exists(space),$space, 5vh),
  );

  $settings : get-settings($defaults, $args...);

  $size      : map-get($settings, size);
  $direction : map-get($settings, direction);
  $unit      : map-get($settings, unit);

  @if $size == 0 {
    @return to-number(add-unit($unit/2, $direction, true));
  } @else {
    @return to-number(add-unit($unit*$size, $direction, true));
  }

}
