@mixin bulletpoint($colour:$red, $size:8, $sudo:before) { position:relative;
  &:#{$sudo} { content:"";
    position:absolute;
    display:block;
    @include size($size);
    @include border-radius(circle);
    background-color:$colour;
    left:0;
    top:add-unit($size/2);
    @content;
  }
}
