@mixin center($width:null) {
  @if is-null($width) {
    position:absolute;
    left:0%;
    right:0%;
    margin-left:auto;
    margin-right:auto;
  } @else {
    position:absolute;
    left:50%;
    margin-left:- add-unit($width/2);
    width:add-unit($width);
  }
}
