@use 'sass:map';

$_base-columns   : 6;
$_base-gaps      : 0px clamp(16px, 3vw, 32px);
$_base-max-width : 1280px;
$_base-min-width : 480px;

$base : (
  'columns'      : $_base-columns,
  'gaps'         : $_base-gaps,
  'max-width'    : $_base-max-width,
  'min-width'    : $_base-min-width
) !default;

$base-columns   : if(map.has-key($base, "columns"),   map-get($base, "columns"), $_base_columns) !default;
$base-gaps      : if(map.has-key($base, "gaps"),      map-get($base, "gaps"), $_base_gaps) !default;
$base-max-width : if(map.has-key($base, "max-width"), map-get($base, "max-width"), $_base_max-width) !default;
$base-min-width : if(map.has-key($base, "min-width"), map-get($base, "min-width"), $_base_min-width) !default;

@mixin base() {

  min-width     : $base-min-width;
  display       : grid;
  grid          : var(--grid-template-rows) / var(--grid-template-columns);
  grid-gap      : var(--grid-spacer) var(--grid-gutter);
  align-content : start;

  --grid-column-count     : 6;
  --grid-template-rows    : auto;
  --grid-template-columns : minmax(0, 1fr) repeat(var(--grid-column-count), minmax(0, var(--grid-column-width))) minmax(0, 1fr);
  --grid-column-width     : calc(#{$base-max-width} / var(--grid-column-count) - (var(--grid-gutter, 0px) - (var(--grid-gutter, 0px) / var(--grid-column-count))));
  --grid-gutter           : var(--grid-gap, 50px);
  --grid-spacer           : 0;
  --grid-column           : 1 / -1;
  --grid-column-repeat    : var(--grid-column-count);

  @content;

}