////////////////////////////////////////////////////////////////////////////////
// Colour Palette
////////////////////////////////////////////////////////////////////////////////

@use "./modules/colour";

// Adjust these to amend the lightness or darkness amounts for the colours lsited below.. 

$_lightness : 15% !default;
$_darkness  : 20% !default;

// =============================================================================
// Common Colours
// =============================================================================

$red          : #97080E !default;
$red-light    : colour.lighten($red, $_lightness) !default;
$red-dark     : colour.darken($red, $_darkness) !default;

$orange       : #DA4B0F !default;
$orange-light : colour.lighten($orange, $_lightness) !default;
$orange-dark  : colour.darken($orange, $_darkness) !default;

$yellow       : #E9B104 !default;
$yellow-light : colour.lighten($yellow, $_lightness) !default;
$yellow-dark  : colour.darken($yellow, $_darkness) !default;

$green        : #488C13 !default;
$green-light  : colour.lighten($green, $_lightness) !default;
$green-dark   : colour.darken($green, $_darkness) !default;

$blue         : #1B55C0 !default;
$blue-light   : colour.lighten($blue, $_lightness) !default;
$blue-dark    : colour.darken($blue, $_darkness) !default;

$pink         : #E05D6B !default;
$pink-light   : colour.lighten($pink, $_lightness) !default;
$pink-dark    : colour.darken($pink, $_darkness) !default;

$purple       : #613D5A !default;
$purple-light : colour.lighten($purple, $_lightness) !default;
$purple-dark  : colour.darken($purple, $_darkness) !default;

$grey         : #787878 !default;
$grey-light   : colour.lighten($grey, $_lightness) !default;
$grey-dark    : colour.darken($grey, $_darkness) !default;

$brown        : #774F38 !default;
$brown-light  : colour.lighten($brown, $_lightness) !default;
$brown-dark   : colour.darken($brown, $_darkness) !default;

$white        : #FFFFFF !default ;
$white-dark   : colour.lighten($white, $_lightness) !default;

$black        : #000000 !default ;
$black-light  : colour.darken($black, $_darkness) !default;

@forward "./variables/brand-colours";