@charset "UTF-8";

// ─ Box Drawings Light Horizontal
$box-drawings-light-horizontal : "/2500";

// ━ Box Drawings Heavy Horizontal
$box-drawings-heavy-horizontal : "/2501";

// │ Box Drawings Light Vertical
$box-drawings-light-vertical : "/2502";

// ┃ Box Drawings Heavy Vertical
$box-drawings-heavy-vertical : "/2503";

// ┄ Box Drawings Light Triple Dash Horizontal
$box-drawings-light-triple-dash-horizontal : "/2504";

// ┅ Box Drawings Heavy Triple Dash Horizontal
$box-drawings-heavy-triple-dash-horizontal : "/2505";

// ┆ Box Drawings Light Triple Dash Vertical
$box-drawings-light-triple-dash-vertical : "/2506";

// ┇ Box Drawings Heavy Triple Dash Vertical
$box-drawings-heavy-triple-dash-vertical : "/2507";

// ┈ Box Drawings Light Quadruple Dash Horizontal
$box-drawings-light-quadruple-dash-horizontal : "/2508";

// ┉ Box Drawings Heavy Quadruple Dash Horizontal
$box-drawings-heavy-quadruple-dash-horizontal : "/2509";

// ┊ Box Drawings Light Quadruple Dash Vertical
$box-drawings-light-quadruple-dash-vertical : "/250A";

// ┋ Box Drawings Heavy Quadruple Dash Vertical
$box-drawings-heavy-quadruple-dash-vertical : "/250B";

// ┌ Box Drawings Light Down And Right
$box-drawings-light-down-and-right : "/250C";

// ┍ Box Drawings Down Light And Right Heavy
$box-drawings-down-light-and-right-heavy : "/250D";

// ┎ Box Drawings Down Heavy And Right Light
$box-drawings-down-heavy-and-right-light : "/250E";

// ┏ Box Drawings Heavy Down And Right
$box-drawings-heavy-down-and-right : "/250F";

// ┐ Box Drawings Light Down And Left
$box-drawings-light-down-and-left : "/2510";

// ┑ Box Drawings Down Light And Left Heavy
$box-drawings-down-light-and-left-heavy : "/2511";

// ┒ Box Drawings Down Heavy And Left Light
$box-drawings-down-heavy-and-left-light : "/2512";

// ┓ Box Drawings Heavy Down And Left
$box-drawings-heavy-down-and-left : "/2513";

// └ Box Drawings Light Up And Right
$box-drawings-light-up-and-right : "/2514";

// ┕ Box Drawings Up Light And Right Heavy
$box-drawings-up-light-and-right-heavy : "/2515";

// ┖ Box Drawings Up Heavy And Right Light
$box-drawings-up-heavy-and-right-light : "/2516";

// ┗ Box Drawings Heavy Up And Right
$box-drawings-heavy-up-and-right : "/2517";

// ┘ Box Drawings Light Up And Left
$box-drawings-light-up-and-left : "/2518";

// ┙ Box Drawings Up Light And Left Heavy
$box-drawings-up-light-and-left-heavy : "/2519";

// ┚ Box Drawings Up Heavy And Left Light
$box-drawings-up-heavy-and-left-light : "/251A";

// ┛ Box Drawings Heavy Up And Left
$box-drawings-heavy-up-and-left : "/251B";

// ├ Box Drawings Light Vertical And Right
$box-drawings-light-vertical-and-right : "/251C";

// ┝ Box Drawings Vertical Light And Right Heavy
$box-drawings-vertical-light-and-right-heavy : "/251D";

// ┞ Box Drawings Up Heavy And Right Down Light
$box-drawings-up-heavy-and-right-down-light : "/251E";

// ┟ Box Drawings Down Heavy And Right Up Light
$box-drawings-down-heavy-and-right-up-light : "/251F";

// ┠ Box Drawings Vertical Heavy And Right Light
$box-drawings-vertical-heavy-and-right-light : "/2520";

// ┡ Box Drawings Down Light And Right Up Heavy
$box-drawings-down-light-and-right-up-heavy : "/2521";

// ┢ Box Drawings Up Light And Right Down Heavy
$box-drawings-up-light-and-right-down-heavy : "/2522";

// ┣ Box Drawings Heavy Vertical And Right
$box-drawings-heavy-vertical-and-right : "/2523";

// ┤ Box Drawings Light Vertical And Left
$box-drawings-light-vertical-and-left : "/2524";

// ┥ Box Drawings Vertical Light And Left Heavy
$box-drawings-vertical-light-and-left-heavy : "/2525";

// ┦ Box Drawings Up Heavy And Left Down Light
$box-drawings-up-heavy-and-left-down-light : "/2526";

// ┧ Box Drawings Down Heavy And Left Up Light
$box-drawings-down-heavy-and-left-up-light : "/2527";

// ┨ Box Drawings Vertical Heavy And Left Light
$box-drawings-vertical-heavy-and-left-light : "/2528";

// ┩ Box Drawings Down Light And Left Up Heavy
$box-drawings-down-light-and-left-up-heavy : "/2529";

// ┪ Box Drawings Up Light And Left Down Heavy
$box-drawings-up-light-and-left-down-heavy : "/252A";

// ┫ Box Drawings Heavy Vertical And Left
$box-drawings-heavy-vertical-and-left : "/252B";

// ┬ Box Drawings Light Down And Horizontal
$box-drawings-light-down-and-horizontal : "/252C";

// ┭ Box Drawings Left Heavy And Right Down Light
$box-drawings-left-heavy-and-right-down-light : "/252D";

// ┮ Box Drawings Right Heavy And Left Down Light
$box-drawings-right-heavy-and-left-down-light : "/252E";

// ┯ Box Drawings Down Light And Horizontal Heavy
$box-drawings-down-light-and-horizontal-heavy : "/252F";

// ┰ Box Drawings Down Heavy And Horizontal Light
$box-drawings-down-heavy-and-horizontal-light : "/2530";

// ┱ Box Drawings Right Light And Left Down Heavy
$box-drawings-right-light-and-left-down-heavy : "/2531";

// ┲ Box Drawings Left Light And Right Down Heavy
$box-drawings-left-light-and-right-down-heavy : "/2532";

// ┳ Box Drawings Heavy Down And Horizontal
$box-drawings-heavy-down-and-horizontal : "/2533";

// ┴ Box Drawings Light Up And Horizontal
$box-drawings-light-up-and-horizontal : "/2534";

// ┵ Box Drawings Left Heavy And Right Up Light
$box-drawings-left-heavy-and-right-up-light : "/2535";

// ┶ Box Drawings Right Heavy And Left Up Light
$box-drawings-right-heavy-and-left-up-light : "/2536";

// ┷ Box Drawings Up Light And Horizontal Heavy
$box-drawings-up-light-and-horizontal-heavy : "/2537";

// ┸ Box Drawings Up Heavy And Horizontal Light
$box-drawings-up-heavy-and-horizontal-light : "/2538";

// ┹ Box Drawings Right Light And Left Up Heavy
$box-drawings-right-light-and-left-up-heavy : "/2539";

// ┺ Box Drawings Left Light And Right Up Heavy
$box-drawings-left-light-and-right-up-heavy : "/253A";

// ┻ Box Drawings Heavy Up And Horizontal
$box-drawings-heavy-up-and-horizontal : "/253B";

// ┼ Box Drawings Light Vertical And Horizontal
$box-drawings-light-vertical-and-horizontal : "/253C";

// ┽ Box Drawings Left Heavy And Right Vertical Light
$box-drawings-left-heavy-and-right-vertical-light : "/253D";

// ┾ Box Drawings Right Heavy And Left Vertical Light
$box-drawings-right-heavy-and-left-vertical-light : "/253E";

// ┿ Box Drawings Vertical Light And Horizontal Heavy
$box-drawings-vertical-light-and-horizontal-heavy : "/253F";

// ╀ Box Drawings Up Heavy And Down Horizontal Light
$box-drawings-up-heavy-and-down-horizontal-light : "/2540";

// ╁ Box Drawings Down Heavy And Up Horizontal Light
$box-drawings-down-heavy-and-up-horizontal-light : "/2541";

// ╂ Box Drawings Vertical Heavy And Horizontal Light
$box-drawings-vertical-heavy-and-horizontal-light : "/2542";

// ╃ Box Drawings Left Up Heavy And Right Down Light
$box-drawings-left-up-heavy-and-right-down-light : "/2543";

// ╄ Box Drawings Right Up Heavy And Left Down Light
$box-drawings-right-up-heavy-and-left-down-light : "/2544";

// ╅ Box Drawings Left Down Heavy And Right Up Light
$box-drawings-left-down-heavy-and-right-up-light : "/2545";

// ╆ Box Drawings Right Down Heavy And Left Up Light
$box-drawings-right-down-heavy-and-left-up-light : "/2546";

// ╇ Box Drawings Down Light And Up Horizontal Heavy
$box-drawings-down-light-and-up-horizontal-heavy : "/2547";

// ╈ Box Drawings Up Light And Down Horizontal Heavy
$box-drawings-up-light-and-down-horizontal-heavy : "/2548";

// ╉ Box Drawings Right Light And Left Vertical Heavy
$box-drawings-right-light-and-left-vertical-heavy : "/2549";

// ╊ Box Drawings Left Light And Right Vertical Heavy
$box-drawings-left-light-and-right-vertical-heavy : "/254A";

// ╋ Box Drawings Heavy Vertical And Horizontal
$box-drawings-heavy-vertical-and-horizontal : "/254B";

// ╌ Box Drawings Light Double Dash Horizontal
$box-drawings-light-double-dash-horizontal : "/254C";

// ╍ Box Drawings Heavy Double Dash Horizontal
$box-drawings-heavy-double-dash-horizontal : "/254D";

// ╎ Box Drawings Light Double Dash Vertical
$box-drawings-light-double-dash-vertical : "/254E";

// ╏ Box Drawings Heavy Double Dash Vertical
$box-drawings-heavy-double-dash-vertical : "/254F";

// ═ Box Drawings Double Horizontal
$box-drawings-double-horizontal : "/2550";

// ║ Box Drawings Double Vertical
$box-drawings-double-vertical : "/2551";

// ╒ Box Drawings Down Single And Right Double
$box-drawings-down-single-and-right-double : "/2552";

// ╓ Box Drawings Down Double And Right Single
$box-drawings-down-double-and-right-single : "/2553";

// ╔ Box Drawings Double Down And Right
$box-drawings-double-down-and-right : "/2554";

// ╕ Box Drawings Down Single And Left Double
$box-drawings-down-single-and-left-double : "/2555";

// ╖ Box Drawings Down Double And Left Single
$box-drawings-down-double-and-left-single : "/2556";

// ╗ Box Drawings Double Down And Left
$box-drawings-double-down-and-left : "/2557";

// ╘ Box Drawings Up Single And Right Double
$box-drawings-up-single-and-right-double : "/2558";

// ╙ Box Drawings Up Double And Right Single
$box-drawings-up-double-and-right-single : "/2559";

// ╚ Box Drawings Double Up And Right
$box-drawings-double-up-and-right : "/255A";

// ╛ Box Drawings Up Single And Left Double
$box-drawings-up-single-and-left-double : "/255B";

// ╜ Box Drawings Up Double And Left Single
$box-drawings-up-double-and-left-single : "/255C";

// ╝ Box Drawings Double Up And Left
$box-drawings-double-up-and-left : "/255D";

// ╞ Box Drawings Vertical Single And Right Double
$box-drawings-vertical-single-and-right-double : "/255E";

// ╟ Box Drawings Vertical Double And Right Single
$box-drawings-vertical-double-and-right-single : "/255F";

// ╠ Box Drawings Double Vertical And Right
$box-drawings-double-vertical-and-right : "/2560";

// ╡ Box Drawings Vertical Single And Left Double
$box-drawings-vertical-single-and-left-double : "/2561";

// ╢ Box Drawings Vertical Double And Left Single
$box-drawings-vertical-double-and-left-single : "/2562";

// ╣ Box Drawings Double Vertical And Left
$box-drawings-double-vertical-and-left : "/2563";

// ╤ Box Drawings Down Single And Horizontal Double
$box-drawings-down-single-and-horizontal-double : "/2564";

// ╥ Box Drawings Down Double And Horizontal Single
$box-drawings-down-double-and-horizontal-single : "/2565";

// ╦ Box Drawings Double Down And Horizontal
$box-drawings-double-down-and-horizontal : "/2566";

// ╧ Box Drawings Up Single And Horizontal Double
$box-drawings-up-single-and-horizontal-double : "/2567";

// ╨ Box Drawings Up Double And Horizontal Single
$box-drawings-up-double-and-horizontal-single : "/2568";

// ╩ Box Drawings Double Up And Horizontal
$box-drawings-double-up-and-horizontal : "/2569";

// ╪ Box Drawings Vertical Single And Horizontal Double
$box-drawings-vertical-single-and-horizontal-double : "/256A";

// ╫ Box Drawings Vertical Double And Horizontal Single
$box-drawings-vertical-double-and-horizontal-single : "/256B";

// ╬ Box Drawings Double Vertical And Horizontal
$box-drawings-double-vertical-and-horizontal : "/256C";

// ╭ Box Drawings Light Arc Down And Right
$box-drawings-light-arc-down-and-right : "/256D";

// ╮ Box Drawings Light Arc Down And Left
$box-drawings-light-arc-down-and-left : "/256E";

// ╯ Box Drawings Light Arc Up And Left
$box-drawings-light-arc-up-and-left : "/256F";

// ╰ Box Drawings Light Arc Up And Right
$box-drawings-light-arc-up-and-right : "/2570";

// ╱ Box Drawings Light Diagonal Upper Right To Lower Left
$box-drawings-light-diagonal-upper-right-to-lower-left : "/2571";

// ╲ Box Drawings Light Diagonal Upper Left To Lower Right
$box-drawings-light-diagonal-upper-left-to-lower-right : "/2572";

// ╳ Box Drawings Light Diagonal Cross
$box-drawings-light-diagonal-cross : "/2573";

// ╴ Box Drawings Light Left
$box-drawings-light-left : "/2574";

// ╵ Box Drawings Light Up
$box-drawings-light-up : "/2575";

// ╶ Box Drawings Light Right
$box-drawings-light-right : "/2576";

// ╷ Box Drawings Light Down
$box-drawings-light-down : "/2577";

// ╸ Box Drawings Heavy Left
$box-drawings-heavy-left : "/2578";

// ╹ Box Drawings Heavy Up
$box-drawings-heavy-up : "/2579";

// ╺ Box Drawings Heavy Right
$box-drawings-heavy-right : "/257A";

// ╻ Box Drawings Heavy Down
$box-drawings-heavy-down : "/257B";

// ╼ Box Drawings Light Left And Heavy Right
$box-drawings-light-left-and-heavy-right : "/257C";

// ╽ Box Drawings Light Up And Heavy Down
$box-drawings-light-up-and-heavy-down : "/257D";

// ╾ Box Drawings Heavy Left And Light Right
$box-drawings-heavy-left-and-light-right : "/257E";

// ╿ Box Drawings Heavy Up And Light Down
$box-drawings-heavy-up-and-light-down : "/257F";