@charset "UTF-8";

// ₠ Euro-currency Sign
$euro-currency-sign : "/20A0";

// ₡ Colon Sign
$colon-sign : "/20A1";

// ₢ Cruzeiro Sign
$cruzeiro-sign : "/20A2";

// ₣ French Franc Sign
$french-franc-sign : "/20A3";

// ₤ Lira Sign
$lira-sign : "/20A4";

// ₥ Mill Sign
$mill-sign : "/20A5";

// ₦ Naira Sign
$naira-sign : "/20A6";

// ₧ Peseta Sign
$peseta-sign : "/20A7";

// ₨ Rupee Sign
$rupee-sign : "/20A8";

// ₩ Won Sign
$won-sign : "/20A9";

// ₪ New Sheqel Sign
$new-sheqel-sign : "/20AA";

// ₫ Dong Sign
$dong-sign : "/20AB";

// € Euro Sign
$euro-sign : "/20AC";

// ₭ Kip Sign
$kip-sign : "/20AD";

// ₮ Tugrik Sign
$tugrik-sign : "/20AE";

// ₯ Drachma Sign
$drachma-sign : "/20AF";

// ₰ German Penny Symbol
$german-penny-symbol : "/20B0";

// ₱ Peso Sign
$peso-sign : "/20B1";

// ₲ Guarani Sign
$guarani-sign : "/20B2";

// ₳ Austral Sign
$austral-sign : "/20B3";

// ₴ Hryvnia Sign
$hryvnia-sign : "/20B4";

// ₵ Cedi Sign
$cedi-sign : "/20B5";

// ₶ Livre Tournois Sign
$livre-tournois-sign : "/20B6";

// ₸ Tenge Sign
$tenge-sign : "/20B8";

// ₹ Indian Rupee Sign
$indian-rupee-sign : "/20B9";
