@charset "UTF-8";

// ℀ Account Of
$account-of: "/2100";

// ℁ Addressed To The Subject
$addressed-to-the-subject: "/2101";

// ℂ Double-struck Capital C
$double-struck-capital-c: "/2102";

// ℃ Degree Celsius
$degree-celsius: "/2103";

// ℄ Centre Line Symbol
$centre-line-symbol: "/2104";

// ℅ Care Of
$care-of: "/2105";

// ℆ Cada Una
$cada-una: "/2106";

// ℇ Euler Constant
$euler-constant: "/2107";

// ℈ Scruple
$scruple: "/2108";

// ℉ Degree Fahrenheit
$degree-fahrenheit: "/2109";

// ℊ Script Small G
$script-small-g: "/210A";

// ℋ Script Capital H
$script-capital-h: "/210B";

// ℌ Black-letter Capital H
$black-letter-capital-h: "/210C";

// ℍ Double-struck Capital H
$double-struck-capital-h: "/210D";

// ℎ Planck Constant
$planck-constant: "/210E";

// ℏ Planck Constant Over Two Pi
$planck-constant-over-two-pi: "/210F";

// ℐ Script Capital I
$script-capital-i: "/2110";

// ℑ Black-letter Capital I
$black-letter-capital-i: "/2111";

// ℒ Script Capital L
$script-capital-l: "/2112";

// ℓ Script Small L
$script-small-l: "/2113";

// ℔ L B Bar Symbol
$l-b-bar-symbol: "/2114";

// ℕ Double-struck Capital N
$double-struck-capital-n: "/2115";

// № Numero Sign
$numero-sign: "/2116";

// ℗ Sound Recording Copyright
$sound-recording-copyright: "/2117";

// ℘ Script Capital P
$script-capital-p: "/2118";

// ℙ Double-struck Capital P
$double-struck-capital-p: "/2119";

// ℚ Double-struck Capital Q
$double-struck-capital-q: "/211A";

// ℛ Script Capital R
$script-capital-r: "/211B";

// ℜ Black-letter Capital R
$black-letter-capital-r: "/211C";

// ℝ Double-struck Capital R
$double-struck-capital-r: "/211D";

// ℞ Prescription Take
$prescription-take: "/211E";

// ℟ Response
$response: "/211F";

// ℠ Service Mark
$service-mark: "/2120";

// ℡ Telephone Sign
$telephone-sign: "/2121";

// ™ Trade Mark Sign
$trade-mark-sign: "/2122";

// ℣ Versicle
$versicle: "/2123";

// ℤ Double-struck Capital Z
$double-struck-capital-z: "/2124";

// ℥ Ounce Sign
$ounce-sign: "/2125";

// Ω Ohm Sign
$ohm-sign: "/2126";

// ℧ Inverted Ohm Sign
$inverted-ohm-sign: "/2127";

// ℨ Black-letter Capital Z
$black-letter-capital-z: "/2128";

// ℩ Turned Greek Small Letter Iota
$turned-greek-small-letter-iota: "/2129";

// K Kelvin Sign
$kelvin-sign: "/212A";

// Å Angstrom Sign
$angstrom-sign: "/212B";

// ℬ Script Capital B
$script-capital-b: "/212C";

// ℭ Black-letter Capital C
$black-letter-capital-c: "/212D";

// ℮ Estimated Symbol
$estimated-symbol: "/212E";

// ℯ Script Small E
$script-small-e: "/212F";

// ℰ Script Capital E
$script-capital-e: "/2130";

// ℱ Script Capital F
$script-capital-f: "/2131";

// Ⅎ Turned Capital F
$turned-capital-f: "/2132";

// ℳ Script Capital M
$script-capital-m: "/2133";

// ℴ Script Small O
$script-small-o: "/2134";

// ℵ Alef Symbol
$alef-symbol: "/2135";

// ℶ Bet Symbol
$bet-symbol: "/2136";

// ℷ Gimel Symbol
$gimel-symbol: "/2137";

// ℸ Dalet Symbol
$dalet-symbol: "/2138";

// ℹ Information Source
$information-source: "/2139";

// ℺ Rotated Capital Q
$rotated-capital-q: "/213A";

// ℻ Facsimile Sign
$facsimile-sign: "/213B";

// ℼ Double-struck Small Pi
$double-struck-small-pi: "/213C";

// ℽ Double-struck Small Gamma
$double-struck-small-gamma: "/213D";

// ℾ Double-struck Capital Gamma
$double-struck-capital-gamma: "/213E";

// ℿ Double-struck Capital Pi
$double-struck-capital-pi: "/213F";

// ⅀ Double-struck N-ary Summation
$double-struck-n-ary-summation: "/2140";

// ⅁ Turned Sans-serif Capital G
$turned-sans-serif-capital-g: "/2141";

// ⅂ Turned Sans-serif Capital L
$turned-sans-serif-capital-l: "/2142";

// ⅃ Reversed Sans-serif Capital L
$reversed-sans-serif-capital-l: "/2143";

// ⅄ Turned Sans-serif Capital Y
$turned-sans-serif-capital-y: "/2144";

// ⅅ Double-struck Italic Capital D
$double-struck-italic-capital-d: "/2145";

// ⅆ Double-struck Italic Small D
$double-struck-italic-small-d: "/2146";

// ⅇ Double-struck Italic Small E
$double-struck-italic-small-e: "/2147";

// ⅈ Double-struck Italic Small I
$double-struck-italic-small-i: "/2148";

// ⅉ Double-struck Italic Small J
$double-struck-italic-small-j: "/2149";

// ⅊ Property Line
$property-line: "/214A";

// ⅋ Turned Ampersand
$turned-ampersand: "/214B";

// ⅍ Aktieselskab
$aktieselskab: "/214D";

// ⅎ Turned Small F
$turned-small-f : "/214E";
