@mixin transition-ease($args...) {

	$values : ();
	$important : null;

	@each $value in $args {

		@if is-important($value) {
			$important : !important;
		} @else {
			$values: append( $values, $value, comma);
		}
	}

  transition-timing-function : $values;

}
