@mixin dropdown($height:40, $background:$grey, $select:null, $hover:null, $colour:null, $borders:null, $arrow:null, $target:".dropdown") {
  $select:if($select == null, darken($background, 10), $select);
  $hover:if($hover == null, darken($select, 10), $hover);
  $colour:if($colour == null, light-or-dark($background, $white, $colour), $colour);
  $borders:if($borders == null, darken($select, 10), $borders);

  $arrow:if($arrow == null, 10, $arrow);
  #{$target} { position:relative; width:100%; height:$height + px; color:$colour; font-size:$fs; @extend .font1; z-index:2;
    select { background-color:white; height:$height + px; color:light-or-dark($background, $white, $colour); padding:0 $gap0; background-color:$background; width:100%;  border:none; font-size:$size; }
    div[role="label"] { @include vertical("span"); padding:0 $gap0;  color:light-or-dark($background, $white, black); @include ani(background-color color); @extend %unselectable, %pointer, %no-wrap; overflow:hidden; background-color:$background; text-transform: capitalize; position:absolute; top:0; left:0; z-index:1; top:0; left:0; width:100%; height:$height + px; display:flex; align-items: center; justify-content: left;
      &:after { content:""; border-top:solid 3 + px light-or-dark($background, lighten($background,40), darken($background,30)); border-right:solid 3 + px light-or-dark($background, lighten($background,40), darken($background,30)); position:absolute; top:50%; margin-top:-$arrow/2 + px; right:$gaps - $arrow/2 + px; @include rotate(45deg); @include size($arrow); @include ani(rotate border-color margin-top)}
      &:before { content:""; background-color:$background; @include ani(background-color); position:absolute; top:0; right:0; width:$height + px; height:$height + px; }
    }
    ul { height:0; width:100%;overflow: auto; overflow-x:hidden; position:relative; top:$height + px; @include ani(height 0 0.5);
      &::-webkit-scrollbar { width:5px; height:50%; display:none; z-index:2; }
      &::-webkit-scrollbar-track { background-color:$background; }
      &::-webkit-scrollbar-thumb { background-color:darken($background,30); }
      &.clicked { @include ani(height); }
      li { @include vertical("span"); width:100%; min-height:$height + px; height:auto; padding:0 $gap; background-color:$background; border-bottom:1 + px solid $borders; text-transform: capitalize; @include ani(background-color color); @extend %unselectable, %pointer; display:flex; align-items: center; justify-content: left;
        &:hover { background-color:$hover; color:light-or-dark($hover, $white, $colour)}
        &.selected { background-color:$select; color:light-or-dark($select, $white, $colour); @extend %unselectable, %pointerevents, %cursor; }
        &.disabled { background-color:lighten($background,4); color:col($colour, 0.5); @extend %unselectable, %pointerevents, %cursor;}
        &:last-of-type { border-bottom:0;}
      }
    }
    // Hoverii
    &.hover { z-index:999;
      div[role="label"] { background-color:$select; color:light-or-dark($select, $white, $colour);
        &:after { @include rotate(135); margin-top:-$arrow/2 + px; border-top-color:white; border-right-color:white; }
        &:before { background-color:$select; }
      }
      ul { height:50vh;
        &::-webkit-scrollbar { display:block; }
      }
    }
    @content;
  }
}
