@mixin selection($background-color:$selection, $text-colour:$background-color) {

  @if ($text-colour == null or $text-colour == $background-color) {
    $text-colour:colour-contrast($background-color);
  }
  ::-moz-selection {
    color: $text-colour;
    background: col($background-color, 0.5);
    @content;
  }
  ::selection {
    color: $text-colour;
    background: col($background-color, 0.5);
    @content;
  }
}
