@mixin var($property, $variable:primary, $opacity:1, $important:false) {

  $variable-value : $variable;
  $fallback-value : null;

  // Allow the third param (opacity) to accept booleans.
  // This will work in place of the $importnat param.
  @if is-bool($opacity) and $opacity == true {
    $important : $opacity;
    $opacity : 1;
  }

  $value : var-value($variable, $opacity);
  $variable-value : if(is-list($value), nth($value, 1), $value);
  $fallback-value : if(is-list($value), nth($value, 2), null);

  @if ( not is-null($fallback-value) ) {
    #{$property} : $fallback-value if($important, !important, null);
  }

  @supports(--css: variables) {
    #{$property} : $variable-value if($important, !important, null);
  }


}
