@mixin container($args...) {

  $defaults : (
    gutters    : $gutters,
    break      : $medium,
    max-width  : $max
  );

  $settings : get-settings($defaults, $args...);

  $gutters    : map-get($settings, gutters);
  $break      : map-get($settings, break);
  $max        : map-get($settings, max-width);
  $important  : map-get($settings, important);

  width:100%;
  position:relative;
  display:block;
  margin-left:auto; margin-right:auto;
  max-width:add-unit($max);

	padding-left  : var(--gutters, add-unit($gutters)) $important;
	padding-right : var(--gutters, add-unit($gutters)) $important;

}
