@mixin container($args...) {

  $defaults : (
    gutter1   : var(--gutter, #{$gap2}),
    gutter2   : var(--gutter, #{$gap1}),
    break     : $medium,
    max-width : $max
  );

  $settings : get-settings($defaults, $args...);

  $gutter1   : map-get($settings, gutter1);
  $gutter2   : map-get($settings, gutter2);
  $break     : map-get($settings, break);
  $max       : map-get($settings, max-width);
  $important : map-get($settings, important);

  width:100%;
  position:relative;
  display:block;
  margin-left:auto; margin-right:auto;
  max-width:add-unit($max);

  @if not is-null($gutter1) {

    @if is-var($gutter1) {
      padding-left  : $gutter1 $important;
      padding-right : $gutter1 $important;
    } @else {
      padding-left  : add-unit($gutter1) $important;
      padding-right : add-unit($gutter1) $important;
    }

  }

  @if not is-var($gutter2) and not is-null($gutter2) {

    @include break($break, '<') {
      padding-left  : add-unit($gutter2) $important;
      padding-right : add-unit($gutter2) $important;
    }

  }

}
