@mixin container($args...) {

  $defaults : (
    gutters    : $gutters,
    max-width  : $max
  );

  $settings : get-settings($defaults, $args...);

  $guts       : map-get($settings, gutters);
  $max        : map-get($settings, max-width);
  $important  : map-get($settings, important);

  width:100%; max-width:add-unit($max);
  position:relative;
  display:block;
  margin-left:auto; margin-right:auto;

	@if is-number($guts) and $guts > 1 {
		padding-left  : add-unit($gutters) $important;
		padding-right : add-unit($gutters) $important;
	} @elseif is-string($guts) {
		padding-left  : var($gut) $important;
		padding-right : var($gut) $important;
	}

}
