// Style an element into a responsive square

@mixin square($size:50, $sudo:after) {
  display:block;
  overflow:hidden;
  max-width:add-unit($size);
  width:100%;
  &#{pseudo($sudo)} {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
