// @mixin center($width:null) {
//   @if is-null($width) {
//     position:absolute;
//     left:0%;
//     right:0%;
//     margin-left:auto;
//     margin-right:auto;
//   } @else {
//     position:absolute;
//     left:50%;
//     margin-left:- add-unit($width/2);
//     width:add-unit($width);
//   }
// }

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    @include transform(y -50%, x -50%);
  } @else if ($horizontal) {
    left: 50%;
    @include transform(y -50%, x 0);
  } @else if ($vertical) {
    top: 50%;
    @include transform(y 0, x -50%);
  }
}
