@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    @include transform(y -50%, x -50%);
  } @else if ($horizontal) {
    left: 50%;
    @include transform(y -50%, x 0);
  } @else if ($vertical) {
    top: 50%;
    @include transform(y 0, x -50%);
  }
}
