@mixin flip($direction:vertical) {

  @if contains((vertical, horizontal), $direction, true) {
    @include transform(scaleY -1, scaleX -1);
  } @else {

    @if $direction == vertical {
      @include scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }

    @if $direction == horizontal {
      @include scaleY(-1);
      filter: FlipV;
      -ms-filter: "FlipV";
    }
  }

}
