@mixin flex-grid($count, $gutter:$gap, $bottom:true, $important:false) {

  $gutter : remove-unit(to-number($gutter));

  @if $count <= 1 {
    flex-basis : auto $important;
    width:100%;
    @if is-number($gutter) and $gutter != null $gutter > 0 {
      margin-right:0 $imp;
      @if $bottom { margin-bottom:add-unit(if(is-bool($bottom), $gutter, $bottom)); }
    }
  }
  @elseif $count > 1 {
    @if is-number($gutter) and $gutter != null {

      flex-basis : calc(100% / #{$count} - #{add-unit(($gutter * ($count - 1) / $count))}) $important;

      margin-right:add-unit($gutter);

      @for $i from 1 through $count {
        &:nth-of-type(#{$count + n}) {
          margin-right:0;
        }
      }
      @if $bottom {
        margin-bottom:add-unit(if(is-bool($bottom), $gutter, $bottom));
      }

    } @else {
      flex-basis : calc(100% / #{$count}) $important;
    }
  }
}
