////////////////////////////////////////////////////////////////////////////////
// Settings                                                            #settings
////////////////////////////////////////////////////////////////////////////////

// =============================================================================
// Options                                                              #options
// =============================================================================

// Show warnings
$warnings : true !default;

// Include a variety of custom-element and markup styling
$global-styling : true !default;

// Default border radius
$border-radius : 10 !default;

// Default units
$default-unit : px !default;

// Default units for fonts and line-heights
$default-font-unit : px !default;

// Default units for timings
$default-timing-unit : s !default;

// This only works when css variable colours are defined as an RGB list, NOT Hex colours.
$support-css-variable-alpha-colours : false !default;
$support-css-variable-alpha-colors : $support-css-variable-alpha-colours !default;

// =============================================================================
// Normalisers                                                        #normalise
// =============================================================================

$normalise                   : true  !default;
$normalise-section-elements  : true  !default;
$normalise-header-elements   : true  !default;
$normalise-grouping-elements : true  !default;
$normalise-table-elements    : true  !default;
$normalise-form-elements     : true  !default;
$normalise-embedded-elements : true  !default;
$normalise-text-elements     : true  !default;
$normalise-emailers          : false !default;

// =============================================================================
// Aspect Ratios                                                  #aspect-ratios
// =============================================================================

$aspect-ratios : (
  4x3   : 75%,
  16x9  : 56.25%,
  16x10 : 62.5%,
) !default;

// =============================================================================
// Directories                                                      #directories
// =============================================================================

$images  : "/assets/images/" !default;
$sprites : "/assets/images/sprites/" !default;
$fonts   : "/assets/fonts/" !default;

// =============================================================================
// Gaps                                                                    #gaps
// =============================================================================

$gaps : 16 !default;
$gap  : gap(1) !default;
$gap0 : gap(0) !default;
$gap1 : add-unit($gap) !default;
$gap2 : gap(2) !default;
$gap3 : gap(3) !default;
$gap4 : gap(4) !default;
$gap5 : gap(5) !default;
$gap6 : gap(6) !default;

// =============================================================================
// Gutters                                                              #gutters
// =============================================================================

$gutter-left     : $gap2!default;
$gutter-right    : $gap2!default;
$gutters         : $gutter-left + $gutter-right !default;

// =============================================================================
// Spacers                                                              #spacers
// =============================================================================

$spacing:            5 !default;
$vertical-spacing:   $spacing !default;
$horizontal-spacing: $spacing !default;

// Horizontal Spacers
$hspace:  space(1, vw, $horizontal-spacing) !default;
$hspace1: $hspace  !default;
$hspace0: space(0, vw, $horizontal-spacing) !default;
$hspace2: space(2, vw, $horizontal-spacing) !default;
$hspace3: space(3, vw, $horizontal-spacing) !default;
$hspace4: space(4, vw, $horizontal-spacing) !default;
$hspace5: space(5, vw, $horizontal-spacing) !default;

// Vertical Spacers
$vspace:  space(1, vh, $vertical-spacing) !default;
$vspace1: $vspace  !default;
$vspace0: space(0, vh, $vertical-spacing) !default;
$vspace2: space(2, vh, $vertical-spacing) !default;
$vspace3: space(3, vh, $vertical-spacing) !default;
$vspace4: space(4, vh, $vertical-spacing) !default;
$vspace5: space(5, vh, $vertical-spacing) !default;

// As this is likely to be used more often, these are aliased to the vspace variables
$space:  $vspace !default;
$space1: $vspace1 !default;
$space0: $vspace0 !default;
$space2: $vspace2 !default;
$space3: $vspace3 !default;
$space4: $vspace4 !default;
$space5: $vspace5 !default;

// =============================================================================
// Miscellaneous
// =============================================================================

// Shorthand for !important (for the lazy)
$imp : !important;

// =============================================================================
// Media Quries & Breakpoints                                     #media-queries
// =============================================================================

$mobile-first:  false !default;

$max:           1440px !default;
$min:           320px  !default;
$small:         480px  !default;
$large:         1200px !default;
$medium:        (($large - $small) / 2) + $small !default; // 780px
$small-medium:  (($medium - $small) / 2) + $small !default; // 630px

$show-breakpoints : false !default;
$show-breakpoints-selector : 'body.dev-environment' !default;

// =============================================================================
// Notches                                                              #notches
// =============================================================================

$support-notches : false !default;

$notches : (
  iphoneX : 30pt 209pt,
) !default;

// =============================================================================
// Text
// =============================================================================

@if $default-font-unit == 'rem' {
  $font-size: add-unit(1.6, $default-font-unit) !global !default;
  $h1: add-unit(remove-unit($font-size)*2.5,                                     $default-font-unit) !global !default; // 4.0em
  $h2: add-unit((($h1 - remove-unit($font-size)) / 2) + remove-unit($font-size), $default-font-unit) !global !default; // 2.8em
  $h3: add-unit((($h2 - remove-unit($font-size)) / 2) + remove-unit($font-size), $default-font-unit) !global !default; // 2.2em
  $h4: add-unit((($h3 - remove-unit($font-size)) / 2) + remove-unit($font-size), $default-font-unit) !global !default; // 1.9em
  $h5: add-unit((($h4 - remove-unit($font-size)) / 2) + remove-unit($font-size), $default-font-unit) !global !default; // 1.75em
  $h6: add-unit((($h5 - remove-unit($font-size)) / 2) + remove-unit($font-size), $default-font-unit) !global !default; // 1.675em
} @else {
  $font-size: add-unit(16, $default-font-unit) !global !default;
  $h1: add-unit(ceil((remove-unit($font-size)*2.5)),                                   $default-font-unit) !global !default; // 40px
  $h2: add-unit(ceil((($h1 - remove-unit($font-size)) / 2) + remove-unit($font-size)), $default-font-unit) !global !default; // 28px
  $h3: add-unit(ceil((($h2 - remove-unit($font-size)) / 2) + remove-unit($font-size)), $default-font-unit) !global !default; // 22px
  $h4: add-unit(ceil((($h3 - remove-unit($font-size)) / 2) + remove-unit($font-size)), $default-font-unit) !global !default; // 19px
  $h5: add-unit(ceil((($h4 - remove-unit($font-size)) / 2) + remove-unit($font-size)), $default-font-unit) !global !default; // 17px
  $h6: add-unit(ceil((($h5 - remove-unit($font-size)) / 2) + remove-unit($font-size)), $default-font-unit) !global !default; // 16px
}

// =============================================================================
// Colours
// =============================================================================

// Commmon
$red      : #97080E !default;
$red1     : $red !default;
$red2     : darken($red, 10) !default;
$red3     : lighten($red, 10) !default;

$orange   : #DA4B0F !default;
$orange1  : $orange !default;
$orange2  : darken($orange, 10) !default;
$orange3  : lighten($orange, 10) !default;

$yellow   : #E9B104 !default;
$yellow1  : $yellow !default;
$yellow2  : darken($yellow, 10) !default;
$yellow3  : lighten($yellow, 10) !default;

$green    : #488C13 !default;
$green1   : $green !default;
$green2   : darken($green, 10) !default;
$green3   : lighten($green, 10) !default;

$blue     : #1B55C0 !default;
$blue1    : $blue !default;
$blue2    : darken($blue, 10) !default;
$blue3    : lighten($blue, 10) !default;

$pink     : #E05D6B !default;
$pink1    : $pink !default;
$pink2    : darken($pink, 10) !default;
$pink3    : lighten($pink, 10) !default;

$purple   : #613D5A !default;
$purple1  : $purple !default;
$purple2  : darken($purple, 10) !default;
$purple3  : lighten($purple, 10) !default;

$grey     : #787878 !default;
$grey1    : $grey !default;
$grey2    : darken($grey, 10) !default;
$grey3    : lighten($grey, 10) !default;

$brown    : #774F38 !default;
$brown1   : $brown !default;
$brown2   : darken($brown, 10) !default;
$brown3   : lighten($brown, 10) !default;

$white    : #FFFFFF !default;
$white1   : $white !default;
$white2   : darken($white, 10) !default;

$black    : #000000 !default;
$black1   : $black !default;
$black2   : lighten($black, 10) !default;


// Social Media
$facebook:    #3A5897 !default;
$twitter:     #00aced !default;
$google:      #df5146 !default;
$youtube:     #CD1F1F !default;
$linkedin:    #1D77B5 !default;
$instagram:   #E33F5E !default;
$pinterest:   #BC071D !default;
$dailymotion: #0066DC !default;
$vine:        #14B487 !default;
$snapchat:    #FCFB00 !default;
$flickr:      #EB1D82 !default;
$vimeo:       #aad450 !default;
$wordpress:   #20759A !default;
$blogger:     #F4811E !default;
$thumbler:    #36465C !default;
$reddit :     #FC4501 !default;
$ello :       #221F1F !default;

$social-media-colours : (
  facebook:   $facebook,
  twitter:    $twitter,
  google:     $google,
  googleplus: $google,
  youtube:    $youtube,
  linkedin:   $linkedin,
  instagram:  $instagram,
  pinterest:  $pinterest,
  dailymotion:$dailymotion,
  vine:       $vine,
  snapchat:   $snapchat,
  flickr:     $flickr,
  vimeo:      $vimeo,
  wordpress:  $wordpress,
  blogger:    $blogger,
  thumbler:   $thumbler,
  reddit :    $reddit ,
  ello :      $ello
) !default;

// Special Colours
$yello:       #FFCB08      !default;
$selection:   #B2D3FA      !default;
$text-colour: $black       !default;
$text:        $text-colour !default;
