@mixin transition-delay($args...) {

	$values : ();
	$important : null;

	@each $value in $args {

		@if is-important($value) {
			$important : !important;
		} @else {
			$values: append( $values, add-unit($value, $default-timing-unit), comma);
		}
	}

  transition-delay : $values $important;

}
