$column-global-rules : inherit, initial, unset;
$break-before-after-rules : auto, always, left, right, recto, verso, page, column, region, avoid, avoid-page, avoid-column, avoid-region;
$break-inside-rules : auto, avoid, avoid-page, avoid-column, avoid-region;
$column-rule-style-rules : none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset;

// Columns for text
@mixin columns($count:2, $spacing:$gap, $width:20em, $target:null) {
  @include column-count($count);
  @if $count == 1 {
    @include column-width(auto);
    @include column-gap(normal);
  } @else {
    @if $width != null { @include column-width($width); }
    @if $spacing != null { @include column-gap($spacing); }
    @if $target == null {
      -webkit-column-break-inside:avoid; page-break-inside:avoid; break-inside:avoid;
    } @else {
      #{$target} { -webkit-column-break-inside:avoid; page-break-inside:avoid; break-inside:avoid;
        @if $spacing != null { margin-bottom:$spacing; }
      }
    }
  }
}

@mixin cols($args...) {
  @include columns($args);
}
